apiVersion: v1
kind: Service
metadata:
  name: anubis
  labels:
    app.kubernetes.io/name: anubis
    app.kubernetes.io/instance: anubis
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: metrics
      port: 9090
      targetPort: 9090
  selector:
    app.kubernetes.io/name: anubis
    app.kubernetes.io/instance: anubis
