---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- deploy.yaml
- service.yaml
- ingress.yaml

images:
- name: quay.io/opentelekomcloud/express-mail-gateway
  newTag: 0.0.4
