---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: redis

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/instance: "preprod"
      app.kubernetes.io/managed-by: "argocd"
      environment: "preprod"

resources:
  - ../../base
  - namespace.yaml

patchesStrategicMerge:
  - deployment-patch.yaml
