---
zookeeper_image: "quay.io/opentelekomcloud/zookeeper:3.8.0"
  # zookeeper_statsd_image: "quay.io/opentelekomcloud/zookeeper-statsd:1.0.0"
container_runtime: "/usr/bin/{{ container_command }}"

zookeeper_os_user: "zookeeper"
zookeeper_os_group: "zookeeper"
zookeeper_tick_time: 2000
zookeeper_init_limit: 10
zookeeper_sync_limit: 5
zookeeper_cfg_extra: ""

# Name of the ansible inventory group of ZK hosts building a single cluster
zookeeper_inventory_group: "zookeeper"

zookeeper_cluster_ports: "2888:3888"

zookeeper_service_account: "zookeeper"
vault_image: "vault:1.10.0"
zookeeper:
  vault_role_name: "zk"
  vault_zookeeper_ca_secret_name: "tls/ca"
  vault_zookeeper_server_cert_secret_name: "tls/zk_server"
  vault_zookeeper_client_cert_secret_name: "tls/zk_client"
zookeeper_headless_svc_name: "zookeeper-headless"
zookeeper_pvc_scn: "csi-disk-retain"
zookeeper_pvc_size: "5Gi"

zookeeper_vault_agent_resources:
  limits:
    cpu: 100m
    memory: 100Mi
  requests:
    cpu: 50m
    memory: 50Mi

zookeeper_resources:
  limits:
    cpu: 2
    memory: 4Gi
  requests:
    cpu: 500m
    memory: 1Gi
