apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
   app.kubernetes.io/component: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: redis
  template:
    metadata:
      labels:
        app.kubernetes.io/component: redis
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: redis
          image: redis
          env:
          - name: MASTER
            value: "true"
          ports:
          - containerPort: 6379
          resources:
            requests:
              cpu: "0.1"
              memory: "50M"
          readinessProbe:
            tcpSocket:
              port: 6379
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 6379
            periodSeconds: 5

