apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

configMapGenerator:
  - name: grafana-docs-monitoring-vault-config
    files:
      - vault-agent.hcl

images:
  - name: "quay.io/opentelekomcloud/grafana-docs-monitoring"
    newTag: "release_0.1.10"
