[Unit]
Description=Keycloak container
Wants=syslog.service

[Service]
Type=simple
TimeoutSec=30s
Restart=always
User={{ keycloak_os_user }}
Group={{ keycloak_os_group }}

EnvironmentFile=/etc/keycloak/env

ExecStartPre=-{{ container_runtime }} rm "keycloak"

ExecStart={{ container_runtime }} run \
    --name "keycloak" \
{% if container_command == 'podman' %}
    --log-opt=path=/dev/null \
{% endif %}
    --env-file /etc/keycloak/env \
    --user root \
    --network host \
    -v /var/keycloak/data:/opt/keycloak/data:Z \
{% if keycloak_enable_https is defined and keycloak_enable_https %}
    -v /etc/ssl/{{ inventory_hostname }}/keycloak:/opt/keycloak/ssl:Z \
{% endif %}
{% if keycloak_auth_ldap_certificate is defined and keycloak_auth_ldap_certificate|length > 0 %}
    ${KEYCLOAK_IMAGE} start --proxy reencrypt --spi-truststore-file-file=/opt/keycloak/data/cacerts-otc --spi-truststore-file-password={{ keycloak_keystore_pass }} --spi-truststore-file-hostname-verification-policy=ANY
{% else %}
    ${KEYCLOAK_IMAGE} start --proxy reencrypt
{% endif %}

ExecReload=-{{ container_runtime }} stop "keycloak"
ExecReload=-{{ container_runtime }} rm "keycloak"

ExecStop={{ container_runtime }} stop "keycloak"
ExecStop={{ container_runtime }} rm "keycloak"

[Install]
WantedBy=multi-user.target

