[Unit]
Description=Postgres container
Wants=syslog.service

[Service]
Type=simple
TimeoutSec=30s
Restart=always
User={{ keycloak_os_user }}
Group={{ keycloak_os_group }}

EnvironmentFile=/etc/keycloak/postgres-env

ExecStartPre=-{{ container_runtime }} rm "postgres"

ExecStart={{ container_runtime }} run \
    --name "postgres" \
{% if container_command == 'podman' %}
    --log-opt=path=/dev/null \
{% endif %}
    --env-file /etc/keycloak/postgres-env \
    --network host \
    -v /var/keycloak/pgdata:/var/lib/postgresql/data:rw,Z \
    ${POSTGRES_IMAGE}

ExecReload=-{{ container_runtime }} stop "postgres"
ExecReload=-{{ container_runtime }} rm "postgres"

ExecStop={{ container_runtime }} stop "postgres"
ExecStop={{ container_runtime }} rm "postgres"

[Install]
WantedBy=multi-user.target

