.DS_Store
*.swp
*~
*.pyc
applytest
doc/build/
.tox/
.test/
/.project
/.pydevproject
tools/invite2summit/settings.py
tools/invite2summit/done*
*.egg
*.eggs
opentelekomcloud_infra_config.egg-info*
Vagrantfile
.vagrant/
*.retry
test_inventory
doc/source/_svg
data/backups
.vscode/
.pre-commit-config.yaml
