---
apiVersion: autoscaling/v2
kind: "HorizontalPodAutoscaler"
metadata:
  name: "nodepool-launcher"
  labels:
    app.kubernetes.io/name: "zuul"
    app.kubernetes.io/part-of: "zuul"
    app.kubernetes.io/component: "nodepool-launcher"
spec:
  scaleTargetRef:
    kind: "Deployment"
    name: "nodepool-launcher"
    apiVersion: "apps/v1"
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: "Resource"
      resource:
        name: "cpu"
        target:
          type: "Utilization"
          averageUtilization: 70
