apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gitea.fullname" . }}-appini
data:
  app.ini: |
    [database]
    DB_TYPE  = postgres
    HOST     = {{ .Values.gitea.database.host | quote }}
    NAME     = {{ .Values.gitea.database.name | quote }}
    USER     = {{ .Values.gitea.database.user | quote }}

    [security]
    INSTALL_LOCK = true
    SECRET_KEY_URI = file:/etc/gitea/secret_key
    INTERNAL_TOKEN_URI = file:/etc/gitea/internal_token

    [server]
    DOMAIN   = {{ .Values.gitea.server.domain | quote }}
    ROOT_URL = {{ .Values.gitea.server.rootUrl | quote }}
