apiVersion: batch/v1
kind: CronJob
metadata:
  name: placeholder
spec:
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            vault.hashicorp.com/agent-inject-template-demand-config: |
              {{- with secret "secret/data/giji/config" -}}
              export JIRA_PROJECT_KEY_DEMAND="{{ .Data.data.jira_project_key_demand }}"
              export JIRA_ISSUE_TYPE_ID_DEMAND="{{ .Data.data.jira_issue_type_id_demand }}"
              export TARGET_SQUADS="{{ .Data.data.target_squads }}"
              export IMPORTED_LABEL="{{ .Data.data.imported_label }}"
              {{- end }}
