apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: giji

resources:
  - 00-namespace.yaml
  - 01-sa.yaml
  - bulk-import.yaml
  - bug-postgres.yaml
  - demand-postgres.yaml

patches:
  # Apply common Vault annotations to all cronjobs
  - target:
      kind: CronJob
    path: vault-annotations-patch.yaml

  # Apply bug/bulk-specific config
  - target:
      kind: CronJob
      name: giji-bulk-import
    path: bug-demand-config-patch.yaml
  - target:
      kind: CronJob
      name: giji-bug-postgres
    path: bug-demand-config-patch.yaml

  # Apply demand-specific config
  - target:
      kind: CronJob
      name: giji-demand-postgres
    path: demand-config-patch.yaml
