apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: giji

resources:
  - 00-namespace.yaml
  - 01-sa.yaml
  - cronjob-bulk-import.yaml
  - cronjob-bug-postgres.yaml
  - cronjob-demand-postgres.yaml

patchesStrategicMerge:
  - vault-annotations-patch.yaml
  - bug-demand-config-patch.yaml
  - demand-config-patch.yaml

patches:
  - target:
      kind: CronJob
      name: giji-bulk-import
    path: bug-demand-config-patch.yaml
  - target:
      kind: CronJob
      name: giji-bug-postgres
    path: bug-demand-config-patch.yaml
  - target:
      kind: CronJob
      name: giji-demand-postgres
    path: demand-config-patch.yaml
