apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../components/express-mail-gateway

resources:
  - ../../base

configMapGenerator:
  - name: cpn-vault-config
    files:
      - vault-agent.hcl
  - name: cpn-front-nginx
    files:
      - cpn-front-nginx.conf

images:
  - name: "quay.io/opentelekomcloud/circle-partner-navigator-backend"
    newTag: "change_107_latest"
  - name: "quay.io/opentelekomcloud/circle-partner-navigator-frontend"
    newTag: "0.5.5"
