auditd_file_size: 10
auditd_num_logs: 5
auditd_rotate_action: "ROTATE"

os_audit_deamon: "auditd"

os_audit_rules_file: "/etc/audit/rules.d/audit.rules"

config_system_events: true
system_events:
  # System reboot
  - "-a always,exit -F arch=b64 -S execve -F path=/sbin/reboot -k reboot"
  - "-a always,exit -F arch=b64 -S execve -F path=/sbin/poweroff -k reboot"
  - "-a always,exit -F arch=b64 -S execve -F path=/sbin/shutdown -k reboot"
  # Change of scheduled jobs
  - "-w /etc/at.allow"
  - "-w /etc/at.deny"
  - "-w /var/spool/at/"
  - "-w /etc/crontab"
  - "-w /etc/anacrontab"
  - "-w /etc/cron.allow"
  - "-w /etc/cron.deny"
  - "-w /etc/cron.d/"
  - "-w /etc/cron.hourly/"
  - "-w /etc/cron.daily"
  - "-w /etc/cron.weekly/"
  - "-w /etc/cron.monthly/"
  # Change of system time
  - "-a always,exit -F arch=b64 -S adjtimex -S settimeofday -k time-change"
  - "-a always,exit -F arch=b64 -S clock_settime -k time-change"
  - "-w /etc/localtime -p wa -k time-change"
  # Connection of external device (storage)
  - "-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts"
  - "-a always,exit -F arch=b64 -S mount -F auid>=500 -F auid!=4294967295 -k export"
  # Loading/unloading of kernel modules
  - "-w /sbin/insmod -p x -k modules"
  - "-w /sbin/rmmod -p x -k modules"
  - "-w /sbin/modprobe -p x -k modules"
  - "-a always,exit -F arch=b64 -S init_module -S delete_module -k modules"

config_access_events: true
access_events:
  # Logon and Logoff
  - "-w /var/log/lastlog -p wa -k logins"
  # Password Change
  - "-w /etc/shadow -p wa -k identity"
  - "-w /etc/gshadow -p wa -k identity"
  - "-w /etc/security/opasswd -p wa -k identity"
  # Escalation of privileges
  - "-w /etc/sudoers -p wa -k scope"
  - "-w /etc/sudoers.d -p wa -k scope"
  - "-w /var/log/sudo.log -p wa -k actions"
  # Modification of discretionary access control permissions
  - "-a always,exit -F arch=b64 -S chmod -S fchmod -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod"
  - "-a always,exit -F arch=b64 -S chown -S fchown -S fchownat -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod"
  - "-a always,exit -F arch=b64 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod"


config_account_group_mgmt_events: true
account_group_mgmt_events:
# Create/modify/delete users
  - "-w /etc/passwd -p wa -k identity"
# Create/modify/delete groups
  - "-w /etc/group -p wa -k identity"

config_change_events: true
change_events:
  # Deletion of logs
  - "-w /var/log/audit/audit.log"
  - "-w /var/log/audit/audit[1-4].log"
  # Change of logging configuration
  - "-w /etc/syslog."
  - "-w /etc/rsyslog.conf"
  - "-w /etc/rsyslog.d/conf"
  - "-w /etc/audit/auditd.conf -p wa"
  - "-w /etc/audit/audit.rules -p wa"
  # Network configuration change
  - "-a always,exit -F arch=b64 -S sethostname -S setdomainname -k system-locale"
  - "-w /etc/issue -p wa -k system-locale"
  - "-w /etc/issue.net -p wa -k system-locale"
  - "-w /etc/hosts -p wa -k system-locale"
  - "-w /etc/network -p wa -k system-locale"
  - "-w /etc/networks -p wa -k system-locale"
  # Authentication Subsystem changes
  - "-w /etc/pam.d/"
  - "-w /etc/nsswitch.conf"
  # Critical File changes
  - "-w /etc/ssh/sshd_config"
  - "-w /etc/sysctl.conf"
  - "-w /etc/modprobe.conf"
  - "-w /etc/profile.d/"
  - "-w /etc/profile"
  - "-w /etc/shells"
  # Promtail/Telegraf logging  service/config
  - "-w /etc/promtail/"
  - "-w /etc/systemd/system/promtail.service"
  - "-w /etc/telegraf/"
  - "-w /etc/systemd/system/telegraf.service"

find_exclude_mountpoint: []

