# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

ui = {{ vault_enable_ui }}
api_addr = "http://{{ ansible_host }}:8200"
cluster_addr = "https://{{ ansible_host }}:8201"

disable_mlock = true

storage "raft" {
  path = "{{ vault_storage_path }}"
  node_id = "node{{ vault_id | default((inventory_hostname | regex_replace('vault(\\d+)\..*$', '\\1')| int )) }}"
}

# HTTPS listener
listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/etc/ssl/{{ inventory_hostname }}/vault/vault-fullchain.crt"
  tls_key_file  = "/etc/ssl/{{ inventory_hostname }}/vault/vault.pem"
}

