server:
  log_level: info
  http_listen_port: 3101

client:
  url: {{ promtail_loki_url }}
  tenant_id: {{ promtail_tenant_id }}
  basic_auth:
    username: {{ promtail_loki_username }}
    password: {{ promtail_loki_password }}

positions:
  filename: /run/promtail/positions.yaml

scrape_configs:
  - job_name: journal
    journal:
      path: /var/log/journal
      max_age: 12h
      labels:
        job: systemd-journal
        hostname:  {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
        regex: '(.+)\.service'
        replacement: '$1'
{% if 'apimon' in groups and inventory_hostname in groups['apimon'] %}
      - source_labels: ['unit']
        regex: 'user@3000'
        target_label: 'unit'
        replacement: 'apimon'
      - source_labels: ['unit']
        regex: 'user@3001'
        target_label: 'unit'
        replacement: 'cloudmon'
{% endif %}
  - job_name: audit
    pipeline_stages:
    - match:
        selector: '{job="audit"}'
        stages:
        - regex:
            expression: '^type=(?P<type>[A-Z_]+)'
        - labels:
            type:
    static_configs:
      - targets:
          - localhost
        labels:
          job: audit
          hostname: {{ inventory_hostname }}
          __path__: /var/log/audit/audit.log

  - job_name: system
    static_configs:
    - targets:
        - localhost
      labels:
        job: varlogs
        hostname: {{ inventory_hostname }}
        __path__: /var/log/*.log
