kind: "Ingress"
apiVersion: "networking.k8s.io/v1"
metadata:
  labels:
    app.kubernetes.io/name: "matrix"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "system-config"
spec:
  tls:
    - hosts:
        - "{{ matrix.fqdn }}"
      secretName: "matrix-{{ instance }}-tls"
  rules:
    - host: "{{ matrix.fqdn }}"
      http:
        paths:
          - path: "/"
            pathType: "Prefix"
            backend:
              service:
                name: "{{ matrix_svc_name }}"
                port:
                  number: 8008
{% if matrix.enable_maubot is defined and matrix.enable_maubot %}
          - path: "/_matrix/maubot"
            pathType: "Prefix"
            backend:
              service:
                name: "{{ matrix.maubot_svc_name }}"
                port:
                  number: 29316
{% endif %}
