apiVersion: v1
kind: Config
current-context: otcci
preferences: {}
clusters:
  - name: otcci
    cluster: https://192.168.20.230:5443
contexts:
  - name: otcci
    context:
      cluster: otcci
      user: otcci-admin
users:
  - name: otcci-admin
    client-certificate-data: {{ otcci_k8s.client_certificate_data }}
    client-key-data: {{ otcci_k8s.client_key_data }}
