#
# Bridge all clouds
#
# This file is deployed to /etc/openstack/clouds.yaml on the
# bastion host and contains information for all cloud environments.
#
clouds:
  # DNS 
  otc-dns:
    profile: otc
    auth: 
      username: {{ clouds.otcdns.auth.username }}
      password: {{ clouds.otcdns.auth.password }}
      project_name: {{ clouds.otcdns.auth.project_name }}
      user_domain_name: {{ clouds.otcdns.auth.user_domain_name }}

  # APImon projects
  otcapimon-probes1:
    profile: otc
    auth: 
      username: {{ clouds.otcapimon_probes1.auth.username }}
      password: {{ clouds.otcapimon_probes1.auth.password }}
      project_name: {{ clouds.otcapimon_probes1.auth.project_name }}
      user_domain_name: {{ clouds.otcapimon_probes1.auth.user_domain_name }}
  otcapimon-probes2:
    profile: otc
    auth: 
      username: {{ clouds.otcapimon_probes2.auth.username }}
      password: {{ clouds.otcapimon_probes2.auth.password }}
      project_name: {{ clouds.otcapimon_probes2.auth.project_name }}
      user_domain_name: {{ clouds.otcapimon_probes2.auth.user_domain_name }}
  otcapimon-probes2:
    profile: otc
    auth: 
      username: {{ clouds.otcapimon_probes2.auth.username }}
      password: {{ clouds.otcapimon_probes2.auth.password }}
      project_name: {{ clouds.otcapimon_probes2.auth.project_name }}
      user_domain_name: {{ clouds.otcapimon_probes2.auth.user_domain_name }}
  otcapimon-probes4:
    profile: otc
    auth: 
      username: {{ clouds.otcapimon_probes4.auth.username }}
      password: {{ clouds.otcapimon_probes4.auth.password }}
      project_name: {{ clouds.otcapimon_probes4.auth.project_name }}
      user_domain_name: {{ clouds.otcapimon_probes4.auth.user_domain_name }}


