apiVersion: v1
kind: Config
current-context: otcci
preferences: {}
clusters:
  - name: otcci
    cluster: 
      server: {{ otcci_k8s.server }}
      insecure-skip-tls-verify: true
  - name: otcinfra
    cluster: 
      server: {{ otcinfra1_k8s.server }}
      insecure-skip-tls-verify: true
  - name: otcinfra-mirror
    cluster: 
      server: {{ otcinfra2_k8s.server }}
  - name: otcinfra-stg
    cluster: 
      server: {{ otcinfra_stg_k8s.server }}
  - name: otcapimon1
    cluster: 
      server: {{ otcapimon1_k8s.server }}
      insecure-skip-tls-verify: true
contexts:
  - name: otcci
    context:
      cluster: otcci
      user: otcci-admin
  - name: otcinfra
    context:
      cluster: otcinfra
      user: otcinfra-admin
  - name: otcinfra-mirror
    context:
      cluster: otcinfra-mirror
      user: otcinfra-mirror-admin
  - name: otcinfra-stg
    context:
      cluster: otcinfra-stg
      user: otcinfra-stg-admin
  - name: otcapimon1
    context:
      cluster: otcapimon1
      user: otcapimon1-admin
users:
  - name: otcci-admin
    user:
      client-certificate-data: {{ otcci_k8s.secrets['client.crt'] | b64encode }}
      client-key-data: {{ otcci_k8s.secrets['client.key'] | b64encode }}
  - name: otcinfra-admin
    user:
      client-certificate-data: {{ otcinfra1_k8s.secrets['client.crt'] | b64encode }}
      client-key-data: {{ otcinfra1_k8s.secrets['client.key'] | b64encode }}
  - name: otcinfra-mirror-admin
    user:
      client-certificate-data: {{ otcinfra2_k8s.secrets['client.crt'] | b64encode }}
      client-key-data: {{ otcinfra2_k8s.secrets['client.key'] | b64encode }}
  - name: otcinfra-stg-admin
    user:
      client-certificate-data: {{ otcinfra_stg_k8s.secrets['client.crt'] | b64encode }}
      client-key-data: {{ otcinfra_stg_k8s.secrets['client.key'] | b64encode }}
  - name: otcapimon1-admin
    user:
      client-certificate-data: {{ otcapimon1_k8s.secrets['client.crt'] | b64encode }}
      client-key-data: {{ otcapimon1_k8s.secrets['client.key'] | b64encode }}
