#
# Bridge all clouds
#
# This file is deployed to /etc/openstack/clouds.yaml on the
# bastion host and contains information for all cloud environments.
#
clouds:
  otcapimon-probes1:
    profile: otc
    auth: {{ clouds.otcapimon_probes1.auth }}
