apiVersion: v1
kind: Config
current-context: otcci
preferences: {}
clusters:
  - name: otcci
    cluster: 
      server: {{ otcci_k8s.server }}
      insecure-skip-tls-verify: true
contexts:
  - name: otcci
    context:
      cluster: otcci
      user: otcci-admin
users:
  - name: otcci-admin
    user:
      client-certificate-data: {{ otcci_k8s.secrets['client.crt'] | b64encode }}
      client-key-data: {{ otcci_k8s.secrets['client.key'] | b64encode }}
