#
# Nodepool openstacksdk configuration
#
# This file is deployed to nodepool launcher and builder hosts
# and is used there to authenticate nodepool operations to clouds.
# This file only contains projects we are launching test nodes in, and
# the naming should correspond that used in nodepool configuration
# files.
#

cache:
  expiration:
    server: 5
    port: 5
    floating-ip: 5
clouds:
  otcci-pool1:
    auth:
      auth_url: "https://iam.eu-de.otc.t-systems.com/v3"
      username: "{{ nodepool_pool1_username }}"
      password: "{{ nodepool_pool1_password }}"
      project_name: "{{ nodepool_pool1_project }}"
      user_domain_name: "{{ nodepool_pool1_user_domain_name }}"
    private: true
    volume_api_version: '2'
  otcci-pool2:
    auth:
      auth_url: "https://iam.eu-de.otc.t-systems.com/v3"
      username: "{{ nodepool_pool2_username }}"
      password: "{{ nodepool_pool2_password }}"
      project_name: "{{ nodepool_pool2_project}}"
      user_domain_name: "{{ nodepool_pool2_user_domain_name }}"
    private: true
    volume_api_version: '2'
  otcci-pool3:
    auth:
      auth_url: "https://iam.eu-de.otc.t-systems.com/v3"
      username: "{{ nodepool_pool3_username }}"
      password: "{{ nodepool_pool3_password }}"
      project_name: "{{ nodepool_pool3_project }}"
      user_domain_name: "{{ nodepool_pool3_user_domain_name }}"
    private: true
    volume_api_version: '2'
