secure: {{ apimon_secure_file_location }}
gear:
  - host: 0.0.0.0
    port: 4730
    start: true
log:
  config: /etc/apimon/logging.conf
alerta:
  endpoint: {{ apimon_alerta_endpoint }}
epmon:
  socket: /tmp/epmon.socket
  zone: {{ apimon_zone }}
  clouds: {{ apimon_epmon_clouds }}
{% if apimon_epmon_interval is defined and apimon_epmon_interval|length %}
  interval: {{ apimon_epmon_interval }}
{% endif %}
scheduler: 
  zone: {{ apimon_zone }}
  work_dir: /var/lib/apimon
  socket: /tmp/scheduler.socket
  refresh_interval: 10
test_projects: {{ apimon_test_projects }}
test_environments: {{ apimon_test_environments }}
test_matrix: {{ apimon_test_matrix }}
metrics:
  statsd:
    host: {{ apimon_statsd_host }}
    port: 8125
