secure: {{ epmon_secure_file_location }}
gear:
  - host: 0.0.0.0
    port: 4730
    start: true
log:
  config: /etc/apimon/logging.conf
alerta:
  endpoint: {{ apimon_alerta_endpoint | default(apimon.alerta_endpoint) }}
epmon:
  socket: /tmp/epmon.socket
  zone: {{ apimon_zone | default(apimon.zone) }}
  clouds: {{ apimon.epmon_clouds }}
{% if apimon.epmon_interval is defined %}
  interval: {{ apimon.epmon_interval }}
{% endif %}
metrics:
  statsd:
    host: {{ apimon_statsd_host | default(apimon.statsd_host) }}
    port: 8125
