apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: "grafana"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "system-config"
data:
{% if (grafana.grafana_server_root_url is defined and grafana.grafana_server_root_url|length) or
      (grafana.default.grafana_server_root_url is defined and grafana.default.grafana_server_root_url|length) %}
  GF_SERVER_ROOT_URL: "{{ grafana.grafana_server_root_url | default(grafana.default.grafana_server_root_url) | string | b64encode }}"
{% endif %}
{% if (grafana.grafana_server_domain is defined and grafana.grafana_server_domain|length) or
      (grafana.default.grafana_server_domain is defined and grafana.default.grafana_server_domain|length) %}
  GF_SERVER_DOMAIN: "{{ grafana.grafana_server_domain | default(grafana.default.grafana_server_domain) | string | b64encode }}"
{% endif %}
  GF_SERVER_ENABLE_GZIP: "{{ 'true' | string | b64encode }}"
  GF_SECURITY_ADMIN_PASSWORD: "{{ grafana.grafana_security_admin_password | default(grafana.default.grafana_security_admin_password) | string | b64encode }}"
  GF_USERS_ALLOW_SIGN_UP: "{{ grafana.grafana_users_allow_sign_up | default(grafana.default.grafana_users_allow_sign_up) | string | b64encode }}"

  GF_USERS_LOGIN_HINT: "{{ grafana.grafana_users_login_hint | default(grafana.default.grafana_users_login_hint) | string | b64encode  }}"
  GF_USERS_PASSWORD_HINT: "{{ grafana.grafana_users_password_hint | default(grafana.default.grafana_users_password_hint) | string | b64encode }}"

{% if (grafana.grafana_db_url is defined and grafana.grafana_db_url|length) or
      (grafana.default.grafana_db_url is defined and grafana.default.grafana_db_url|length) %}
  GF_DATABASE_URL: "{{ grafana.grafana_db_url | default(grafana.default.grafana_db_url) | string | b64encode }}"
{% endif %}

{% if (grafana.grafana_auth_github_enable is defined and grafana.grafana_auth_github_enable) or
      (grafana.default.grafana_auth_github_enable is defined and grafana.default.grafana_auth_github_enable) %}
  GF_AUTH_GITHUB_ENABLED: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GITHUB_ALLOW_SIGN_UP: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GITHUB_CLIENT_ID: "{{ grafana.grafana_auth_github_client_id | default(grafana.default.grafana_auth_github_client_id) | string | b64encode }}"
  GF_AUTH_GITHUB_CLIENT_SECRET: "{{ grafana.grafana_auth_github_client_secret | default(grafana.default.grafana_auth_github_client_secret) | string | b64encode }}"
  GF_AUTH_GITHUB_SCOPES: "{{ 'user:email,read:org' | string | b64encode }}"
  GF_AUTH_GITHUB_AUTH_URL: "{{ 'https://github.com/login/oauth/authorize'  | string | b64encode }}"
  GF_AUTH_GITHUB_TOKEN_URL: "{{ 'https://github.com/login/oauth/access_token' | string | b64encode }}"
  GF_AUTH_GITHUB_API_URL: "{{ 'https://api.github.com/user' | string | b64encode }}"
  GF_AUTH_GITHUB_ALLOWED_ORGANIZATIONS: "{{ grafana.grafana_auth_github_allowed_orgs | default(grafana.default.grafana_auth_github_allowed_orgs) | string | b64encode }}"
{% endif %}

{% if (grafana.grafana_smtp_enable is defined and grafana.grafana_smtp_enable) or
      (grafana.default.grafana_smtp_enable is defined and grafana.default.grafana_smtp_enable) %}
  GF_SMTP_ENABLED: "{{ 'true' | string | b64encode }}"
  GF_SMTP_HOST: "{{ grafana.grafana_smtp_host | default(grafana.default.grafana_smtp_host) | string | b64encode }}"
  GF_SMTP_FROM_ADDRESS: "{{ grafana.grafana_smtp_from_address | default(grafana.default.grafana_smtp_from_address) | string | b64encode }}"
  GF_SMTP_FROM_NAME: "{{ grafana.grafana_smtp_from_name | default(grafana.default.grafana_smtp_from_name) | string | b64encode }}"
{% endif %}

{% if (grafana.grafana_ldap_enable is defined and grafana.grafana_ldap_enable) or
      (grafana.grafana_ldap_enable is undefined and grafana.default.grafana_ldap_enable) %}
  GF_AUTH_LDAP_ENABLED: "{{ 'true' | string | b64encode }}"
  GF_AUTH_LDAP_ALLOW_SIGN_UP: "{{ 'true' | string | b64encode }}"
  GF_AUTH_LDAP_CONFIG_FILE: "{{ '/etc/grafana/ldap/ldap.toml' | string | b64encode }}"
{% endif %}

