apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: "grafana"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "system-config"
data:
{% if (grafana.grafana_url is defined and grafana.grafana_url|length) %}
  GF_SERVER_ROOT_URL: "{{ grafana.grafana_url | string | b64encode }}"
{% endif %}
{% if (grafana.fqdn is defined and grafana.fqdn|length) %}
  GF_SERVER_DOMAIN: "{{ grafana.fqdn | string | b64encode }}"
{% endif %}
  GF_SERVER_ENABLE_GZIP: "{{ 'true' | string | b64encode }}"
  GF_SECURITY_ADMIN_PASSWORD: "{{ grafana.grafana_security_admin_password | string | b64encode }}"
  GF_USERS_ALLOW_SIGN_UP: "{{ grafana.grafana_users_allow_sign_up | default(false) | string | b64encode }}"

  GF_USERS_LOGIN_HINT: "{{ grafana.grafana_users_login_hint | string | b64encode  }}"
  GF_USERS_PASSWORD_HINT: "{{ grafana.grafana_users_password_hint | string | b64encode }}"

  GF_DATABASE_TYPE: "{{ grafana.grafana_db_type | string | b64encode }}"
  GF_DATABASE_HOST: "{{ grafana.grafana_db_host | string | b64encode }}"
  GF_DATABASE_NAME: "{{ grafana.grafana_db_name | string | b64encode }}"
  GF_DATABASE_USER: "{{ grafana.grafana_db_user | string | b64encode }}"
  GF_DATABASE_PASSWORD: "{{ grafana.grafana_db_password | string | b64encode }}"

{% if (grafana.grafana_auth_github_enable is defined and grafana.grafana_auth_github_enable) %}
  GF_AUTH_GITHUB_ENABLED: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GITHUB_ALLOW_SIGN_UP: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GITHUB_CLIENT_ID: "{{ grafana.grafana_auth_github_client_id | string | b64encode }}"
  GF_AUTH_GITHUB_CLIENT_SECRET: "{{ grafana.grafana_auth_github_client_secret | string | b64encode }}"
  GF_AUTH_GITHUB_SCOPES: "{{ 'user:email,read:org' | string | b64encode }}"
  GF_AUTH_GITHUB_AUTH_URL: "{{ 'https://github.com/login/oauth/authorize'  | string | b64encode }}"
  GF_AUTH_GITHUB_TOKEN_URL: "{{ 'https://github.com/login/oauth/access_token' | string | b64encode }}"
  GF_AUTH_GITHUB_API_URL: "{{ 'https://api.github.com/user' | string | b64encode }}"
  GF_AUTH_GITHUB_ALLOWED_ORGANIZATIONS: "{{ grafana.grafana_auth_github_allowed_orgs | string | b64encode }}"
{% endif %}

{% if (grafana.grafana_auth_generic_oauth_enable is defined and grafana.grafana_auth_generic_oauth_enable) %}
  GF_AUTH_GENERIC_OAUTH_ENABLED: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_TLS_SKIP_VERIFY_INSECURE: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_NAME: "{{ grafana.grafana_auth_generic_oauth_name | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "{{ grafana.grafana_auth_generic_oauth_client_id | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ grafana.grafana_auth_generic_oauth_client_secret | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "{{ grafana.grafana_auth_generic_oauth_token_url | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_AUTH_URL: "{{ grafana.grafana_auth_generic_oauth_auth_url | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_API_URL: "{{ grafana.grafana_auth_generic_oauth_api_url | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_SCOPES: "{{ grafana.grafana_auth_generic_oauth_scopes | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_STRICT: "{{ 'true' | string | b64encode }}"
  GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "{{ grafana.grafana_auth_generic_oauth_role_attribute_path | string | b64encode }}"
{% endif %}

{% if (grafana.grafana_smtp_enable is defined and grafana.grafana_smtp_enable) %}
  GF_SMTP_ENABLED: "{{ 'true' | string | b64encode }}"
  GF_SMTP_HOST: "{{ grafana.grafana_smtp_host | string | b64encode }}"
  GF_SMTP_USER: "{{ grafana.grafana_smtp_user | string | b64encode }}"
  GF_SMTP_PASSWORD: "{{ grafana.grafana_smtp_password | string | b64encode }}"
  GF_SMTP_STARTTLS_POLICY: "{{ grafana.grafana_smtp_starttls_policy | string | b64encode }}"
  GF_SMTP_FROM_ADDRESS: "{{ grafana.grafana_smtp_from_address | string | b64encode }}"
  GF_SMTP_FROM_NAME: "{{ grafana.grafana_smtp_from_name | string | b64encode }}"
{% endif %}

{% if (grafana.grafana_ldap_enable is defined and grafana.grafana_ldap_enable) %}
  GF_AUTH_LDAP_ENABLED: "{{ 'true' | string | b64encode }}"
  GF_AUTH_LDAP_ALLOW_SIGN_UP: "{{ 'true' | string | b64encode }}"
  GF_AUTH_LDAP_CONFIG_FILE: "{{ '/etc/grafana/ldap/ldap.toml' | string | b64encode }}"
{% endif %}

{% if (grafana.metrics_enabled is defined and grafana.metrics_enabled|length) %}
  GF_METRICS_ENABLED: "{{ grafana.metrics_enabled | string | b64encode }}"
{% endif %}
