[[servers]]
host = {{ grafana_auth_ldap_host }}
port = 636
use_ssl = true
start_tls = false
ssl_skip_verify = false
root_ca_cert = "/etc/grafana/ldap/ldap-certificate.crt"

bind_dn = {{ grafana_auth_ldap_bind_dn }}
bind_password = "{{ grafana_auth_ldap_bind_password }}"

search_filter = {{ grafana_auth_ldap_search_filter }}
search_base_dns = {{ grafana_auth_ldap_search_base_dns }}

group_search_filter = {{ grafana_auth_ldap_group_search_filter }}
group_search_filter_user_attribute = {{ grafana_auth_ldap_group_search_filter_user_attribute }}
group_search_base_dns = {{ grafana_auth_ldap_group_search_base_dns }}

# Specify names of the ldap attributes your ldap uses
[servers.attributes]
name = "displayName"
surname = "sn"
username = "uid"
email =  "mail"

[[servers.group_mappings]]
group_dn = {{ grafana_auth_ldap_group_dn_super_admin }}
org_role = "Admin"
grafana_admin = true
org_id = 1

[[servers.group_mappings]]
group_dn = {{ grafana_auth_ldap_group_dn_admin }}
org_role = "Admin"
org_id = 1

[[servers.group_mappings]]
group_dn = {{ grafana_auth_ldap_group_dn_editor }}
org_role = "Editor"
org_id = 1

[[servers.group_mappings]]
group_dn = "*"
org_role = "Viewer"
org_id = 1

