# Comment this out if running as sidecar instead of initContainer
exit_after_auth = true
pid_file = "/tmp/pidfile"
auto_auth {
    method "kubernetes" {
        mount_path = "{{ grafana.vault_k8_auth_mount_path }}"
        config = {
            role = "{{ grafana.vault_role_name }}"
            token_path = "/run/secrets/tokens/vault-token"
        }
    }
}

cache {
    use_auto_auth_token = true
}

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/database_username"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_database_path }}" %][% .Data.data.username %][% end -%]
  EOT
  }

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/database_password"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_database_path }}" %][% .Data.data.password %][% end -%]
  EOT
  }

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/security_admin_password"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_grafana_path }}" %][% .Data.data.security_admin_password %][% end -%]
  EOT
  }

{% if grafana.grafana_auth_github_enable is defined and grafana.grafana_auth_github_enable %}
template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/security_oauth_client_id"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_oauth_path }}" %][% .Data.data.client_id %][% end -%]
  EOT
  }

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/security_oauth_client_secret"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_oauth_path }}" %][% .Data.data.client_secret %][% end -%]
  EOT
  }
{% endif %}

{% if grafana.grafana_auth_generic_oauth_enable is defined and grafana.grafana_auth_generic_oauth_enable %}
template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/security_generic_oauth_client_id"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_grafana_path }}" %][% .Data.data.grafana_kc_client_id %][% end -%]
  EOT
  }

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/security_generic_oauth_client_secret"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_grafana_path }}" %][% .Data.data.grafana_kc_client_secret %][% end -%]
  EOT
  }
{% endif %}

{% if grafana.grafana_ldap_enable is defined and grafana.grafana_ldap_enable %}
template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/ldap_password"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_ldap_path }}" %][% .Data.data.bind_password %][% end -%]
  EOT
  }

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/ldap_ca_cert"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_ldap_path }}" %][% .Data.data.ca_crt %][% end -%]
  EOT
  }
{% endif %}

{% if grafana.grafana_smtp_enable is defined and grafana.grafana_smtp_enable %}
template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/smtp_gw_host"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_smtp_gw_path}}" %][% .Data.data.host %][% end -%]
  EOT
  }

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/smtp_gw_user"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_smtp_gw_path }}" %][% .Data.data.username %][% end -%]
  EOT
  }

template {
  left_delimiter = "[%"
  right_delimiter = "%]"
  destination = "/vault-data/smtp_gw_password"
  contents = <<EOT
  [%- with secret "{{ grafana.vault_smtp_gw_path }}" %][% .Data.data.password %][% end -%]
  EOT
  }
{% endif %}
