# This is just to ensure nodes only defined in system-config-run-base
# for gate jobs are put in the right groups for testing
plugin: yamlgroup
groups:
  certcheck:
    - bridge.eco.tsi-dev.otc-service.com
  statsd:
    - f31.statsd
    - f32.statsd
