# This is just to ensure nodes only defined in system-config-run-base
# for gate jobs are put in the right groups for testing
plugin: yamlgroup
groups:
  certcheck:
    - bridge.eco.tsi-dev.otc-service.com
  statsd:
    - bridge.eco.tsi-dev.otc-service.com
    - statsd.f31
    - statsd.f32
  apimon:
    - epmon.f32
    - epmon.focal
    - scheduler.f32
    - scheduler.focal
    - executor.f32
    - executor.focal
  apimon-clouds:
    - bridge.eco.tsi-dev.otc-service.com
    - epmon.f32
    - epmon.focal
    - scheduler.f32
    - scheduler.focal
  apimon-epmon:
    - epmon.f32
    - epmon.focal
  apimon-scheduler:
    - scheduler.f32
    - scheduler.focal
  apimon-executor:
    - executor.f32
    - executor.focal
  apimon-inst1:
    - epmon.f32
    - epmon.focal
    - scheduler.f32
    - scheduler.focal
    - executor.f32
    - executor.focal
  graphite:
    - graphite1.focal
    - graphite2.centos
  graphite-inst1:
    - graphite1.focal
    - graphite2.centos
