# This is just to ensure nodes only defined in system-config-run-base
# for gate jobs are put in the right groups for testing
plugin: yamlgroup
groups:
  certcheck:
    - bridge.eco.tsi-dev.otc-service.com
  statsd:
    - statsd.centos-stream
  apimon:
    - epmon.centos-stream
    - epmon.focal
    - scheduler.centos-stream
    - scheduler.focal
    - executor.centos-stream
    - executor.focal
  apimon-clouds:
    - bridge.eco.tsi-dev.otc-service.com
    - epmon.centos-stream
    - epmon.focal
    - scheduler.centos-stream
    - scheduler.focal
  apimon-epmon:
    - epmon.centos-stream
    - epmon.focal
  apimon-scheduler:
    - scheduler.centos-stream
    - scheduler.focal
  apimon-executor:
    - executor.centos-stream
    - executor.focal
  apimon-inst1:
    - epmon.centos-stream
    - epmon.focal
    - scheduler.centos-stream
    - scheduler.focal
    - executor.centos-stream
    - executor.focal
  graphite:
    - graphite1.apimon.eco.tsi-dev.otc-service.com
    - graphite2.apimon.eco.tsi-dev.otc-service.com
  graphite-apimon:
    - graphite1.apimon.eco.tsi-dev.otc-service.com
    - graphite2.apimon.eco.tsi-dev.otc-service.com
  graphite-web:
    - web3.eco.tsi-dev.otc-service.com
  ssl_certs:
    - bridge.eco.tsi-dev.otc-service.com
    - graphite1.apimon.eco.tsi-dev.otc-service.com
    - graphite2.apimon.eco.tsi-dev.otc-service.com
    - le1
    - proxy1.centos-stream
    - web1.eco.tsi-dev.otc-service.com
  memcached:
    - memcached.focal
  alerta:
    - alerta.focal
  gitea:
    - gitea.focal
  keycloak:
    - keycloak.focal
  grafana:
    - grafana.focal
  proxy:
    - le1
  vault:
    - vault1.eco.tsi-dev.otc-service.com
  zookeeper: 
    - zk.centos-stream
