# Version 2 is the latest that is supported by docker-compose in
# Ubuntu Xenial.
version: '2'

services:
  graphite:
    restart: always
    image: docker.io/graphiteapp/graphite-statsd
    network_mode: host
    volumes:
      - /etc/graphite-docker/graphite-statsd.conf:/etc/nginx/sites-enabled/graphite-statsd.conf
      - /etc/graphite-docker/statsd.js:/opt/statsd/config/udp.js
      - /etc/graphite-docker/storage-schemas.conf:/opt/graphite/conf/storage-schemas.conf
      - /etc/letsencrypt-certs:/etc/letsencrypt-certs
      - /opt/graphite/storage:/opt/graphite/storage
      - /var/log/graphite:/var/log/
