[Unit]
Description=Runs graphite healthcheck every 5 minutes
Requires=graphite-healthcheck.service

[Timer]
Unit=graphite-healthcheck.service
OnUnitInactiveSec=5m
AccuracySec=1s

[Install]
WantedBy=timers.target

