# -- Provide a name in place of `argocd`
nameOverride: argocd

createAggregateRoles: false
createClusterRoles: true

crds:
  install: true
  keep: true

## Server
server:
  extensions:
    containerSecurityContext:
      seccompProfile:
        type: Unconfined

  containerSecurityContext:
    seccompProfile:
      type: Unconfined

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    ingressClassName: "nginx"

    hosts: 
      - argocd.eco.tsi-dev.otc-service.com
    paths:
      - /
    tls: 
      - secretName: your-certificate-name
        hosts:
          - argocd.eco.tsi-dev.otc-service.com
    https: true

repoServer:
  env:
    - name: ARGOCD_GPG_ENABLED
      value: "false"
  containerSecurityContext:
    seccompProfile:
      type: Unconfined

## ApplicationSet controller
applicationSet:
  containerSecurityContext:
    seccompProfile:
      type: Unconfined

configs:
  cm:
    oidc.config: |
      name: Keycloak
      issuer: http://keycloak.eco.tsi-dev.otc-service.com/
      clientID: argocd
      clientSecret: $oidc.keycloak.clientSecret
      requestedScopes: ["openid", "profile", "email", "groups"]

  secret:
    createSecret: true
    extra:    
      oidc.keycloak.clientSecret: ODMwODM5NTgtOGVjNi00N2IwLWE0MTEtYThjNTUzODFmYmQy
