---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "restart-zuul-web"
spec:
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 2
  concurrencyPolicy: Forbid
  schedule: '0 */6 * * *'
  jobTemplate:
    spec:
      backoffLimit: 2
      activeDeadlineSeconds: 600
      template:
        spec:
          serviceAccountName: "restart-deployment"
          restartPolicy: Never
          containers:
            - name: "kubectl"
              image: "bitnami/kubectl"
              command:
                - "bash"
                - "-c"
                - >-
                  kubectl rollout restart deployment/zuul-web &&
                  kubectl rollout status deployment/zuul-web
