apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deploy.yaml
- service.yaml
- ingress.yaml

configMapGenerator:
  - name: cpn-emg-vault-config
    files:
      - vault-agent.hcl

images:
- name: quay.io/opentelekomcloud/express-mail-gateway
  newTag: 0.0.2
