---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: express-mail-gateway
spec:
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: express-mail-gateway
          command:
            - "npm"
          args:
            - "run"
            - "start"
          envFrom:
            - secretRef:
                name: emg-credentials
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            runAsUser: 1000
          resources:
            limits:
              cpu: "200m"
              memory: "256Mi"
            requests:
              cpu: "50m"
              memory: "64Mi"
      initContainers: []
      volumes: []
