[Unit]
Description=Zookeeper Podman container
Wants=network-online.service
After=network-online.service

[Service]
User={{ zookeeper_os_user }}
Group={{ zookeeper_os_group }}
Restart=always
Environment=ZOOKEEPER_IMAGE=zookeeper:latest
EnvironmentFile=/etc/zookeeper/env

ExecStartPre=-{{ container_runtime }} kill zookeeper
ExecStartPre=-{{ container_runtime }} rm zookeeper
#ExecStartPre=-{{ container_runtime }} pull ${ZOOKEEPER_IMAGE}

ExecStart=/bin/podman run \
  --name zookeeper \
  --env-file /etc/zookeeper/env \
  --network=host \
{% if container_command == 'podman' %}
  --log-opt=path=/dev/null \
{% endif %}
  -p 2181:2181 \
  -p 2281:2281 \
  -p 2888:2888 \
  -p 3888:3888 \
  -v /etc/zookeeper:/etc/zookeeper:ro,Z \
  -v zookeeper_data_volume:/data:rw,Z \
  -v zookeeper_log_volume:/datalog:rw,Z \
  ${ZOOKEEPER_IMAGE}

ExecStop={{ container_runtime }} stop -t 30 zookeeper
ExecStop={{ container_runtime }} rm zookeeper

[Install]
WantedBy=multi-user.target
