apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: giteas.gitea.io
spec:
  group: gitea.io
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              replicas:
                type: integer
              image:
                type: string
    served: true
    storage: true
  scope: Namespaced
  names:
    plural: giteas
    singular: gitea
    kind: Gitea
