{
   "graphiteHost": "{{ zuul.graphite_host }}",
   "graphitePort": 2013,
   "graphitePicklePort": {{ graphite_pickle_port }},
   "graphiteProtocol": "pickle",
   "graphite": {
     "legacyNamespace": false,
   },
   "port": 8125,
   "flushInterval": 10000,
   "servers": [{
     "server": "./servers/udp",
     "address": "0.0.0.0",
     "port": 8125
   }],
   deleteTimers: true,
   deleteGauges: true,
   deleteCounters: true,
   deleteSets: true,
}
