pid_file = "/home/vault/pidfile"

auto_auth {
    method "kubernetes" {
        mount_path = "{{ zuul.vault_k8_auth_mount_path }}"
        config = {
            role = "{{ zuul.vault_base_role_name }}"
            token_path = "/var/run/secrets/tokens/vault-token"
        }
    }
    sink "file" {
        config = {
            path = "/var/run/zuul/trusted-ro/zuul-base-vault-token"
        }
    }
}

cache {
    use_auto_auth_token = true
}

# Vault agent requires at least one template or listener is present. Add a socket
listener "unix" {
    address = "/home/vault/vault_agent.socket"
    tls_disable = true
}
