---
annotations:
  list:
  - builtIn: 1
    datasource: "-- Grafana --"
    enable: true
    hide: true
    iconColor: rgba(0, 211, 255, 1)
    name: Annotations & Alerts
    target:
      limit: 100
      matchAny: false
      tags: []
      type: dashboard
    type: dashboard
editable: false
panels:
{% include '_header.yaml.j2' %}

  - datasource: {{ grafana_ds | default('apimon') }}
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          axisLabel: ''
          axisPlacement: auto
          barAlignment: 0
          drawStyle: line
          fillOpacity: 0
          gradientMode: none
          hideFrom:
            legend: false
            tooltip: false
            viz: false
          lineInterpolation: linear
          lineWidth: 1
          pointSize: 5
          scaleDistribution:
            type: linear
          showPoints: auto
          spanNulls: false
          stacking:
            group: A
            mode: none
          thresholdsStyle:
            mode: 'off'
        mappings: []
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
          - color: green
            value:
          - color: red
            value: 80
        unit: percent
      overrides: []
    gridPos:
      h: 7
      w: 24
      x: 0
      y: 0
    id: 2
    options:
      legend:
        calcs: []
        displayMode: list
        placement: right
      tooltip:
        mode: single
    targets:
    - refId: A
      target: aliasByNode(stats.telegraf.otcinfra.*.cpu.cpu-total.usage_idle, 3)
    title: Infra K8S nodes - CPU Idle
    type: timeseries
  - datasource: {{ grafana_ds | default('apimon') }}
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          axisLabel: ''
          axisPlacement: auto
          barAlignment: 0
          drawStyle: line
          fillOpacity: 0
          gradientMode: none
          hideFrom:
            legend: false
            tooltip: false
            viz: false
          lineInterpolation: linear
          lineWidth: 1
          pointSize: 5
          scaleDistribution:
            type: linear
          showPoints: auto
          spanNulls: false
          stacking:
            group: A
            mode: none
          thresholdsStyle:
            mode: 'off'
        mappings: []
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
          - color: green
            value:
          - color: red
            value: 80
        unit: percent
      overrides: []
    gridPos:
      h: 7
      w: 24
      x: 0
      y: 7
    id: 3
    options:
      legend:
        calcs: []
        displayMode: list
        placement: right
      tooltip:
        mode: single
    targets:
    - refId: A
      target: aliasByNode(stats.telegraf.otcinfra.*.mem.used_percent, 3)
    title: Infra K8S nodes - Memory Usage
    type: timeseries
  - alert:
      alertRuleTags: {}
      conditions:
      - evaluator:
          params:
          - 85
          type: gt
        operator:
          type: and
        query:
          params:
          - A
          - 5m
          - now
        reducer:
          params: []
          type: avg
        type: query
      executionErrorState: alerting
      for: 5m
      frequency: 1m
      handler: 1
      name: Disk Usage alert
      noDataState: alerting
      notifications:
      - uid: xpk1wTcZz
    datasource: {{ grafana_ds | default('apimon') }}
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          axisLabel: ''
          axisPlacement: auto
          barAlignment: 0
          drawStyle: line
          fillOpacity: 0
          gradientMode: none
          hideFrom:
            legend: false
            tooltip: false
            viz: false
          lineInterpolation: linear
          lineWidth: 1
          pointSize: 5
          scaleDistribution:
            type: linear
          showPoints: auto
          spanNulls: false
          stacking:
            group: A
            mode: none
          thresholdsStyle:
            mode: 'off'
        mappings: []
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
          - color: green
            value:
          - color: red
            value: 80
        unit: percent
      overrides: []
    gridPos:
      h: 9
      w: 24
      x: 0
      y: 14
    id: 4
    options:
      legend:
        calcs: []
        displayMode: list
        placement: right
      tooltip:
        mode: single
    targets:
    - queryType: randomWalk
      refId: A
      target: aliasByNode(stats.telegraf.*.disk.*.used_percent, 2, 4)
    thresholds:
    - colorMode: critical
      op: gt
      value: 85
      visible: true
    title: Disk Usage
    type: timeseries
  - datasource: {{ grafana_ds | default('apimon') }}
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          axisLabel: ''
          axisPlacement: auto
          barAlignment: 0
          drawStyle: line
          fillOpacity: 0
          gradientMode: none
          hideFrom:
            legend: false
            tooltip: false
            viz: false
          lineInterpolation: linear
          lineWidth: 1
          pointSize: 5
          scaleDistribution:
            type: linear
          showPoints: auto
          spanNulls: false
          stacking:
            group: A
            mode: none
          thresholdsStyle:
            mode: 'off'
        mappings: []
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
          - color: green
            value:
          - color: red
            value: 80
        unit: percent
      overrides: []
    gridPos:
      h: 9
      w: 24
      x: 0
      y: 23
    id: 5
    options:
      legend:
        calcs: []
        displayMode: list
        placement: right
      tooltip:
        mode: single
    targets:
    - queryType: randomWalk
      refId: A
      target: aliasByNode(stats.telegraf.*.mem.used_percent, 2)
    title: Memory Usage
    type: timeseries
  - datasource: {{ grafana_ds | default('apimon') }}
    fieldConfig:
      defaults:
        color:
          mode: palette-classic
        custom:
          axisLabel: ''
          axisPlacement: auto
          barAlignment: 0
          drawStyle: line
          fillOpacity: 0
          gradientMode: none
          hideFrom:
            legend: false
            tooltip: false
            viz: false
          lineInterpolation: linear
          lineWidth: 1
          pointSize: 5
          scaleDistribution:
            type: linear
          showPoints: auto
          spanNulls: false
          stacking:
            group: A
            mode: none
          thresholdsStyle:
            mode: 'off'
        mappings: []
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
          - color: green
            value:
          - color: red
            value: 80
        unit: percent
      overrides: []
    gridPos:
      h: 9
      w: 24
      x: 0
      y: 32
    id: 6
    options:
      legend:
        calcs: []
        displayMode: list
        placement: right
      tooltip:
        mode: single
    targets:
    - queryType: randomWalk
      refId: A
      target: aliasByNode(stats.telegraf.*.cpu.cpu-total.usage_idle, 2)
    title: CPU Idle
    type: timeseries
refresh: false
style: dark
tags: 
  - monitoring
templating:
  list: []
time:
  from: now-7d
  to: now
timepicker: {}
timezone: ''
title: Infra VM monitoring
uid: InfraVMmon
