# Necessary for fake clouds.yaml to be written
#clouds:
ansible_cron_disable_job: true
cloud_launcher_disable_job: true
extra_users: []

otcci_k8s:
  client_certificate_data: fake_cert_key
  client_key_data: fake_key_data

otcinfra1_k8s:
  server: https://fake_server
  client_certificate_data: fake_cert_key
  client_key_data: fake_key_data

otcinfra2_k8s:
  server: https://fake_server
  client_certificate_data: fake_cert_key
  client_key_data: fake_key_data

otcinfra_stg_k8s:
  server: https://fake_server
  client_certificate_data: fake_cert_key
  client_key_data: fake_key_data

x509_certs:
  - gearman-client
  - zookeeper-client
  - zk0.eco.tsi-dev.otc-service.com
