ssl_certs:
  dummy1-test:
    - dummy1.test.com

proxy_backends:
  - name: "dummy1"
    domain_names:
      - dummy1.test.com
    servers:
      - name: "t1"
        address: "1.2.3.4:80"
        opts: "check"
      - name: "t2"
        address: "2.3.4.5:8010"

statsd_host: localhost
