use_upstream_docker: False
ansible_python_interpreter: /usr/ansible-venv/bin/python

x509_certificates:
  - "zuul-gearman-client"
  - "zuul-gearman-server"
  - "zuul-zookeeper-client"

ssl_certs:
  swift-eco:
    - "swift.eco.tsi-dev.otc-service.com"
  graphite-apimon:
    - "graphite.apimon.eco.tsi-dev.otc-service.com"
  graphite:
    - "graphite-ca.eco.tsi-dev.otc-service.com"
  grafana:
    - "dashboard.tsi-dev.otc-service.com"
  grafana-eco:
    - "dashboard.eco.tsi-dev.otc-service.com"
  opensearch:
    - "opensearch.eco.tsi-dev.otc-service.com"
  opensearch-dashboard:
    - "opensearch-dashboard.eco.tsi-dev.otc-service.com"
  opensearch-stg:
    - "opensearch-stg.eco.tsi-dev.otc-service.com"
  opensearch-stg-dashboard:
    - "opensearch-stg-dashboard.eco.tsi-dev.otc-service.com"
  alerta:
    - "alerts.eco.tsi-dev.otc-service.com"
  matrix:
    - "matrix.otc-service.com"
  docs:
    - "docs.otc-service.com"
  docs-int:
    - "docs-int.otc-service.com"
  artifacts:
    - "artifacts.eco.tsi-dev.otc-service.com"
  octavia_de:
    - "octavia-de.eco.tsi-dev.otc-service.com"
  octavia_nl:
    - "octavia-nl.eco.tsi-dev.otc-service.com"
  vault:
    - "vault.eco.tsi-dev.otc-service.com"
# Name of the vault cert (used by acme-create-cert role to deploy it)
vault_cert: "vault"

firewalld_extra_ports_enable: ['8200/tcp', '8201/tcp']

# fallback to older version due to incompatibilities with ansible collection
bridge_openstacksdk_version: '0.61.0'

# vault node_id
vault_node_id: "node1"
