apiVersion: v1
kind: ServiceAccount
metadata:
  name: openapi-validator
automountServiceAccountToken: true
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: openapi-validator
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: openapi-validator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: openapi-validator
subjects:
- kind: ServiceAccount
  name: openapi-validator
