apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: "alerta"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "system-config"
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: "alerta"
    app.kubernetes.io/instance: "{{ instance }}"
status:
  loadBalancer: {}
