
[Unit]
Description=Carbon Service
After=syslog.target network.target

[Service]
Restart=always
User={{ alerta_os_user }}
Group={{ alerta_os_group }}
Environment=ALERTA_IMAGE=alerta/alerta-web
EnvironmentFile=/etc/alerta/env

ExecStartPre=-{{ container_runtime }} kill alerta
ExecStartPre=-{{ container_runtime }} rm alerta

ExecStart={{ container_runtime }} run \
  --name alerta \
{% if alerta_add_host is defined %}
  --add-host={{ alerta_add_host }} \
{% endif %}
  --env-file /etc/alerta/env \
  -p 8080:8080 \
  -v /etc/alerta/alertad.conf:/etc/alertad.conf:ro,z \
  -v /etc/alerta/alerta.conf:/app/alerta.conf:ro,z \
  --tmpfs /tmp:rw,size=787448k \
  ${ALERTA_IMAGE}

[Install]
WantedBy=multi-user.target
