AUTH_REQUIRED = True
USE_PROXYFIX = True
CUSTOMER_VIEWS = False

AUTH_PROVIDER='{{ alerta.alerta_auth_provider }}'
{% if alerta.alerta_auth_options_str is defined %}
{% for key in alerta.alerta_auth_options_str %}
{{ key }} = '{{alerta.alerta_auth_options_str[key] }}'
{% endfor %}
{% for key in alerta.alerta_auth_options_non_str %}
{{ key }} = {{alerta.alerta_auth_options_non_str[key] }}
{% endfor %}
{% endif%}


SMTP_HOST = '{{ alerta.alerta_smtp_host }}'
MAIL_FROM = '{{ alerta.alerta_smtp_from_address }}'
ALLOWED_ENVIRONMENTS = {{ alerta.alerta_allowed_environments }}
COLUMNS = {{ alerta.alerta_columns }}
HEARTBEAT_TIMEOUT = {{ alerta.alerta_heartbeat_timeout |int }}
PLUGINS = {{ alerta.alerta_plugins }}
{% if alerta.alerta_plugins_options is defined %}
{% for key in alerta.alerta_plugins_options %}
{{ key }} = '{{ alerta.alerta_plugins_options[key] }}'
{% endfor %}
{% endif %}

ADMIN_USERS = '{{ alerta.alerta_admin_users }}'

[%- with secret "{{ alerta.vault_database_path }}" %]
DATABASE_URL = 'postgresql://[% .Data.data.username %]:[% .Data.data.password %]@{{ alerta.alerta_db_host }}/{{ alerta.alerta_db_name }}' 
[%- end %]

[%- with secret "{{ alerta.vault_secret_path }}" %]
SECRET_KEY = '[% .Data.data.secret_key %]'
ZULIP_API_KEY = '[% .Data.data.zulip_api_key %]'
ADMIN_KEY = '[% .Data.data.admin_key %]'
[%- end %]

[%- with secret "{{ alerta.vault_ldap_path }}" %]
LDAP_BIND_PASSWORD = '[% .Data.data.bind_password %]'
[%- end %]
