[Unit]
Description=Alerta Service
After=syslog.target network.target

[Service]
Restart=always
TimeoutSec=30s
User={{ alerta_os_user }}
Group={{ alerta_os_group }}
EnvironmentFile=/etc/alerta/env

ExecStartPre=-{{ container_runtime }} kill alerta
ExecStartPre=-{{ container_runtime }} rm alerta

ExecStart={{ container_runtime }} run \
  --name alerta \
{% if container_command == 'podman' %}
  --log-opt=path=/dev/null \
{% endif %}
{% if alerta.alerta_add_host is defined %}
  --add-host={{ alerta.alerta_add_host }} \
{%else%}
  --add-host={{ alerta.default.alerta_add_host }} \
{% endif %}
  --env-file /etc/alerta/env \
  -p 8080:8080 \
  -v /etc/alerta/alertad.conf:/etc/alertad.conf:ro,z \
  -v /etc/alerta/supervisord.conf:/app/supervisord.conf:ro,z \
  --tmpfs /tmp:rw,size=787448k \
  ${ALERTA_IMAGE}

ExecStop={{ container_runtime }} stop -t 300 "alerta"
ExecStop={{ container_runtime }} rm "alerta"

[Install]
WantedBy=multi-user.target
