annotations:
  list:
    - builtIn: 1
      datasource: -- Grafana --
      enable: true
      hide: true
      iconColor: rgba(0, 211, 255, 1)
      limit: 100
      name: Annotations & Alerts
      showIn: 0
      type: dashboard
      tags: [ "JIRA_CM" ]
      type: "tags"

