  - type: "text"
    gridPos: 
      x: 0
      y: 0
      w: 24
      h: 2
    options:
      mode: "markdown"
      content: "This dashboard is managed by https://github.com/opentelekomcloud-infra/system-config. Any changes done here directly would be lost."
    transparent: true
