  - collapsed: false
    gridPos:
      h: 1
      w: 24
      x: 0
      y: 114
    panels: []
    title: CCE
    type: row

{{ mcr.sli_service_row('ccev2_0', 'CCE', 115) }}

  - datasource: {{ grafana_ds | default('apimon') }}
    {{ mcr.grid_pos(0, 125, 6, 6) }}
    gridPos:
      h: 6
      w: 6
      x: 0
      y: 125
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: false
          showPoints: "never"
        unit: "ms"
        decimals: 0
        min: 0
    options:
      legend:
        displayMode: "list"
        placement: "bottom"
    targets:
      - queryType: randomWalk
        refId: A
        target: aliasByNode(stats.timers.apimon.metric.$environment.$zone.create_cce_cluster.passed.upper_90,
          5)
    title: CCE Cluster provisioning duration
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    {{ mcr.grid_pos(6, 125, 6, 6) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: false
          showPoints: "never"
        unit: "ms"
        decimals: 0
        min: 0
    options:
      legend:
        displayMode: "list"
        placement: "bottom"
    targets:
      - queryType: randomWalk
        refId: A
        target: aliasByNode(stats.timers.apimon.metric.$environment.$zone.delete_cce_cluster.passed.upper_90,
          5)
    title: CCE Cluster deletion duration
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        custom: {}
        mappings: []
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
            - color: red
              value: null
            - color: yellow
              value: 80
            - color: green
              value: 99.99
        unit: percent
    {{ mcr.grid_pos(12, 125, 6, 6) }}
    options:
      colorMode: value
      reduceOptions:
        calcs:
          - lastNotNull
        fields: ''
        values: false
    targets:
      - queryType: randomWalk
        refId: A
        target: consolidateBy(asPercent(sumSeries(stats.counters.apimon.metric.$environment.$zone.create_cce_cluster.passed.count),
          sumSeries(stats.counters.apimon.metric.$environment.$zone.create_cce_cluster.attempted.count)), 'avg')
        textEditor: true
    title: CCE Cluster provisioning success rate
    type: stat

  - datasource: {{ grafana_ds | default('apimon') }}
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        custom: {}
        mappings: []
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
            - color: red
              value: null
            - color: yellow
              value: 80
            - color: green
              value: 99.99
        unit: percent
    {{ mcr.grid_pos(18, 125, 6, 6) }}
    options:
      colorMode: value
      reduceOptions:
        calcs:
          - last
        fields: ''
        values: false
    targets:
      - queryType: randomWalk
        refCount: 0
        refId: A
        target: consolidateBy(asPercent(sumSeries(stats.counters.apimon.metric.$environment.$zone.delete_cce_cluster.passed.count),
          sumSeries(stats.counters.apimon.metric.$environment.$zone.delete_cce_cluster.attempted.count)), 'avg')
        textEditor: true
    title: CCE Cluster deletion success rate
    type: stat


