    - allValue: null
      current:
        selected: false
        text: production_eu-de
        value: production_eu-de
      datasource: {{ grafana_ds | default('apimon') }}
      definition: stats.counters.apimon.metric.*.*
      label: Monitoring source
      name: zone
      query: stats.counters.apimon.metric.*.*
      refresh: 1
      regex: /^(?!vcloud_muc)(.*)$/
      skipUrlSync: false
      sort: 0
      type: query

