{% import 'macros.j2' as mcr with context %}
{% include '_annotations.yaml.j2' %}
description: Data for the Block Storage service
editable: false
panels:
{% include '_header.yaml.j2' %}

{% include '_service_header.yaml.j2' %}

  - bars: true
    datasource: {{ grafana_ds | default('apimon') }}
    fill: 1
    gridPos:
      h: 8
      w: 24
      x: 0
      y: 6
    legend:
      alignAsTable: true
      current: true
      max: true
      min: true
      rightSide: true
      show: true
      values: true
    options:
      alertThreshold: true
    targets:
      - target: groupByNode(consolidateBy(stats.timers.apimon.metric.$environment.$zone.create_volume.{_availability*,default,eu*}.passed.upper_90, 'sum'), 7, 'avg')

    title: Volume creation duration
    type: graph
    yaxes: 
      - format: ms
        show: true
      - show: false

  - bars: true
    datasource: {{ grafana_ds | default('apimon') }}
    fill: 1
    gridPos:
      h: 8
      w: 24
      x: 0
      y: 14
    legend:
      alignAsTable: true
      current: true
      max: true
      min: true
      rightSide: true
      show: true
      values: true
    options:
      alertThreshold: true
    targets:
      - target: groupByNode(consolidateBy(stats.timers.apimon.metric.$environment.$zone.create_volume_snapshot.passed.upper_90, 'sum'), 7, 'avg')
    title: Volume Snapshot creation duration
    type: graph
    yaxes: 
      - format: ms
        show: true
      - show: false

  - bars: true
    datasource: {{ grafana_ds | default('apimon') }}
    fill: 1
    gridPos:
      h: 8
      w: 24
      x: 0
      y: 22
    legend:
      alignAsTable: true
      current: true
      max: true
      min: true
      rightSide: true
      show: true
      values: true
    options:
      alertThreshold: true
    targets:
      - target: groupByNode(consolidateBy(stats.timers.apimon.metric.$environment.$zone.create_volume_backup.{default}.passed.upper_90, 'sum'), 7, 'avg')
    title: Volume Backup creation duration
    type: graph
    yaxes: 
      - format: ms
        show: true
      - show: false

  - bars: true
    datasource: {{ grafana_ds | default('apimon') }}
    fill: 1
    gridPos:
      h: 8
      w: 24
      x: 0
      y: 30
    legend:
      alignAsTable: true
      current: true
      max: true
      min: true
      rightSide: true
      show: true
      values: true
    options:
      alertThreshold: true
    targets:
      - target: groupByNode(consolidateBy(stats.timers.apimon.metric.$environment.$zone.restore_volume_backup.passed.upper_90, 'sum'), 7, 'avg')
    title: Volume Backup Restore duration
    type: graph
    yaxes: 
      - format: ms
        show: true
      - show: false

{{ mcr.service_api_latency('block-storage', 38) }}
{{ mcr.service_max_api_latency('block-storage', 40) }}
{{ mcr.service_bad_calls('block-storage', 42) }}
{{ mcr.service_failures(44) }}
{{ mcr.service_results(46) }}

refresh: false
style: dark
tags:
  - block_storage
  - apimon
templating:
  list:
{% include '_template_env.yaml.j2' %}
{% include '_template_zone.yaml.j2' %}
      multi: true

{{ mcr.service_scenarios_template(['scenario3_simple_evs.yaml', 'scenario3a_evs_az.yaml']) }}

time:
  from: now-6h
  to: now
timepicker:
  refresh_intervals:
    - 10s
    - 30s
    - 1m
    - 5m
    - 15m
    - 30m
    - 1h
    - 2h
    - 1d
timezone: ''
title: Block Storage Service statistics
uid: APImonBlockStorage
