{% import 'macros.j2' as mcr with context %}
{% include '_annotations.yaml.j2' %}
description: KPIs of the platform
editable: false
panels:
{% include '_header.yaml.j2' %}

# SLI row
  - collapsed: false
    {{ mcr.grid_pos(0, 2, 1, 24) }}
    title: Service Level Indicators
    type: row

  - datasource: {{ grafana_ds | default('apimon') }}
    description: 'Percentage of positive responses to total requests'
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        decimals: 2
        max: 100
        min: 0
        thresholds:
          mode: absolute
          steps:
            - color: red
              value: null
            - color: yellow
              value: 95
            - color: green
              value: 99.9
        unit: percent
    {{ mcr.grid_pos(0, 3, 6, 6) }}
    id: 1
    options:
      colorMode: value
      graphMode: area
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - mean
        fields: ''
        values: false
      textMode: auto
    targets:
      - queryType: randomWalk
        refId: A
        target: consolidateBy(asPercent(sumSeries(group(exclude(stats.counters.openstack.api.$environment.$zone.*.*.*.{2*,3*,404}.count,
          'modelarts|tms|bms'), stats.counters.openstack.api.$environment.$zone.dns.GET.zone.400.count, stats.counters.openstack.api.$environment.$zone.dns.GET.zone_recordset.400.count)),
          sumSeries(exclude(stats.counters.openstack.api.$environment.$zone.*.*.*.attempted.count,
          'modelarts|tms|bms'))), 'avg')
        textEditor: true
    title: SLI Service API Availability
    type: stat

  - datasource: {{ grafana_ds | default('apimon') }}
    description: Highest API request latency
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        decimals: 1
        thresholds:
          mode: absolute
          steps:
            - color: green
              value: null
            - color: '#EAB839'
              value: 1000
            - color: red
              value: 3000
        unit: ms
    {{ mcr.grid_pos(6, 3, 6, 6) }}
    id: 2
    options:
      colorMode: value
      graphMode: area
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - last
        fields: ''
        values: false
      justifyMode: auto
      orientation: auto
      textMode: auto
    targets:
      - queryType: randomWalk
        refId: A
        target: maxSeries(stats.timers.openstack.api.$environment.$zone.*.*.*.*.upper)
        textEditor: false
    title: SLI Max API latency
    type: stat

  - datasource: {{ grafana_ds | default('apimon') }}
    description: 90% of the request mean duration are under
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        decimals: 1
        thresholds:
          mode: absolute
          steps:
            - color: green
              value: null
            - color: '#EAB839'
              value: 900
            - color: red
              value: 1000
        unit: ms
    {{ mcr.grid_pos(12, 3, 6, 6) }}
    id: 3
    options:
      colorMode: value
      graphMode: area
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - last
        fields: ''
        values: false
      textMode: auto
    targets:
      - queryType: randomWalk
        refId: A
        target: percentileOfSeries(stats.timers.openstack.api.$environment.$zone.*.*.*.*.mean,
          90, false)
        textEditor: false
    title: SLI 90% of mean API latency
    type: stat

  - datasource: {{ grafana_ds | default('apimon') }}
    description: 90% of the request lowest duration are under
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        custom: {}
        decimals: 1
        mappings: []
        thresholds:
          mode: absolute
          steps:
            - color: green
              value: null
            - color: '#EAB839'
              value: 900
            - color: red
              value: 1000
        unit: ms
    {{ mcr.grid_pos(18, 3, 6, 6) }}
    id: 4
    options:
      colorMode: value
      graphMode: area
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - last
        fields: ''
        values: false
      textMode: auto
    targets:
      - queryType: randomWalk
        refId: A
        target: percentileOfSeries(stats.timers.openstack.api.$environment.$zone.*.*.*.*.lower,
          90, false)
        textEditor: false
    title: SLI 90% of lowest API latency
    type: stat

  - datasource: {{ grafana_ds | default('apimon') }}
    description: Bad responses (4*, 5*, excluding 404)
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        custom: {}
        mappings: []
        thresholds:
          mode: absolute
          steps:
            - color: green
              value: null
            - color: red
              value: 1
        unit: short
    {{ mcr.grid_pos(0, 9, 6, 6) }}
    id: 5
    options:
      colorMode: value
      graphMode: area
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - lastNotNull
        fields: ''
        values: false
      textMode: auto
    targets:
      - refId: A
        target: consolidateBy(sumSeries(exclude(stats.counters.openstack.api.$environment.$zone.*.*.*.{4*,5*}.count,
          '404|dns.GET.zone.400|dns.GET.zone_recordset.400|object')), 'sum')
        textEditor: true
    title: SLI Count of API Errors
    type: stat

# SLO row
  - collapsed: false
    {{ mcr.grid_pos(0, 15, 1, 24) }}
    title: SLO (WIP)
    type: row

  - datasource: {{ grafana_ds | default('apimon') }}
    description: Average of SLI Service availability for 1w
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        custom: {}
        decimals: 2
        mappings: []
        thresholds:
          mode: absolute
          steps:
            - color: blue
              value: null
            - color: red
              value: 0
            - color: '#EAB839'
              value: 90
            - color: green
              value: 99
        unit: percent
    {{ mcr.grid_pos(0, 16, 6, 6) }}
    options:
      colorMode: value
      graphMode: area
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - last
        values: false
      textMode: auto
    targets:
      - queryType: randomWalk
        refId: A
        target: movingAverage(consolidateBy(asPercent(sumSeries(group(exclude(stats.counters.openstack.api.$environment.$zone.*.*.*.{2*,3*,404}.count,
          'modelarts|tms|bms'), stats.counters.openstack.api.$environment.$zone.dns.GET.zone.400.count, stats.counters.openstack.api.$environment.$zone.dns.GET.zone_recordset.400.count)),
          sumSeries(exclude(stats.counters.openstack.api.$environment.$zone.*.*.*.attempted.count,
          'modelarts|tms|bms'))), 'avg'), '7d')
        textEditor: true
    title: SLO Service Availability
    type: stat

  - datasource: -- Dashboard --
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        custom: {}
        decimals: 1
        mappings: []
        thresholds:
          mode: absolute
          steps:
            - color: green
              value: null
            - color: red
              value: 1000
        unit: ms
    {{ mcr.grid_pos(6, 16, 6, 6) }}
    options:
      colorMode: value
      graphMode: area
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - max
        values: false
      textMode: auto
    targets:
      - panelId: 2
        queryType: randomWalk
        refId: A
    title: SLO Max Latency
    transformations:
      - id: reduce
    type: stat

  - datasource: -- Dashboard --
    description: Count of API Error in selected timeframe
    fieldConfig:
      defaults:
        color:
          mode: thresholds
        custom: {}
        mappings: []
        thresholds:
          mode: absolute
          steps:
            - color: green
              value: null
            - color: yellow
              value: 10
            - color: red
              value: 50
      overrides: []
    {{ mcr.grid_pos(12, 16, 6, 6) }}
    options:
      colorMode: value
      justifyMode: auto
      orientation: auto
      reduceOptions:
        calcs:
          - mean
      textMode: auto
    targets:
      - panelId: 5
        queryType: randomWalk
        refId: A
    title: SLO Count Errors
    transformations:
      - id: reduce
        options:
          reducers:
            - sum
    type: stat

# Identity
{% include '_kpi_identity.yaml.j2' %}

# Compute
{% include '_kpi_compute.yaml.j2' %}

{% include '_kpi_block_storage.yaml.j2' %}

# Network
{% include '_kpi_network.yaml.j2' %}

# Image
{% include '_kpi_image.yaml.j2' %}

# CCE
{% include '_kpi_cce.yaml.j2' %}

# DNS
  - collapsed: false
    {{ mcr.grid_pos(0, 131, 1, 24) }}
    panels: []
    title: DNS
    type: row

# TODO: DNS need to exclude 400 error
{{ mcr.sli_service_row_dns('dns', 'DNS', 132) }}

# CES
  - collapsed: false
    {{ mcr.grid_pos(0, 140, 1, 24) }}
    panels: []
    title: CES
    type: row
{{ mcr.sli_service_row('ces', 'CES', 141) }}

# DIS
  - collapsed: false
    {{ mcr.grid_pos(0, 142, 1, 24) }}
    panels: []
    title: DIS
    type: row

{{ mcr.sli_service_row('disv2', 'DIS', 143) }}

# DMS
  - collapsed: false
    {{ mcr.grid_pos(0, 148, 1, 24) }}
    panels: []
    title: DMS
    type: row

{{ mcr.sli_service_row('dmsv1', 'DMS', 149) }}

# KMS
  - collapsed: false
    {{ mcr.grid_pos(0, 154, 1, 24) }}
    panels: []
    title: KMS
    type: row

{{ mcr.sli_service_row('kms', 'KMS', 155) }}

# TODO: max latency

# Heat
  - collapsed: false
    {{ mcr.grid_pos(0, 180, 1, 24) }}
    panels: []
    title: Orchestration
    type: row

{{ mcr.sli_service_row('orchestration', 'Orchestration', 181) }}

# WAF
  - collapsed: false
    {{ mcr.grid_pos(0, 187, 1, 24) }}
    title: WAF
    type: row
    panels:  []
{{ mcr.sli_service_row('waf', 'WAF', 188) }}


refresh: false
style: dark
tags:
  - apimon
templating:
  list:
{% include '_template_env.yaml.j2' %}
{% include '_template_zone.yaml.j2' %}
      multi: true
time:
  from: now-7d
  to: now
timezone: ''
title: OTC KPI
uid: APImonKPI
