{% import 'macros.j2' as mcr with context %}
{% include '_annotations.yaml.j2' %}
description: Data for the Network service
editable: false
panels:
{% include '_header.yaml.j2' %}

{% include '_service_header.yaml.j2' %}

  - datasource: {{ grafana_ds | default('apimon') }}
    {{ mcr.grid_pos(0, 6, 6, 12) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: true
          showPoints: "never"
        unit: "ms"
        decimals: 0
        min: 0
    options:
      legend:
        displayMode: "table"
        placement: "right"
        calcs:
          - "lastNotNull"
    targets:
      - refId: A
        target: groupByNode(stats.timers.apimon.metric.$environment.$zone.csm_lb_timings.public.*.*.mean, 8, 'avg')
    title: LoadBalancer Latency per type
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    {{ mcr.grid_pos(12, 6, 6, 12) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: true
          showPoints: "never"
        unit: "ms"
        decimals: 0
        min: 0
    options:
      legend:
        displayMode: "table"
        placement: "right"
        calcs:
          - "lastNotNull"
    targets:
      - refId: A
        target: groupByNode(stats.timers.apimon.metric.$environment.$zone.csm_lb_timings.public.*.*.mean, 9, 'avg')
    title: LoadBalancer Latency per AZ
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      Curl like request latencies to the hosts in scenario30_domains.yaml
    {{ mcr.grid_pos(0, 15, 6, 18) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: true
          showPoints: "never"
          thresholdsStyle:
            mode: "line+area"
        unit: "ms"
        decimals: 0
        min: 0
        thresholds:
          mode: "absolute"
          steps:
            - color: "transparent"
              value: null
            - color: "orange"
              value: 300
            - color: "red"
              value: 500
    options:
      legend:
        displayMode: "table"
        placement: "right"
        calcs:
          - "lastNotNull"
    targets:
      - refId: A
        target: aliasByNode(stats.timers.apimon.metric.$environment.$zone.curl.*.{2*,3*}.mean, 5, 7)
    title: Domains curl Latency
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      Curl like request errors (4*, 5*, failed) for the hosts in scenario30_domains.yaml
    {{ mcr.grid_pos(18, 15, 6, 6) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "points"
          lineInterpolation: "linear"
          pointSize: 6
          gradientMode: "none"
          spanNulls: true
          axisPlacement: "hidden"
    options:
      legend:
        displayMode: "list"
        placement: "bottom"
    targets:
      - refId: A
        target: aliasByNode(stats.counters.apimon.metric.$environment.$zone.curl.*.{4*,5*}.attempted.count, 7, 8)
      - refId: B
        target: aliasByNode(stats.counters.apimon.metric.$environment.$zone.curl.*.failed.count, 7, 8)
    title: Domains curl Errors
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      NS Lookup from specific NS servers
    {{ mcr.grid_pos(0, 16, 6, 18) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: true
          showPoints: "never"
        unit: "ms"
        decimals: 0
        min: 0
    options:
      legend:
        displayMode: "table"
        placement: "right"
        calcs:
          - "mean"
          - "last"
          - "max"
    targets:
      - refId: A
        target: groupByNodes(stats.timers.apimon.metric.$environment.$zone.dns.*.*.mean, 'avg', 7, 8)
    title: NS Lookup
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      NS Lookup failures from specific NS servers
    {{ mcr.grid_pos(18, 16, 6, 6) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "points"
          lineInterpolation: "linear"
          pointSize: 6
          gradientMode: "none"
          spanNulls: true
          axisPlacement: "hidden"
    options:
      legend:
        displayMode: "list"
        placement: "bottom"
    targets:
      - refId: A
        target: aliasByNode(stats.counters.apimon.metric.$environment.$zone.dns.*.*.failed.count, 7, 8)
    title: NS Lookup Failures
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      Ping latency for hosts inside VPC or through VPC Peering using internal IP addresses
    {{ mcr.grid_pos(0, 24, 8, 18) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: true
          showPoints: "never"
        unit: "ms"
        decimals: 1
        min: 0
    options:
      legend:
        displayMode: "table"
        placement: "right"
        calcs:
          - "lastNotNull"
    targets:
      - refId: A
        target: groupByNodes(stats.timers.apimon.metric.$environment.$zone.ping.{vpc,peering}.*.*.mean, 'avg', 9)
    title: Internal VPC/Peering Latency
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      Ping errors for hosts inside VPC/VPC peering using internal IP addresses
    {{ mcr.grid_pos(18, 24, 8, 6) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "points"
          lineInterpolation: "linear"
          pointSize: 6
          gradientMode: "none"
          showPoints: "never"
          axisPlacement: "hidden"
    options:
      legend:
        displayMode: "list"
        placement: "bottom"
    targets:
      - refId: A
        target: groupByNodes(stats.counters.apimon.metric.$environment.$zone.ping.{peering,vpc}.*.*.failed, 'sum', 7)
    title: Internal ping errors
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      Ping latency for outside world through NATGW and Shared SNAT
    {{ mcr.grid_pos(0, 32, 8, 18) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "line"
          lineInterpolation: "linear"
          lineWidth: 1
          fillOpacity: 10
          gradientMode: "none"
          spanNulls: true
          showPoints: "never"
        unit: "ms"
        decimals: 0
        min: 0
    options:
      legend:
        displayMode: "list"
        placement: "bottom"
        calcs:
          - "lastNotNull"
    targets:
      - refId: A
        target: groupByNodes(stats.timers.apimon.metric.$environment.$zone.ping.{natgw,snat}.*.mean, 'avg', 7)
    title: Outside NATGW/SNAT ping Latency
    type: timeseries

  - datasource: {{ grafana_ds | default('apimon') }}
    description: |
      Outside ping errors. Single errors are not an problem indicator (pinging hosts in different countries).
    {{ mcr.grid_pos(18, 32, 8, 6) }}
    fieldConfig:
      defaults: 
        custom: 
          drawStyle: "points"
          lineInterpolation: "linear"
          pointSize: 6
          gradientMode: "none"
          spanNulls: true
          axisPlacement: "hidden"
    options:
      legend:
        displayMode: "list"
        placement: "bottom"
    targets:
      - refId: A
        target: groupByNodes(stats.counters.apimon.metric.$environment.$zone.ping.{natgw,snat}.*.failed, 'sum', 7)
    title: Outside ping errors
    type: timeseries

{{ mcr.service_api_latency('network', 100) }}
{{ mcr.service_max_api_latency('network', 102) }}
{{ mcr.service_bad_calls('network', 104) }}
{{ mcr.service_failures(106) }}
{{ mcr.service_results(108) }}

refresh: false
style: dark
tags:
  - network
  - apimon
templating:
  list:
{% include '_template_env.yaml.j2' %}
{% include '_template_zone.yaml.j2' %}
      multi: true

{{ mcr.service_scenarios_template(['scenario2_simple_ecs.yaml',
'scenario2a_ecs_az.yaml', 'scenario19_simple_vpc.yaml',
'scenario30_domains.yaml', 'scenario31_nslookup.yaml',
'lb_monitoring.yaml']) }}

time:
  from: now-6h
  to: now
timepicker:
  refresh_intervals:
    - 10s
    - 30s
    - 1m
    - 5m
    - 15m
    - 30m
    - 1h
    - 2h
    - 1d
timezone: ''
title: Network Service statistics
uid: APIMonNSS
