    - allValue: null
      current:
        selected: false
        text: production_eu-de
        value: production_eu-de
      datasource: apimon
      definition: stats.counters.openstack.api.*.*
      includeAll: false
      label: Monitoring source
      multi: false
      name: zone
      query: stats.counters.openstack.api.*.*
      refresh: 1
      regex: /^(?!swift)(.*)$/
      skipUrlSync: false
      sort: 0
      type: query

