apiVersion: apps/v1
kind: Deployment
metadata:
  name: umami
  labels:
    app: umami
spec:
  replicas: 1
  selector:
    matchLabels:
      app: umami
  template:
    metadata:
      labels:
        app: umami
    spec:
      serviceAccount: "analytics"
      containers:
      - name: umami
        command:
          ["/bin/sh", "-c"]
        args:
          ['source /secrets/analytics-env && yarn start-docker']
        image: quay.io/opentelekomcloud/umami:3.0.3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "500m"
            memory: "500Mi"
          limits:
            cpu: "500m"
            memory: "500Mi"
        readinessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 20
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 20
          periodSeconds: 5
        volumeMounts:
        - mountPath: "/secrets"
          name: "secrets"
      initContainers:
        - name: "vault-agent"
          command:
            - "sh"
            - "-c"
            - "vault agent -config=/etc/vault/vault-agent.hcl -exit-after-auth=true"
          env:
            - name: "VAULT_ADDR"
              value: "https://vault-lb.eco.tsi-dev.otc-service.com:8200"
          image: "hashicorp/vault"
          resources:
            limits:
              cpu: "100m"
              memory: "100Mi"
            requests:
              cpu: "50m"
              memory: "50Mi"
          volumeMounts:
            - mountPath: "/etc/vault"
              name: "vault-agent-config"
            - mountPath: "/secrets"
              name: "secrets"
            - mountPath: "/var/run/secrets/tokens"
              name: "k8-tokens"
              readOnly: true
      volumes:
        - name: vault-agent-config
          configMap:
            defaultMode: 420
            name: analytics-vault-config

        - name: secrets
          emptyDir: {}

        - name: "k8-tokens"
          projected:
            defaultMode: 420
            sources:
            - serviceAccountToken:
                expirationSeconds: 7200
                path: "vault-token"
