apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/instance: base
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: analytics
    app.kubernetes.io/version: v3.0.1

resources:
- service.yaml
- ingress.yaml
- deploy.yaml
- sa.yaml
