---
# Preprod tenant configuration for Zuul
# This tenant watches the preprod branch for testing

- tenant:
    name: preprod
    max-nodes-per-job: 5
    exclude-unprotected-branches: false
    source:
      github:
        config-projects:
          - opentelekomcloud-infra/system-config:
              include:
                - job
                - semaphore
                - project
                - project-template
                - pipeline
                - nodeset
                - secret
              load-branch: preprod
      # gitlab:
      #   config-projects:
      #     - ecosystem/system-config:
      #         include:
      #           - job
      #           - semaphore
      #           - project
      #           - project-template
      #           - pipeline
      #           - nodeset
      #           - secret
      #         load-branch: preprod
