---
# Preprod tenant configuration for Zuul
# Loads pipelines from zuul-config, tests system-config preprod branch

- tenant:
    name: preprod
    max-nodes-per-job: 5
    exclude-unprotected-branches: false
    source:
      github:
        config-projects:
          - opentelekomcloud-infra/zuul-config:
              include:
                - job
                - semaphore
                - project
                - project-template
                - pipeline
                - nodeset
                - secret
              load-branch: preprod
          - opentelekomcloud-infra/otc-zuul-jobs:
              include:
                - job
                - semaphore
                - project-template
                - nodeset
                - secret
              load-branch: preprod
          - opentelekomcloud-infra/zuul-project-config:
              include:
                - job
                - semaphore
                - project-template
                - nodeset
                - secret
              load-branch: preprod
        untrusted-projects:
          - opentelekomcloud-infra/system-config:
              include: []
              shadow: opentelekomcloud-infra/system-config
              exclude-branches:
                - main
              include-branches:
                - preprod
