---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: umami
spec:
  replicas: 2
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      initContainers: []
      volumes: []
      containers:
        - name: umami
          command:
            - "node"
          args:
            - "/app/server.js"
          volumeMounts: []
          envFrom:
            - secretRef:
                name: umami-credentials
            - configMapRef:
                name: umami-config
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            runAsUser: 1000
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "50m"
              memory: "512Mi"
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: umami
                topologyKey: kubernetes.io/hostname
