apiVersion: v1
kind: PersistentVolume
metadata:
  name: zuul-config-sfs-turbo
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  mountOptions:
    - vers=3
    - nolock
    - noresvport
    - timeo=600
  nfs:
    server: 192.168.21.191
    path: /
  persistentVolumeReclaimPolicy: Retain
  storageClassName: csi-sfsturbo-retain
