global:
  dnsService: coredns
loki:
  commonConfig:
    replication_factor: 1
  storage:
    # where to store logs
    type: s3
  # retention enable
  compactor:
    retention_enabled: true
    compaction_interval: 10m
    retention_delete_delay: 2h
    working_directory: /var/loki/compactor
    delete_request_store: s3
  # retention period config
  limits_config:
    retention_period: 2184h
table_manager:
  retention_deletes_enabled: true
  retention_period: 1440h
read:
  replicas: 1
  persistence:
    storageClass: csi-disk-retain
  resources:
    requests:
      cpu: 200m
      memory: 200Mi
    limits:
      memory: 4096Mi
write:
  replicas: 1
  persistence:
    storageClass: csi-disk-retain
  resources:
    requests:
      cpu: 200m
      memory: 3000Mi
    limits:
      memory: 3000Mi
backend:
  persistence:
    enabled: true
    storageClass: null
    size: null
  extraVolumes:
    - name: loki-data-nfs
      nfs:
        server: 192.168.170.79
        path: /loki
  extraVolumeMounts:
    - name: loki-data-nfs
      mountPath: /var/loki
  resources:
    requests:
      cpu: 200m
      memory: 250Mi
    limits:
      memory: 250Mi
monitoring:
  lokiCanary:
    resources:
      requests:
        cpu: 200m
        memory: 200Mi
      limits:
        memory: 200Mi
  selfMonitoring:
    enabled: false
    lokiCanary:
      enabled: false
    grafanaAgent:
      installOperator: false
  # grafana dashboards to be added under prometheus/grafana instance
  # running on the same k8s cluster
  dashboards:
    namespace: monitoring
    labels:
      grafana_dashboard: "1"
      release: "prometheus"
  # prometheus rules to be added under prometheus instance running
  # on the same k8s cluster
  rules:
    namespace: monitoring
    labels:
      release: "prometheus"
  # servicemonitor instance to be added under prometheus instance
  # running on the same k8s cluster - to scrape loki metrics
  serviceMonitor:
    metricsInstance:
      enabled: false
    namespace: monitoring
    namespaceSelector:
      matchNames:
        - loki
    labels:
      release: "prometheus"
test:
  enabled: false

gateway:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hosts:
      - host: "{{ chart.fqdn }}"
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: "{{ chart.tls_secret_name }}"
        hosts:
          - "{{ chart.fqdn }}"
  basicAuth:
    enabled: true
    username: "{{ chart.loki_username }}"
    password: "{{ chart.loki_password }}"
  resources:
    requests:
      cpu: 2500m
      memory: 200Mi
    limits:
      memory: 200Mi

minio:
  enabled: true
  rootPassword: "{{ chart.loki_minio_root_password }}"
  persistence:
    size: 400Gi
    storageClass: csi-disk-retain
  resources:
    requests:
      cpu: 200m
      memory: 7500Mi
    limits:
      memory: 7500Mi
