map $request_uri $new_uri {
  default "";
  /api/cts/ /cloud-trace-service/api-ref/index.html;
  /api/cts/en-us_topic_0168602260.html /cloud-trace-service/api-ref/api_description/index.html;
  /api/cts/en-us_topic_0168602232.html /cloud-trace-service/api-ref/api_description/tracker_management/index.html;
  /api/cts/en-us_topic_0168602253.html /cloud-trace-service/api-ref/api_description/tracker_management/querying_a_tracker.html;
  /api/cts/en-us_topic_0168602227.html /cloud-trace-service/api-ref/api_description/tracker_management/modifying_a_tracker.html;
  /api/cts/en-us_topic_0168602251.html /cloud-trace-service/api-ref/api_description/tracker_management/creating_a_tracker.html;
  /api/cts/en-us_topic_0168602223.html /cloud-trace-service/api-ref/api_description/tracker_management/deleting_a_tracker.html;
  /api/cts/en-us_topic_0168602231.html /cloud-trace-service/api-ref/api_description/api_version_management/index.html;
  /api/cts/en-us_topic_0168602247.html /cloud-trace-service/api-ref/api_description/api_version_management/querying_all_api_versions.html;
  /api/cts/en-us_topic_0168602243.html /cloud-trace-service/api-ref/api_description/api_version_management/querying_a_specified_api_version.html;
  /api/cts/en-us_topic_0168602178.html /cloud-trace-service/api-ref/api_description/trace_management/index.html;
  /api/cts/en-us_topic_0168602225.html /cloud-trace-service/api-ref/api_description/trace_management/querying_traces_v1.html;
  /api/cts/en-us_topic_0168602252.html /cloud-trace-service/api-ref/api_description/trace_management/querying_traces_v2.html;
  /api/cts/topic_300000003.html /cloud-trace-service/api-ref/api_description/key_event_notification_management/index.html;
  /api/cts/cts_api_0313.html /cloud-trace-service/api-ref/api_description/key_event_notification_management/modifying_a_key_event_notification.html;
  /api/cts/cts_api_0314.html /cloud-trace-service/api-ref/api_description/key_event_notification_management/deleting_a_key_event_notification.html;
  /api/cts/cts_api_0315.html /cloud-trace-service/api-ref/api_description/key_event_notification_management/querying_a_key_event_notification.html;
  /api/cts/cts_api_0312.html /cloud-trace-service/api-ref/api_description/key_event_notification_management/creating_a_key_event_notification.html;
  /api/cts/en-us_topic_0168602179.html /cloud-trace-service/api-ref/api_usage_guidelines.html;
  /api/cts/en-us_topic_0168602228.html /cloud-trace-service/api-ref/change_history.html;
  /api/cts/en-us_topic_0168602233.html /cloud-trace-service/api-ref/public_parameters/index.html;
  /api/cts/en-us_topic_0168602259.html /cloud-trace-service/api-ref/public_parameters/error_codes.html;
  /usermanual/cts/ /cloud-trace-service/umn/index.html;
  /usermanual/cts/en-us_topic_0030579718.html /cloud-trace-service/umn/overview/index.html;
  /usermanual/cts/en-us_topic_0100236044.html /cloud-trace-service/umn/overview/supported_services.html;
  /usermanual/cts/en-us_topic_0043877299.html /cloud-trace-service/umn/overview/working_principle.html;
  /usermanual/cts/en-us_topic_0043877274.html /cloud-trace-service/umn/overview/concepts/index.html;
  /usermanual/cts/en-us_topic_0043877275.html /cloud-trace-service/umn/overview/concepts/tracker.html;
  /usermanual/cts/en-us_topic_0071359470.html /cloud-trace-service/umn/overview/concepts/region.html;
  /usermanual/cts/en-us_topic_0043877276.html /cloud-trace-service/umn/overview/concepts/trace.html;
  /usermanual/cts/en-us_topic_0043877277.html /cloud-trace-service/umn/overview/concepts/trace_list.html;
  /usermanual/cts/en-us_topic_0071359471.html /cloud-trace-service/umn/overview/concepts/project.html;
  /usermanual/cts/en-us_topic_0043877298.html /cloud-trace-service/umn/overview/concepts/trace_file.html;
  /usermanual/cts/en-us_topic_0030594187.html /cloud-trace-service/umn/overview/concepts/cts.html;
  /usermanual/cts/en-us_topic_0043877300.html /cloud-trace-service/umn/overview/application_scenarios.html;
  /usermanual/cts/en-us_topic_0030581459.html /cloud-trace-service/umn/trace_references/index.html;
  /usermanual/cts/en-us_topic_0030598500.html /cloud-trace-service/umn/trace_references/trace_structure.html;
  /usermanual/cts/en-us_topic_0044019595.html /cloud-trace-service/umn/trace_references/example_traces.html;
  /usermanual/cts/cts_faq_002.html /cloud-trace-service/umn/faqs/which_type_of_information_is_displayed_on_the_trace_list.html;
  /usermanual/cts/en-us_topic_0030932518.html /cloud-trace-service/umn/faqs/index.html;
  /usermanual/cts/cts_faq_019.html /cloud-trace-service/umn/faqs/why_are_user_and_source_ip_empty_for_some_traces_with_trace_type_as_systemaction.html;
  /usermanual/cts/cts_faq_005.html /cloud-trace-service/umn/faqs/what_are_the_recommended_users_of_cts.html;
  /usermanual/cts/cts_faq_020.html /cloud-trace-service/umn/faqs/what_are_the_meanings_of_the_three_trace_statuses.html;
  /usermanual/cts/cts_faq_006.html /cloud-trace-service/umn/faqs/how_long_can_trace_files_be_retained.html;
  /usermanual/cts/cts_faq_013.html /cloud-trace-service/umn/faqs/why_are_user_name_and_op_service_displayed_when_i_filter_traces_by_user.html;
  /usermanual/cts/cts_faq_003.html /cloud-trace-service/umn/faqs/can_i_delete_traces_from_the_trace_list.html;
  /usermanual/cts/cts_faq_015.html /cloud-trace-service/umn/faqs/what_services_are_supported_for_key_event_notification.html;
  /usermanual/cts/cts_faq_010.html /cloud-trace-service/umn/faqs/why_are_fields_of_some_traces_displayed_as_null_on_the_view_trace_page.html;
  /usermanual/cts/cts_faq_012.html /cloud-trace-service/umn/faqs/why_is_an_operation_recorded_twice_in_the_trace_list.html;
  /usermanual/cts/cts_faq_011.html /cloud-trace-service/umn/faqs/why_are_the_resource_ids_of_some_traces_in_the_trace_list_hyperlinks.html;
  /usermanual/cts/cts_faq_001.html /cloud-trace-service/umn/faqs/can_i_create_multiple_trackers.html;
  /usermanual/cts/cts_faq_017.html /cloud-trace-service/umn/faqs/which_type_of_obs_buckets_is_suitable_for_cts_to_store_traces.html;
  /usermanual/cts/cts_faq_007.html /cloud-trace-service/umn/faqs/what_will_happen_if_i_have_enabled_cts_but_have_not_configured_a_correct_policy_for_the_obs_bucket.html;
  /usermanual/cts/cts_faq_009.html /cloud-trace-service/umn/faqs/will_performance_of_other_cloud_service_resources_be_affected_if_i_enable_cts.html;
  /usermanual/cts/en-us_topic_0045053541.html /cloud-trace-service/umn/change_history.html;
  /usermanual/cts/en-us_topic_0043371376.html /cloud-trace-service/umn/application_examples/index.html;
  /usermanual/cts/en-us_topic_0043371377.html /cloud-trace-service/umn/application_examples/security_auditing.html;
  /usermanual/cts/en-us_topic_0043371379.html /cloud-trace-service/umn/application_examples/fault_locating.html;
  /usermanual/cts/en-us_topic_0043371378.html /cloud-trace-service/umn/application_examples/resource_tracking.html;
  /usermanual/cts/en-us_topic_0030581457.html /cloud-trace-service/umn/getting_started/index.html;
  /usermanual/cts/en-us_topic_0030598636.html /cloud-trace-service/umn/getting_started/querying_archived_traces.html;
  /usermanual/cts/en-us_topic_0030598499.html /cloud-trace-service/umn/getting_started/querying_traces_on_the_cts_console.html;
  /usermanual/cts/en-us_topic_0030598498.html /cloud-trace-service/umn/getting_started/enabling_cts.html;
  /usermanual/cts/en-us_cts_01_0001.html /cloud-trace-service/umn/getting_started/configuring_key_event_notifications.html;
  /usermanual/cts/en-us_topic_0100236045.html /cloud-trace-service/umn/supported_services_and_operation_lists/index.html;
  /usermanual/cts/en-us_topic_0127139655.html /cloud-trace-service/umn/supported_services_and_operation_lists/security/index.html;
  /usermanual/cts/en-us_topic_0100291690.html /cloud-trace-service/umn/supported_services_and_operation_lists/security/key_operations_on_waf.html;
  /usermanual/cts/en-us_topic_0100291686.html /cloud-trace-service/umn/supported_services_and_operation_lists/security/key_operations_on_anti-ddos.html;
  /usermanual/cts/en-us_topic_0100291685.html /cloud-trace-service/umn/supported_services_and_operation_lists/security/key_operations_on_kms.html;
  /usermanual/cts/en-us_topic_0127139653.html /cloud-trace-service/umn/supported_services_and_operation_lists/database/index.html;
  /usermanual/cts/en-us_topic_0100363626.html /cloud-trace-service/umn/supported_services_and_operation_lists/database/key_operations_on_drs.html;
  /usermanual/cts/en-us_cts_03_0011.html /cloud-trace-service/umn/supported_services_and_operation_lists/database/key_operations_on_gaussdbfor_mysql.html;
  /usermanual/cts/en-us_topic_0100363625.html /cloud-trace-service/umn/supported_services_and_operation_lists/database/key_operations_on_rds.html;
  /usermanual/cts/en-us_topic_0100363624.html /cloud-trace-service/umn/supported_services_and_operation_lists/database/key_operations_on_dcs.html;
  /usermanual/cts/en-us_topic_0100363627.html /cloud-trace-service/umn/supported_services_and_operation_lists/database/key_operations_on_dds.html;
  /usermanual/cts/en-us_topic_0127139647.html /cloud-trace-service/umn/supported_services_and_operation_lists/storage/index.html;
  /usermanual/cts/en-us_topic_0000001317721642.html /cloud-trace-service/umn/supported_services_and_operation_lists/storage/key_operations_on_cbr.html;
  /usermanual/cts/en-us_cts_01_0002.html /cloud-trace-service/umn/supported_services_and_operation_lists/storage/key_operations_on_sdrs.html;
  /usermanual/cts/en-us_topic_0100273731.html /cloud-trace-service/umn/supported_services_and_operation_lists/storage/key_operations_on_evs.html;
  /usermanual/cts/en-us_topic_0100273717.html /cloud-trace-service/umn/supported_services_and_operation_lists/storage/key_operations_on_obs.html;
  /usermanual/cts/en-us_topic_0127139651.html /cloud-trace-service/umn/supported_services_and_operation_lists/management_&_deployment/index.html;
  /usermanual/cts/en-us_topic_0100273719.html /cloud-trace-service/umn/supported_services_and_operation_lists/management_&_deployment/key_operations_on_cloud_eye.html;
  /usermanual/cts/en-us_topic_0100273720.html /cloud-trace-service/umn/supported_services_and_operation_lists/management_&_deployment/key_operations_on_iam.html;
  /usermanual/cts/en-us_topic_0100291677.html /cloud-trace-service/umn/supported_services_and_operation_lists/management_&_deployment/key_operations_on_tms.html;
  /usermanual/cts/en-us_topic_0100273718.html /cloud-trace-service/umn/supported_services_and_operation_lists/management_&_deployment/key_operations_on_cts.html;
  /usermanual/cts/en-us_cts_03_0012.html /cloud-trace-service/umn/supported_services_and_operation_lists/enterprise_intelligence/index.html;
  /usermanual/cts/en-us_cts_03_0013.html /cloud-trace-service/umn/supported_services_and_operation_lists/enterprise_intelligence/key_operations_on_modelarts.html;
  /usermanual/cts/en-us_topic_0127139658.html /cloud-trace-service/umn/supported_services_and_operation_lists/data_analysis/index.html;
  /usermanual/cts/en-us_topic_0100498013.html /cloud-trace-service/umn/supported_services_and_operation_lists/data_analysis/key_operations_on_dws.html;
  /usermanual/cts/en-us_topic_0100365438.html /cloud-trace-service/umn/supported_services_and_operation_lists/data_analysis/key_operations_on_dis.html;
  /usermanual/cts/en-us_topic_0100363631.html /cloud-trace-service/umn/supported_services_and_operation_lists/data_analysis/key_operations_on_mrs.html;
  /usermanual/cts/en-us_topic_0101676084.html /cloud-trace-service/umn/supported_services_and_operation_lists/data_analysis/key_operations_on_css.html;
  /usermanual/cts/en-us_topic_0100291679.html /cloud-trace-service/umn/supported_services_and_operation_lists/application/key_operations_on_dms.html;
  /usermanual/cts/en-us_topic_0127139652.html /cloud-trace-service/umn/supported_services_and_operation_lists/application/index.html;
  /usermanual/cts/en-us_topic_0100291678.html /cloud-trace-service/umn/supported_services_and_operation_lists/application/key_operations_on_smn.html;
  /usermanual/cts/cts_0827.html /cloud-trace-service/umn/supported_services_and_operation_lists/application/key_operations_on_swr.html;
  /usermanual/cts/en-us_topic_0127139648.html /cloud-trace-service/umn/supported_services_and_operation_lists/network/index.html;
  /usermanual/cts/en-us_topic_0100273725.html /cloud-trace-service/umn/supported_services_and_operation_lists/network/key_operations_on_vpc.html;
  /usermanual/cts/en-us_topic_0100273730.html /cloud-trace-service/umn/supported_services_and_operation_lists/network/key_operations_on_dns.html;
  /usermanual/cts/en-us_topic_0128329663.html /cloud-trace-service/umn/supported_services_and_operation_lists/network/key_operations_on_cdn.html;
  /usermanual/cts/en-us_topic_0100273726.html /cloud-trace-service/umn/supported_services_and_operation_lists/network/key_operations_on_dc.html;
  /usermanual/cts/en-us_topic_0100273727.html /cloud-trace-service/umn/supported_services_and_operation_lists/network/key_operations_on_elb.html;
  /usermanual/cts/en-us_topic_0100366885.html /cloud-trace-service/umn/supported_services_and_operation_lists/relationship_between_operations_triggered_by_iaas_openstack_and_native_openstack_apis.html;
  /usermanual/cts/en-us_topic_0100236048.html /cloud-trace-service/umn/supported_services_and_operation_lists/computing/key_operations_on_bms.html;
  /usermanual/cts/en-us_topic_0127139646.html /cloud-trace-service/umn/supported_services_and_operation_lists/computing/index.html;
  /usermanual/cts/en-us_topic_0100236047.html /cloud-trace-service/umn/supported_services_and_operation_lists/computing/key_operations_on_ims.html;
  /usermanual/cts/en-us_topic_0100236046.html /cloud-trace-service/umn/supported_services_and_operation_lists/computing/key_operations_on_ecs.html;
  /usermanual/cts/en-us_topic_0100236049.html /cloud-trace-service/umn/supported_services_and_operation_lists/computing/key_operations_on_as.html;
  /usermanual/cts/en-us_topic_0100363619.html /cloud-trace-service/umn/supported_services_and_operation_lists/computing/key_operations_on_deh.html;
  /usermanual/cts/en-us_topic_0100273723.html /cloud-trace-service/umn/supported_services_and_operation_lists/computing/key_operations_on_cce.html;
  /usermanual/cts/en-us_topic_0030628003.html /cloud-trace-service/umn/managing_a_tracker/index.html;
  /usermanual/cts/en-us_topic_0030930181.html /cloud-trace-service/umn/managing_a_tracker/disabling_or_enabling_a_tracker.html;
  /usermanual/cts/en-us_topic_0059288681.html /cloud-trace-service/umn/managing_a_tracker/configuring_a_tracker.html;
}
