map $request_uri $new_uri {
  default "";
  /api/tms/en-us_topic_0126416865.html /tag-management-service/api-ref/appendix/index.html;
  /api/tms/en-us_topic_0126416752.html /tag-management-service/api-ref/appendix/obtaining_a_project_id.html;
  /api/tms/en-us_topic_0057939857.html /tag-management-service/api-ref/appendix/error_code_description.html;
  /api/tms/en-us_topic_0130578970.html /tag-management-service/api-ref/appendix/status_code.html;
  /api/tms/en-us_topic_0186103096.html /tag-management-service/api-ref/appendix/obtaining_the_domain-level_token.html;
  /api/tms/ /tag-management-service/api-ref/index.html;
  /api/tms/en-us_topic_0056283725.html /tag-management-service/api-ref/calling_apis.html;
  /api/tms/en-us_topic_0056765894.html /tag-management-service/api-ref/api_description/index.html;
  /api/tms/en-us_topic_0133313258.html /tag-management-service/api-ref/api_description/predefined_tag_operations/index.html;
  /api/tms/en-us_topic_0056765935.html /tag-management-service/api-ref/api_description/predefined_tag_operations/creating_or_deleting_predefined_tags.html;
  /api/tms/en-us_topic_0056765936.html /tag-management-service/api-ref/api_description/predefined_tag_operations/querying_the_predefined_tag_list.html;
  /api/tms/en-us_topic_0060929630.html /tag-management-service/api-ref/api_description/predefined_tag_operations/modifying_predefined_tags.html;
  /api/tms/en-us_topic_0133313255.html /tag-management-service/api-ref/api_description/querying_the_api_version/index.html;
  /api/tms/en-us_topic_0133313257.html /tag-management-service/api-ref/api_description/querying_the_api_version/querying_details_about_a_specified_tms_api_version.html;
  /api/tms/en-us_topic_0133313256.html /tag-management-service/api-ref/api_description/querying_the_api_version/querying_all_api_versions.html;
  /api/tms/en-us_topic_0057939858.html /tag-management-service/api-ref/change_history.html;
  /usermanual/tms/en-us_topic_0141727078.html /tag-management-service/umn/glossary.html;
  /usermanual/tms/ /tag-management-service/umn/index.html;
  /usermanual/tms/tms_faq_0004.html /tag-management-service/umn/faqs/how_do_i_start_the_activex_plug-in_when_using_internet_explorer_9_to_import_files.html;
  /usermanual/tms/en-us_topic_0141727119.html /tag-management-service/umn/faqs/index.html;
  /usermanual/tms/tms_faq_0006.html /tag-management-service/umn/faqs/what_can_i_do_if_i_failed_to_import_tags_edited_on_the_template_to_tms.html;
  /usermanual/tms/tms_faq_0001.html /tag-management-service/umn/faqs/what_is_the_difference_between_adding_a_tag_and_creating_a_key.html;
  /usermanual/tms/tms_faq_0007.html /tag-management-service/umn/faqs/why_do_invalid_tags_appear.html;
  /usermanual/tms/tms_faq_0002.html /tag-management-service/umn/faqs/is_tms_free.html;
  /usermanual/tms/tms_faq_0008.html /tag-management-service/umn/faqs/how_to_restore_an_invalid_tag.html;
  /usermanual/tms/en-us_topic_0141727096.html /tag-management-service/umn/change_history.html;
  /usermanual/tms/en-us_topic_0110861800.html /tag-management-service/umn/interconnecting_with_cts/index.html;
  /usermanual/tms/en-us_topic_0110866980.html /tag-management-service/umn/interconnecting_with_cts/viewing_cts_traces.html;
  /usermanual/tms/en-us_topic_0110866979.html /tag-management-service/umn/interconnecting_with_cts/key_tms_operations.html;
  /usermanual/tms/en-us_topic_0056095606.html /tag-management-service/umn/product_profile/index.html;
  /usermanual/tms/en-us_topic_0071335169.html /tag-management-service/umn/product_profile/tag_management_service.html;
  /usermanual/tms/en-us_topic_0084940673.html /tag-management-service/umn/product_profile/user_permissions.html;
  /usermanual/tms/en-us_topic_0142168380.html /tag-management-service/umn/product_profile/notes_and_constraints.html;
  /usermanual/tms/en-us_topic_0141727115.html /tag-management-service/umn/product_profile/accessing_tms.html;
  /usermanual/tms/tms_01_003.html /tag-management-service/umn/product_profile/region_and_az.html;
  /usermanual/tms/en-us_topic_0056858747.html /tag-management-service/umn/product_profile/tms_and_other_services.html;
  /usermanual/tms/en-us_topic_0056266259.html /tag-management-service/umn/product_profile/application_scenarios.html;
  /usermanual/tms/en-us_topic_0141727099.html /tag-management-service/umn/product_profile/projects.html;
  /usermanual/tms/en-us_topic_0056130824.html /tag-management-service/umn/management/index.html;
  /usermanual/tms/en-us_topic_0101849254.html /tag-management-service/umn/management/resource_tags/index.html;
  /usermanual/tms/en-us_topic_0058373669.html /tag-management-service/umn/management/resource_tags/deleting_resource_tags.html;
  /usermanual/tms/en-us_topic_0056266267.html /tag-management-service/umn/management/resource_tags/modifying_resource_tags.html;
  /usermanual/tms/en-us_topic_0056266264.html /tag-management-service/umn/management/resource_tags/searching_for_cloud_resources.html;
  /usermanual/tms/en-us_topic_0056266263.html /tag-management-service/umn/management/resource_tags/resource_tag_overview.html;
  /usermanual/tms/en-us_topic_0058373670.html /tag-management-service/umn/management/resource_tags/creating_keys.html;
  /usermanual/tms/en-us_topic_0144368884.html /tag-management-service/umn/management/predefined_tags/creating_predefined_tags.html;
  /usermanual/tms/en-us_topic_0056266270.html /tag-management-service/umn/management/predefined_tags/searching_for_predefined_tags.html;
  /usermanual/tms/en-us_topic_0101849262.html /tag-management-service/umn/management/predefined_tags/index.html;
  /usermanual/tms/en-us_topic_0056266555.html /tag-management-service/umn/management/predefined_tags/importing_or_exporting_predefined_tags.html;
  /usermanual/tms/en-us_topic_0056266269.html /tag-management-service/umn/management/predefined_tags/predefined_tag_overview.html;
  /usermanual/tms/en-us_topic_0056266273.html /tag-management-service/umn/management/predefined_tags/deleting_predefined_tags.html;
  /usermanual/tms/en-us_topic_0056130823.html /tag-management-service/umn/getting_started/index.html;
  /usermanual/tms/en-us_topic_0056266261.html /tag-management-service/umn/getting_started/adding_tags_to_cloud_resources.html;
}
