map $request_uri $new_uri {
  default "";
  /api/rds/rds_01_0010.html /relational-database-service/api-ref/appendix/index.html;
  /api/rds/en-us_topic_0032488240.html /relational-database-service/api-ref/appendix/status_codes.html;
  /api/rds/rds_03_0002.html /relational-database-service/api-ref/appendix/obtaining_a_project_id.html;
  /api/rds/en-us_topic_0032488197.html /relational-database-service/api-ref/appendix/abnormal_request_results.html;
  /api/rds/en-us_topic_0041314720.html /relational-database-service/api-ref/appendix/rds_monitoring_metrics_description.html;
  /api/rds/en-us_topic_0032488241.html /relational-database-service/api-ref/appendix/error_codes.html;
  /api/rds/en-us_topic_0032488243.html /relational-database-service/api-ref/appendix/replication_mode_table.html;
  /api/rds/rds_10_0004.html /relational-database-service/api-ref/appendix/db_instance_specifications.html;
  /api/rds/ /relational-database-service/api-ref/index.html;
  /api/rds/en-us_topic_0032347778.html /relational-database-service/api-ref/obtaining_an_api_version/querying_api_versions.html;
  /api/rds/en-us_topic_0056887469.html /relational-database-service/api-ref/obtaining_an_api_version/index.html;
  /api/rds/en-us_topic_0057306832.html /relational-database-service/api-ref/obtaining_an_api_version/querying_a_specified_api_version_information_compatible_with_openstack.html;
  /api/rds/en-us_topic_0057306831.html /relational-database-service/api-ref/obtaining_an_api_version/querying_an_api_version_list_compatible_with_openstack.html;
  /api/rds/en-us_topic_0032347779.html /relational-database-service/api-ref/obtaining_an_api_version/querying_a_specified_api_version.html;
  /api/rds/rds_02_0001.html /relational-database-service/api-ref/calling_apis/index.html;
  /api/rds/rds_03_0006.html /relational-database-service/api-ref/calling_apis/response.html;
  /api/rds/rds_03_0005.html /relational-database-service/api-ref/calling_apis/making_an_api_request.html;
  /api/rds/rds_03_0001.html /relational-database-service/api-ref/calling_apis/authentication.html;
  /api/rds/en-us_topic_0032488244.html /relational-database-service/api-ref/change_history.html;
  /api/rds/rds_09_0000.html /relational-database-service/api-ref/api_v3_recommended/index.html;
  /api/rds/rds_01_0009.html /relational-database-service/api-ref/api_v3_recommended/obtaining_task_information.html;
  /api/rds/en-us_topic_0056887471.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/index.html;
  /api/rds/rds_09_0305.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/modifying_parameters_of_a_specified_db_instance.html;
  /api/rds/rds_09_0301.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/obtaining_a_parameter_template_list.html;
  /api/rds/rds_09_0302.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/creating_a_parameter_template.html;
  /api/rds/rds_09_0308.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/deleting_a_parameter_template.html;
  /api/rds/rds_09_0307.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/obtaining_parameters_in_a_specified_parameter_template.html;
  /api/rds/rds_09_0306.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/obtaining_the_parameter_template_of_a_specified_db_instance.html;
  /api/rds/rds_09_0303.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/modifying_a_parameter_template.html;
  /api/rds/rds_09_0304.html /relational-database-service/api-ref/api_v3_recommended/parameter_configuration/applying_a_parameter_template.html;
  /api/rds/en-us_topic_0032347777.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/index.html;
  /api/rds/rds_09_0003.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/obtaining_an_automated_backup_policy.html;
  /api/rds/rds_09_0007.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/deleting_a_manual_backup.html;
  /api/rds/rds_09_0002.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/setting_an_automated_backup_policy.html;
  /api/rds/rds_09_0011.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/querying_the_restoration_time_range.html;
  /api/rds/rds_09_0008.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/restoring_data_to_a_new_db_instance.html;
  /api/rds/rds_09_0004.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/creating_a_manual_backup.html;
  /api/rds/rds_09_0006.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/obtaining_the_link_for_downloading_a_backup_file.html;
  /api/rds/rds_09_0005.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/obtaining_details_about_backups.html;
  /api/rds/rds_09_0009.html /relational-database-service/api-ref/api_v3_recommended/backup_and_restoration/restoring_data_to_an_existing_or_original_db_instance.html;
  /api/rds/rds_06_0002.html /relational-database-service/api-ref/api_v3_recommended/querying_database_specifications.html;
  /api/rds/en-us_topic_0056887472.html /relational-database-service/api-ref/api_v3_recommended/log_information_queries/index.html;
  /api/rds/rds_06_0005.html /relational-database-service/api-ref/api_v3_recommended/log_information_queries/querying_database_slow_logs.html;
  /api/rds/rds_06_0004.html /relational-database-service/api-ref/api_v3_recommended/log_information_queries/querying_database_error_logs.html;
  /api/rds/rds_06_0001.html /relational-database-service/api-ref/api_v3_recommended/querying_version_information_about_a_db_engine.html;
  /api/rds/rds_06_0036.html /relational-database-service/api-ref/api_v3_recommended/tag_management/index.html;
  /api/rds/rds_06_0039.html /relational-database-service/api-ref/api_v3_recommended/tag_management/querying_project_tags.html;
  /api/rds/rds_06_0038.html /relational-database-service/api-ref/api_v3_recommended/tag_management/deleting_tags_in_batches.html;
  /api/rds/rds_06_0037.html /relational-database-service/api-ref/api_v3_recommended/tag_management/adding_tags_in_batches.html;
  /api/rds/rds_01_0101.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/changing_db_instance_specifications.html;
  /api/rds/en-us_topic_0056887470.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/index.html;
  /api/rds/rds_01_0102.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/scaling_up_storage_space_of_a_db_instance.html;
  /api/rds/rds_01_0103.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/changing_a_single_db_instance_to_primary_standby_db_instances.html;
  /api/rds/rds_01_0002.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/creating_a_db_instance.html;
  /api/rds/rds_01_0003.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/deleting_a_db_instance.html;
  /api/rds/rds_06_0003.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/rebooting_a_db_instance.html;
  /api/rds/rds_01_0004.html /relational-database-service/api-ref/api_v3_recommended/db_instance_management/querying_details_about_db_instances.html;
  /api/rds/rds_00_0001.html /relational-database-service/api-ref/api_overview.html;
  /api/rds/en-us_topic_0240111692.html /relational-database-service/api-ref/before_you_start/index.html;
  /api/rds/rds_00_0004.html /relational-database-service/api-ref/before_you_start/constraints.html;
  /api/rds/en-us_topic_0240111720.html /relational-database-service/api-ref/before_you_start/endpoints.html;
  /api/rds/en-us_topic_0032347780.html /relational-database-service/api-ref/before_you_start/overview.html;
  /api/rds/rds_00_0006.html /relational-database-service/api-ref/before_you_start/selecting_an_api_type.html;
  /api/rds/rds_00_0005.html /relational-database-service/api-ref/before_you_start/concepts.html;
  /api/rds/en-us_topic_0240111777.html /relational-database-service/api-ref/before_you_start/api_calling.html;
  /api/rds/rds_06_0020.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/rds_06_0022.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890260.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890262.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890263.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890264.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890266.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890261.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890265.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890259.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890257.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890258.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890050.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/rds_06_0021.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890053.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056889804.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890052.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890256.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890051.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890255.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890049.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/en-us_topic_0056890054.html /relational-database-service/api-ref/openstack_trove_api_v1.html;
  /api/rds/rds_06_0015.html /relational-database-service/api-ref/api_v1_to_be_discarded/index.html;
  /api/rds/rds_06_0017.html /relational-database-service/api-ref/api_v1_to_be_discarded/parameter_configuration/index.html;
  /api/rds/en-us_topic_0034973638.html /relational-database-service/api-ref/api_v1_to_be_discarded/parameter_configuration/setting_configuration_parameters.html;
  /api/rds/en-us_topic_0034973639.html /relational-database-service/api-ref/api_v1_to_be_discarded/parameter_configuration/resetting_parameters_to_their_default_values.html;
  /api/rds/en-us_topic_0034943369.html /relational-database-service/api-ref/api_v1_to_be_discarded/parameter_configuration/obtaining_a_parameter_list.html;
  /api/rds/en-us_topic_0034943370.html /relational-database-service/api-ref/api_v1_to_be_discarded/parameter_configuration/obtaining_information_about_configuration_parameters.html;
  /api/rds/rds_06_0018.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/index.html;
  /api/rds/en-us_topic_0037147508.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/restoring_data_to_the_original_db_instance.html;
  /api/rds/en-us_topic_0037139085.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/obtaining_an_automated_backup_policy.html;
  /api/rds/en-us_topic_0037139103.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/deleting_a_manual_backup.html;
  /api/rds/en-us_topic_0034973640.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/returning_manual_backup_information_as_a_list.html;
  /api/rds/en-us_topic_0037138973.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/setting_an_automated_backup_policy.html;
  /api/rds/en-us_topic_0037147509.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/restoring_data_to_a_new_db_instance.html;
  /api/rds/en-us_topic_0037139097.html /relational-database-service/api-ref/api_v1_to_be_discarded/backup_and_restoration/creating_a_manual_backup.html;
  /api/rds/rds_06_0019.html /relational-database-service/api-ref/api_v1_to_be_discarded/log_information_queries/index.html;
  /api/rds/en-us_topic_0037147511.html /relational-database-service/api-ref/api_v1_to_be_discarded/log_information_queries/querying_database_slow_logs.html;
  /api/rds/en-us_topic_0037147510.html /relational-database-service/api-ref/api_v1_to_be_discarded/log_information_queries/querying_database_error_logs.html;
  /api/rds/en-us_topic_0032347782.html /relational-database-service/api-ref/api_v1_to_be_discarded/database_version_queries.html;
  /api/rds/rds_01_0005.html /relational-database-service/api-ref/api_v1_to_be_discarded/tag_management/index.html;
  /api/rds/rds_01_0008.html /relational-database-service/api-ref/api_v1_to_be_discarded/tag_management/deleting_a_tag.html;
  /api/rds/rds_01_0006.html /relational-database-service/api-ref/api_v1_to_be_discarded/tag_management/adding_a_tag.html;
  /api/rds/rds_01_0007.html /relational-database-service/api-ref/api_v1_to_be_discarded/tag_management/querying_a_tag.html;
  /api/rds/en-us_topic_0037365603.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/changing_db_instance_specifications.html;
  /api/rds/rds_06_0016.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/index.html;
  /api/rds/en-us_topic_0032348280.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/obtaining_a_db_instance_list.html;
  /api/rds/en-us_topic_0032347785.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/creating_a_db_instance.html;
  /api/rds/en-us_topic_0032347781.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/deleting_a_db_instance.html;
  /api/rds/en-us_topic_0032347784.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/obtaining_specified_db_instance_specifications.html;
  /api/rds/en-us_topic_0034943368.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/rebooting_a_db_instance.html;
  /api/rds/en-us_topic_0032347783.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/obtaining_all_db_instance_specifications.html;
  /api/rds/en-us_topic_0034943367.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/changing_db_instance_volume.html;
  /api/rds/rds_09_0001.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/binding_or_unbinding_an_eip.html;
  /api/rds/en-us_topic_0032348281.html /relational-database-service/api-ref/api_v1_to_be_discarded/db_instance_management/obtaining_detailed_information_of_a_specified_db_instance.html;
  /usermanual/rds/ /relational-database-service/umn/index.html;
}
