map $request_uri $new_uri {
  default "";
  /api/plas/ /private-link-access-service/api-ref/index.html;
  /api/plas/en-us_topic_0218811261.html /private-link-access-service/api-ref/common_message_headers/index.html;
  /api/plas/en-us_topic_0218811263.html /private-link-access-service/api-ref/common_message_headers/common_response_headers.html;
  /api/plas/en-us_topic_0218811262.html /private-link-access-service/api-ref/common_message_headers/common_request_headers.html;
  /api/plas/en-us_topic_0218811267.html /private-link-access-service/api-ref/api_usage_guidelines.html;
  /api/plas/en-us_topic_0218811272.html /private-link-access-service/api-ref/change_history.html;
  /api/plas/en-us_topic_0218811264.html /private-link-access-service/api-ref/plas_apis/index.html;
  /api/plas/en-us_topic_0218811269.html /private-link-access-service/api-ref/plas_apis/modifying_a_plas_connector.html;
  /api/plas/en-us_topic_0218811271.html /private-link-access-service/api-ref/plas_apis/querying_asynchronous_operation_results.html;
  /api/plas/en-us_topic_0218811270.html /private-link-access-service/api-ref/plas_apis/deleting_a_plas_connector.html;
  /api/plas/en-us_topic_0218811265.html /private-link-access-service/api-ref/plas_apis/creating_a_plas_connector.html;
  /api/plas/en-us_topic_0218811268.html /private-link-access-service/api-ref/plas_apis/querying_details_about_a_plas_connector.html;
  /api/plas/en-us_topic_0218811266.html /private-link-access-service/api-ref/plas_apis/querying_plas_connectors.html;
  /usermanual/plas/en-us_topic_0218802267.html /private-link-access-service/umn/glossary.html;
  /usermanual/plas/ /private-link-access-service/umn/index.html;
  /usermanual/plas/en-us_topic_0218777859.html /private-link-access-service/umn/overview/index.html;
  /usermanual/plas/en-us_topic_0218777868.html /private-link-access-service/umn/overview/what_is_plas.html;
  /usermanual/plas/en-us_topic_0218777879.html /private-link-access-service/umn/overview/application_scenarios_and_physical_networking.html;
  /usermanual/plas/en-us_topic_0218777886.html /private-link-access-service/umn/overview/how_to_access_plas.html;
  /usermanual/plas/en-us_topic_0218777887.html /private-link-access-service/umn/overview/charging.html;
  /usermanual/plas/en-us_topic_0218777885.html /private-link-access-service/umn/overview/related_services.html;
  /usermanual/plas/en-us_topic_0092087618.html /private-link-access-service/umn/faqs/index.html;
  /usermanual/plas/en-us_topic_0092087624.html /private-link-access-service/umn/faqs/plas_options/index.html;
  /usermanual/plas/en-us_topic_0092087633.html /private-link-access-service/umn/faqs/plas_options/what_bandwidths_are_available_to_order.html;
  /usermanual/plas/en-us_topic_0092087628.html /private-link-access-service/umn/faqs/plas_options/what_is_plas_ethernet_vpn_global_aka_plas_scc_or_plas_ethernet_connect_international.html;
  /usermanual/plas/en-us_topic_0092087630.html /private-link-access-service/umn/faqs/plas_options/what_is_plas_cloud_exchange_aka_plas_cx.html;
  /usermanual/plas/en-us_topic_0092087626.html /private-link-access-service/umn/faqs/plas_options/what_is_plas_ethernet_redundant.html;
  /usermanual/plas/en-us_topic_0092087631.html /private-link-access-service/umn/faqs/plas_options/i_need_a_full_10g_link_from_my_data_center_to_open_telekom_cloud.html;
  /usermanual/plas/en-us_topic_0092087627.html /private-link-access-service/umn/faqs/plas_options/what_is_plas_ethernet_light.html;
  /usermanual/plas/en-us_topic_0092087629.html /private-link-access-service/umn/faqs/plas_options/what_is_plas_mpls_aka_plas_vpn.html;
  /usermanual/plas/en-us_topic_0092087625.html /private-link-access-service/umn/faqs/plas_options/what_options_does_plas_offer.html;
  /usermanual/plas/en-us_topic_0092087634.html /private-link-access-service/umn/faqs/plas_options/can_i_get_access_to_other_cloud_providers_via_plas.html;
  /usermanual/plas/en-us_topic_0092087632.html /private-link-access-service/umn/faqs/plas_options/i_need_access_with_100_gbit_s_capacity.html;
  /usermanual/plas/en-us_topic_0092087649.html /private-link-access-service/umn/faqs/architectural_details/can_i_use_one_or_two_asymmetric_links_to_open_telekom_cloud.html;
  /usermanual/plas/en-us_topic_0092087653.html /private-link-access-service/umn/faqs/architectural_details/can_i_get_access_to_more_than_one_of_my_vpcs.html;
  /usermanual/plas/en-us_topic_0092087646.html /private-link-access-service/umn/faqs/architectural_details/do_i_get_an_active_active_or_an_active_passive_architecture.html;
  /usermanual/plas/en-us_topic_0092087645.html /private-link-access-service/umn/faqs/architectural_details/index.html;
  /usermanual/plas/en-us_topic_0092087651.html /private-link-access-service/umn/faqs/architectural_details/can_i_use_plas_as_a_site-to-site_network_for_my_subsidiaries_and_data_centers.html;
  /usermanual/plas/en-us_topic_0092087655.html /private-link-access-service/umn/faqs/architectural_details/can_i_use_load_balancing_on_plas.html;
  /usermanual/plas/en-us_topic_0092087656.html /private-link-access-service/umn/faqs/architectural_details/how_many_routes_can_i_use_per_ebgp_session.html;
  /usermanual/plas/en-us_topic_0092087648.html /private-link-access-service/umn/faqs/architectural_details/can_i_aggregate_links.html;
  /usermanual/plas/en-us_topic_0092087647.html /private-link-access-service/umn/faqs/architectural_details/does_the_external_network_bandwidth_have_to_be_identical_to_the_direct_connect_and_plas_bandwidth.html;
  /usermanual/plas/en-us_topic_0092087650.html /private-link-access-service/umn/faqs/architectural_details/can_i_connect_two_different_locations_for_the_two_required_links.html;
  /usermanual/plas/en-us_topic_0092087652.html /private-link-access-service/umn/faqs/architectural_details/how_redundant_is_plas_itself.html;
  /usermanual/plas/en-us_topic_0092087654.html /private-link-access-service/umn/faqs/architectural_details/do_i_still_have_internet_access_when_using_plas.html;
  /usermanual/plas/en-us_topic_0092087671.html /private-link-access-service/umn/faqs/service_levels/index.html;
  /usermanual/plas/en-us_topic_0218777876.html /private-link-access-service/umn/faqs/service_levels/what_about_service_level_agreements_slas.html;
  /usermanual/plas/en-us_topic_0092087668.html /private-link-access-service/umn/faqs/pricing_and_billing/index.html;
  /usermanual/plas/en-us_topic_0092087670.html /private-link-access-service/umn/faqs/pricing_and_billing/when_does_billing_for_plas_start_and_stop.html;
  /usermanual/plas/en-us_topic_0092087669.html /private-link-access-service/umn/faqs/pricing_and_billing/what_are_the_pricing_elements_for_a_private_connection_via_plas.html;
  /usermanual/plas/en-us_topic_0092087657.html /private-link-access-service/umn/faqs/processes/index.html;
  /usermanual/plas/en-us_topic_0092087660.html /private-link-access-service/umn/faqs/processes/can_you_provide_me_a_summary_of_what_to_do_to_get_a_private_access_to_open_telekom_cloud_in_general.html;
  /usermanual/plas/en-us_topic_0092087667.html /private-link-access-service/umn/faqs/processes/what_is_the_meaning_of_the_terms_in_the_order_forms.html;
  /usermanual/plas/en-us_topic_0092087666.html /private-link-access-service/umn/faqs/processes/is_the_qinq_c-tag_function_mandatory.html;
  /usermanual/plas/en-us_topic_0092087664.html /private-link-access-service/umn/faqs/processes/i_need_to_fill_in_the_order_form_for_plas_connectivity,_where_do_i_get_vlan_ids.html;
  /usermanual/plas/en-us_topic_0092087659.html /private-link-access-service/umn/faqs/processes/how_long_will_it_take_until_i_can_use_the_link.html;
  /usermanual/plas/en-us_topic_0092087661.html /private-link-access-service/umn/faqs/processes/when_the_ethernet_line_is_ready,_can_i_start_to_work.html;
  /usermanual/plas/en-us_topic_0092087658.html /private-link-access-service/umn/faqs/processes/how_do_i_order_a_private_connectivity_option.html;
  /usermanual/plas/en-us_topic_0092087663.html /private-link-access-service/umn/faqs/processes/what_does_my_ip_admin_need_to_know_about_plas.html;
  /usermanual/plas/en-us_topic_0092087665.html /private-link-access-service/umn/faqs/processes/do_customers_have_to_set_up_ebgp_themselves.html;
  /usermanual/plas/en-us_topic_0092087662.html /private-link-access-service/umn/faqs/processes/what_is_the_service_id_mentioned_in_plas_settings_dialog.html;
  /usermanual/plas/en-us_topic_0092087672.html /private-link-access-service/umn/faqs/related_open_telekom_cloud_network_functions/index.html;
  /usermanual/plas/en-us_topic_0092087673.html /private-link-access-service/umn/faqs/related_open_telekom_cloud_network_functions/what_is_direct_connect.html;
  /usermanual/plas/en-us_topic_0092087675.html /private-link-access-service/umn/faqs/related_open_telekom_cloud_network_functions/what_is_vpc_endpoint.html;
  /usermanual/plas/en-us_topic_0092087674.html /private-link-access-service/umn/faqs/related_open_telekom_cloud_network_functions/what_is_vpc_peering.html;
  /usermanual/plas/en-us_topic_0092087635.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/index.html;
  /usermanual/plas/en-us_topic_0092087638.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/what_is_lambda_connect.html;
  /usermanual/plas/en-us_topic_0092087640.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/what_is_intraselect_cloud_connect.html;
  /usermanual/plas/en-us_topic_0092087644.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/is_it_possible_to_work_with_my_preferred_network_provider_and_not_with_deutsche_telekom_products.html;
  /usermanual/plas/en-us_topic_0092087639.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/what_is_secure_cloud_connect.html;
  /usermanual/plas/en-us_topic_0092087636.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/do_i_need_a_new_contract_to_establish_connectivity.html;
  /usermanual/plas/en-us_topic_0092087643.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/what_is_equinix_cloud_exchange.html;
  /usermanual/plas/en-us_topic_0092087641.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/what_bandwidths_are_provided_by_plas_mpls_and_intraselect_cloud_connect.html;
  /usermanual/plas/en-us_topic_0218777866.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/what_is_ethernet_connect.html;
  /usermanual/plas/en-us_topic_0092087637.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/where_do_i_get_the_network_product.html;
  /usermanual/plas/en-us_topic_0092087642.html /private-link-access-service/umn/faqs/network_products_that_can_be_used_to_connect_to_open_telekom_cloud/there_are_two_different_pops_in_the_plas_mpls_dialog.html;
  /usermanual/plas/en-us_topic_0092087619.html /private-link-access-service/umn/faqs/private_link_access_service___basics/index.html;
  /usermanual/plas/en-us_topic_0092087620.html /private-link-access-service/umn/faqs/private_link_access_service___basics/what_is_plas.html;
  /usermanual/plas/en-us_topic_0092087622.html /private-link-access-service/umn/faqs/private_link_access_service___basics/how_can_i_get_plas.html;
  /usermanual/plas/en-us_topic_0092087623.html /private-link-access-service/umn/faqs/private_link_access_service___basics/where_is_plas_located.html;
  /usermanual/plas/en-us_topic_0092087621.html /private-link-access-service/umn/faqs/private_link_access_service___basics/what_is_the_difference_between_plas_and_direct_connect.html;
  /usermanual/plas/en-us_topic_0218802266.html /private-link-access-service/umn/change_history.html;
  /usermanual/plas/en-us_topic_0218777861.html /private-link-access-service/umn/management/index.html;
  /usermanual/plas/en-us_topic_0218777864.html /private-link-access-service/umn/management/deleting_a_plas_vpn_connector.html;
  /usermanual/plas/en-us_topic_0218777863.html /private-link-access-service/umn/management/modifying_a_plas_vpn_connector.html;
  /usermanual/plas/en-us_topic_0218777862.html /private-link-access-service/umn/management/searching_for_plas_vpn_connectors.html;
  /usermanual/plas/en-us_topic_0087373563.html /private-link-access-service/umn/getting_started/index.html;
  /usermanual/plas/en-us_topic_0218777857.html /private-link-access-service/umn/getting_started/self-service_provisioning/index.html;
  /usermanual/plas/en-us_topic_0218777858.html /private-link-access-service/umn/getting_started/self-service_provisioning/procedure_of_enabling_plas_vpn.html;
  /usermanual/plas/en-us_topic_0218777860.html /private-link-access-service/umn/getting_started/self-service_provisioning/creating_a_plas_vpn_connector.html;
  /usermanual/plas/en-us_topic_0218777769.html /private-link-access-service/umn/getting_started/manual_provisioning/index.html;
  /usermanual/plas/en-us_topic_0218777852.html /private-link-access-service/umn/getting_started/manual_provisioning/modifying_plas_ec_configurations.html;
  /usermanual/plas/en-us_topic_0218777854.html /private-link-access-service/umn/getting_started/manual_provisioning/obtaining_region.html;
  /usermanual/plas/en-us_topic_0218777851.html /private-link-access-service/umn/getting_started/manual_provisioning/disabling_plas_ec.html;
  /usermanual/plas/en-us_topic_0218777853.html /private-link-access-service/umn/getting_started/manual_provisioning/obtaining_the_domain_name.html;
  /usermanual/plas/en-us_topic_0218777856.html /private-link-access-service/umn/getting_started/manual_provisioning/obtaining_the_resource_id.html;
  /usermanual/plas/en-us_topic_0092087588.html /private-link-access-service/umn/getting_started/manual_provisioning/enabling_plas_ec.html;
  /usermanual/plas/en-us_topic_0218777855.html /private-link-access-service/umn/getting_started/manual_provisioning/obtaining_the_vpc_id.html;
}
