map $request_uri $new_uri {
  default "";
  /api/vbs/en-us_topic_0022472082.html /volume-backup-service/api-ref/appendix/index.html;
  /api/vbs/en-us_topic_0134480835.html /volume-backup-service/api-ref/appendix/status_codes.html;
  /api/vbs/en-us_topic_0022472083.html /volume-backup-service/api-ref/appendix/error_codes.html;
  /api/vbs/ /volume-backup-service/api-ref/index.html;
  /api/vbs/en-us_topic_0134476439.html /volume-backup-service/api-ref/api_description/index.html;
  /api/vbs/en-us_topic_0043410516.html /volume-backup-service/api-ref/api_description/backup_policies/index.html;
  /api/vbs/en-us_topic_0043410562.html /volume-backup-service/api-ref/api_description/backup_policies/disassociating_resources_from_a_backup_policy.html;
  /api/vbs/en-us_topic_0098527677.html /volume-backup-service/api-ref/api_description/backup_policies/removing_a_tag_from_a_backup_policy.html;
  /api/vbs/en-us_topic_0043410561.html /volume-backup-service/api-ref/api_description/backup_policies/associating_resources_with_a_backup_policy.html;
  /api/vbs/en-us_topic_0067142132.html /volume-backup-service/api-ref/api_description/backup_policies/batch_updating_or_removing_tags_of_a_backup_policy.html;
  /api/vbs/en-us_topic_0067142133.html /volume-backup-service/api-ref/api_description/backup_policies/querying_backup_policies_by_tag.html;
  /api/vbs/en-us_topic_0043410517.html /volume-backup-service/api-ref/api_description/backup_policies/creating_a_backup_policy.html;
  /api/vbs/en-us_topic_0098527676.html /volume-backup-service/api-ref/api_description/backup_policies/adding_a_tag_to_a_backup_policy.html;
  /api/vbs/en-us_topic_0043410559.html /volume-backup-service/api-ref/api_description/backup_policies/modifying_a_backup_policy.html;
  /api/vbs/en-us_topic_0043410563.html /volume-backup-service/api-ref/api_description/backup_policies/executing_a_backup_policy_at_once.html;
  /api/vbs/en-us_topic_0067142131.html /volume-backup-service/api-ref/api_description/backup_policies/querying_tags_of_a_backup_policy.html;
  /api/vbs/en-us_topic_0043410560.html /volume-backup-service/api-ref/api_description/backup_policies/deleting_a_backup_policy.html;
  /api/vbs/en-us_topic_0043410558.html /volume-backup-service/api-ref/api_description/backup_policies/querying_backup_policies.html;
  /api/vbs/en-us_topic_0043410564.html /volume-backup-service/api-ref/api_description/backup_policies/enabling_or_disabling_a_backup_policy.html;
  /api/vbs/en-us_topic_0043430177.html /volume-backup-service/api-ref/api_description/backup_policies/querying_backup_jobs_triggered_by_a_backup_policy.html;
  /api/vbs/en-us_topic_0067142130.html /volume-backup-service/api-ref/api_description/backup_policies/querying_all_backup_policy_tags.html;
  /api/vbs/en-us_topic_0020237254.html /volume-backup-service/api-ref/api_description/vbs_backups/index.html;
  /api/vbs/en-us_topic_0049453221.html /volume-backup-service/api-ref/api_description/vbs_backups/deleting_a_vbs_backup_native_openstack_api.html;
  /api/vbs/en-us_topic_0143705537.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_details_about_a_vbs_backup_native_openstack_v3_api.html;
  /api/vbs/en-us_topic_0078214155.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_details_about_a_backup_sharing.html;
  /api/vbs/en-us_topic_0078214153.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_backup_sharings.html;
  /api/vbs/en-us_topic_0143705538.html /volume-backup-service/api-ref/api_description/vbs_backups/deleting_a_vbs_backup_native_openstack_v3_api.html;
  /api/vbs/en-us_topic_0020237260.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_details_about_a_vbs_backup_native_openstack_api.html;
  /api/vbs/en-us_topic_0113236392.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_quotas.html;
  /api/vbs/en-us_topic_0078214152.html /volume-backup-service/api-ref/api_description/vbs_backups/canceling_sharing_of_a_backup.html;
  /api/vbs/en-us_topic_0020237257.html /volume-backup-service/api-ref/api_description/vbs_backups/restoring_a_disk_using_a_vbs_backup.html;
  /api/vbs/en-us_topic_0143705539.html /volume-backup-service/api-ref/api_description/vbs_backups/restoring_a_disk_using_a_vbs_backup_native_openstack_v3_api.html;
  /api/vbs/en-us_topic_0020237256.html /volume-backup-service/api-ref/api_description/vbs_backups/deleting_a_vbs_backup_deprecated.html;
  /api/vbs/en-us_topic_0060614329.html /volume-backup-service/api-ref/api_description/vbs_backups/creating_a_vbs_backup_native_openstack_api.html;
  /api/vbs/en-us_topic_0020237251.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_the_job_status.html;
  /api/vbs/en-us_topic_0143705535.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_summary_information_about_vbs_backups_native_openstack_v3_api.html;
  /api/vbs/en-us_topic_0143705536.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_details_about_vbs_backups_native_openstack_v3_api.html;
  /api/vbs/en-us_topic_0078214151.html /volume-backup-service/api-ref/api_description/vbs_backups/sharing_a_backup.html;
  /api/vbs/en-us_topic_0020237255.html /volume-backup-service/api-ref/api_description/vbs_backups/creating_a_vbs_backup.html;
  /api/vbs/en-us_topic_0020237258.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_summary_information_about_vbs_backups_native_openstack_api.html;
  /api/vbs/en-us_topic_0143705534.html /volume-backup-service/api-ref/api_description/vbs_backups/creating_a_vbs_backup_native_openstack_v3_api.html;
  /api/vbs/en-us_topic_0020237259.html /volume-backup-service/api-ref/api_description/vbs_backups/querying_details_about_vbs_backups_native_openstack_api.html;
  /api/vbs/en-us_topic_0067142129.html /volume-backup-service/api-ref/api_description/vbs_backups/restoring_a_disk_using_a_vbs_backup_native_openstack_api.html;
  /api/vbs/en-us_topic_0078214154.html /volume-backup-service/api-ref/api_description/vbs_backups/counting_backup_sharings.html;
  /api/vbs/en-us_topic_0061309333.html /volume-backup-service/api-ref/api_usage_guidelines.html;
  /api/vbs/en-us_topic_0024723797.html /volume-backup-service/api-ref/change_history.html;
  /usermanual/vbs/en-us_topic_0047898517.html /volume-backup-service/umn/glossary.html;
  /usermanual/vbs/ /volume-backup-service/umn/index.html;
  /usermanual/vbs/en-us_topic_0015667840.html /volume-backup-service/umn/operation_guide/index.html;
  /usermanual/vbs/en-us_topic_0015667886.html /volume-backup-service/umn/operation_guide/data_restoration_using_a_vbs_backup.html;
  /usermanual/vbs/en-us_topic_0115393304.html /volume-backup-service/umn/operation_guide/viewing_vbs_traces.html;
  /usermanual/vbs/en-us_topic_0153835047.html /volume-backup-service/umn/operation_guide/quotas.html;
  /usermanual/vbs/en-us_topic_0033745918.html /volume-backup-service/umn/operation_guide/data_backup_using_a_backup_policy/index.html;
  /usermanual/vbs/en-us_topic_0112805387.html /volume-backup-service/umn/operation_guide/data_backup_using_a_backup_policy/managing_backup_policy_tags.html;
  /usermanual/vbs/en-us_topic_0112805383.html /volume-backup-service/umn/operation_guide/data_backup_using_a_backup_policy/creating_a_backup_policy.html;
  /usermanual/vbs/en-us_topic_0112805388.html /volume-backup-service/umn/operation_guide/data_backup_using_a_backup_policy/optional_other_operations_with_backup_policies.html;
  /usermanual/vbs/en-us_topic_0112805384.html /volume-backup-service/umn/operation_guide/data_backup_using_a_backup_policy/associating_evs_disks_with_a_backup_policy_or_disassociating_them_from_a_backup_policy.html;
  /usermanual/vbs/en-us_topic_0112805386.html /volume-backup-service/umn/operation_guide/data_backup_using_a_backup_policy/viewing_backup_jobs.html;
  /usermanual/vbs/en-us_topic_0112805385.html /volume-backup-service/umn/operation_guide/data_backup_using_a_backup_policy/searching_for_associated_evs_disks.html;
  /usermanual/vbs/en-us_topic_0015667849.html /volume-backup-service/umn/operation_guide/vbs_backup_management.html;
  /usermanual/vbs/en-us_topic_0033871603.html /volume-backup-service/umn/operation_guide/vbs_operation_instances.html;
  /usermanual/vbs/en-us_topic_0015667819.html /volume-backup-service/umn/faqs/index.html;
  /usermanual/vbs/en-us_topic_0126537915.html /volume-backup-service/umn/faqs/what_are_full_backup_and_incremental_backup.html;
  /usermanual/vbs/en-us_topic_0018011683.html /volume-backup-service/umn/faqs/is_there_a_quota_limit_on_the_number_of_backups.html;
  /usermanual/vbs/en-us_topic_0015667830.html /volume-backup-service/umn/faqs/do_i_need_to_stop_the_server_before_restoring_evs_disk_data_with_a_vbs_backup.html;
  /usermanual/vbs/en-us_topic_0126537916.html /volume-backup-service/umn/faqs/what_are_the_differences_between_backups_and_snapshots.html;
  /usermanual/vbs/en-us_topic_0018020175.html /volume-backup-service/umn/faqs/can_i_use_a_vbs_backup_to_restore_an_evs_disk_whose_capacity_has_been_expanded.html;
  /usermanual/vbs/en-us_topic_0104564767.html /volume-backup-service/umn/faqs/why_are_csbs_backups_displayed_on_the_vbs_backup_page.html;
  /usermanual/vbs/en-us_topic_0057324230.html /volume-backup-service/umn/faqs/does_vbs_support_cross-region_backup_and_restoration.html;
  /usermanual/vbs/en-us_topic_0105943829.html /volume-backup-service/umn/faqs/can_a_disk_only_be_associated_with_one_policy.html;
  /usermanual/vbs/en-us_topic_0127994691.html /volume-backup-service/umn/faqs/why_is_the_remaining_space_not_changed_after_a_backup_is_deleted.html;
  /usermanual/vbs/en-us_topic_0086521573.html /volume-backup-service/umn/faqs/what_are_the_differences_between_csbs_and_vbs.html;
  /usermanual/vbs/en-us_topic_0015667851.html /volume-backup-service/umn/faqs/do_i_need_to_stop_the_server_before_backing_up_evs_disks_on_a_server_using_vbs.html;
  /usermanual/vbs/en-us_topic_0018011371.html /volume-backup-service/umn/faqs/can_a_vbs_backup_of_a_system_disk_be_used_to_restore_the_system_disk_of_an_ecs.html;
  /usermanual/vbs/en-us_topic_0015667847.html /volume-backup-service/umn/faqs/does_vbs_support_simultaneous_backup_of_all_evs_disks_on_a_server.html;
  /usermanual/vbs/en-us_topic_0067558642.html /volume-backup-service/umn/faqs/why_add_tags_to_a_vbs_backup_or_backup_policy.html;
  /usermanual/vbs/en-us_topic_0046276032.html /volume-backup-service/umn/faqs/what_can_i_do_in_case_of_exceptions_in_vbs.html;
  /usermanual/vbs/en-us_topic_0105911995.html /volume-backup-service/umn/faqs/does_backup_can_be_performed_several_times_a_day.html;
  /usermanual/vbs/en-us_topic_0015667845.html /volume-backup-service/umn/service_overview/index.html;
  /usermanual/vbs/en-us_topic_0015667831.html /volume-backup-service/umn/service_overview/related_services.html;
  /usermanual/vbs/en-us_topic_0071078294.html /volume-backup-service/umn/service_overview/user_permissions.html;
  /usermanual/vbs/en-us_topic_0170379340.html /volume-backup-service/umn/service_overview/region_and_az.html;
  /usermanual/vbs/en-us_topic_0071076576.html /volume-backup-service/umn/service_overview/basic_concepts.html;
  /usermanual/vbs/en-us_topic_0031627299.html /volume-backup-service/umn/service_overview/vbs_functions.html;
  /usermanual/vbs/en-us_topic_0015667828.html /volume-backup-service/umn/service_overview/vbs.html;
  /usermanual/vbs/en-us_topic_0041062628.html /volume-backup-service/umn/change_history.html;
  /usermanual/vbs/en-us_topic_0035111666.html /volume-backup-service/umn/troubleshooting_cases.html;
  /usermanual/vbs/en-us_topic_0015667841.html /volume-backup-service/umn/getting_started/index.html;
  /usermanual/vbs/en-us_topic_0015667820.html /volume-backup-service/umn/getting_started/creating_a_vbs_backup.html;
  /usermanual/vbs/en-us_topic_0042416420.html /volume-backup-service/umn/getting_started/operation_procedure.html;
}
