map $request_uri $new_uri {
  default "";
  /api/aom/aom_04_0066.html /application-operations-management/api-ref/appendix/index.html;
  /api/aom/aom_04_0018.html /application-operations-management/api-ref/appendix/status_codes.html;
  /api/aom/aom_04_0009.html /application-operations-management/api-ref/appendix/common_response_headers.html;
  /api/aom/aom_04_0008.html /application-operations-management/api-ref/appendix/common_request_headers.html;
  /api/aom/ /application-operations-management/api-ref/index.html;
  /api/aom/aom_04_0000.html /application-operations-management/api-ref/api_usage_guidelines.html;
  /api/aom/aom_04_0020.html /application-operations-management/api-ref/change_history.html;
  /api/aom/aom_04_1010.html /application-operations-management/api-ref/apis/index.html;
  /api/aom/aom_04_1047.html /application-operations-management/api-ref/apis/log_apis/index.html;
  /api/aom/aom_04_1034.html /application-operations-management/api-ref/apis/log_apis/querying_logs.html;
  /api/aom/aom_04_1045.html /application-operations-management/api-ref/apis/monitoring_apis/index.html;
  /api/aom/aom_04_1015.html /application-operations-management/api-ref/apis/monitoring_apis/querying_a_threshold_rule_list.html;
  /api/aom/aom_04_1014.html /application-operations-management/api-ref/apis/monitoring_apis/adding_a_threshold_rule.html;
  /api/aom/aom_04_1013.html /application-operations-management/api-ref/apis/monitoring_apis/adding_monitoring_data.html;
  /api/aom/aom_04_1011.html /application-operations-management/api-ref/apis/monitoring_apis/querying_metrics.html;
  /api/aom/aom_04_1017.html /application-operations-management/api-ref/apis/monitoring_apis/deleting_a_threshold_rule.html;
  /api/aom/aom_04_1016.html /application-operations-management/api-ref/apis/monitoring_apis/querying_a_threshold_rule.html;
  /api/aom/aom_04_1019.html /application-operations-management/api-ref/apis/monitoring_apis/modifying_a_threshold_rule.html;
  /api/aom/aom_04_1012.html /application-operations-management/api-ref/apis/monitoring_apis/querying_monitoring_data.html;
  /usermanual/aom/ /application-operations-management/umn/index.html;
  /usermanual/aom/aom_06_6001.html /application-operations-management/umn/user_guide/index.html;
  /usermanual/aom/aom_02_1041.html /application-operations-management/umn/user_guide/overview.html;
  /usermanual/aom/en-us_topic_0296826282.html /application-operations-management/umn/user_guide/process_of_using_aom.html;
  /usermanual/aom/aom_02_2011.html /application-operations-management/umn/user_guide/configuration_management/icagent_management/index.html;
  /usermanual/aom/aom_02_2013.html /application-operations-management/umn/user_guide/configuration_management/icagent_management/upgrading_the_icagent.html;
  /usermanual/aom/aom_02_2012.html /application-operations-management/umn/user_guide/configuration_management/icagent_management/installing_the_icagent.html;
  /usermanual/aom/aom_02_2014.html /application-operations-management/umn/user_guide/configuration_management/icagent_management/uninstalling_the_icagent.html;
  /usermanual/aom/aom_02_0068.html /application-operations-management/umn/user_guide/configuration_management/index.html;
  /usermanual/aom/aom_02_0087.html /application-operations-management/umn/user_guide/configuration_management/log_configuration/index.html;
  /usermanual/aom/aom_02_0082.html /application-operations-management/umn/user_guide/configuration_management/log_configuration/configuring_delimiters.html;
  /usermanual/aom/aom_02_1010.html /application-operations-management/umn/user_guide/related_services.html;
  /usermanual/aom/aom_02_0054.html /application-operations-management/umn/user_guide/log_management/index.html;
  /usermanual/aom/aom_02_0079.html /application-operations-management/umn/user_guide/log_management/adding_a_log_bucket.html;
  /usermanual/aom/aom_02_0009.html /application-operations-management/umn/user_guide/log_management/searching_for_logs.html;
  /usermanual/aom/aom_02_0039.html /application-operations-management/umn/user_guide/log_management/configuring_vm_log_collection_paths.html;
  /usermanual/aom/aom_02_0010.html /application-operations-management/umn/user_guide/log_management/viewing_log_files.html;
  /usermanual/aom/aom_02_0083.html /application-operations-management/umn/user_guide/log_management/viewing_bucket_logs.html;
  /usermanual/aom/aom_02_0001.html /application-operations-management/umn/user_guide/view_management/index.html;
  /usermanual/aom/aom_02_1117.html /application-operations-management/umn/user_guide/view_management/monitoring_metrics.html;
  /usermanual/aom/aom_02_0003.html /application-operations-management/umn/user_guide/view_management/dashboard.html;
  /usermanual/aom/aom_02_0048.html /application-operations-management/umn/user_guide/resource_monitoring/index.html;
  /usermanual/aom/aom_02_2007.html /application-operations-management/umn/user_guide/resource_monitoring/monitoring_workloads.html;
  /usermanual/aom/aom_02_1030.html /application-operations-management/umn/user_guide/resource_monitoring/monitoring_services.html;
  /usermanual/aom/aom_02_0008.html /application-operations-management/umn/user_guide/resource_monitoring/host_monitoring.html;
  /usermanual/aom/aom_02_1014.html /application-operations-management/umn/user_guide/metric_description/index.html;
  /usermanual/aom/aom_02_1016.html /application-operations-management/umn/user_guide/metric_description/network_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1022.html /application-operations-management/umn/user_guide/metric_description/process_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1023.html /application-operations-management/umn/user_guide/metric_description/instance_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1024.html /application-operations-management/umn/user_guide/metric_description/service_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1021.html /application-operations-management/umn/user_guide/metric_description/container_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1015.html /application-operations-management/umn/user_guide/metric_description/introduction.html;
  /usermanual/aom/aom_02_1020.html /application-operations-management/umn/user_guide/metric_description/cluster_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1019.html /application-operations-management/umn/user_guide/metric_description/host_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1017.html /application-operations-management/umn/user_guide/metric_description/disk_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_1018.html /application-operations-management/umn/user_guide/metric_description/file_system_metrics_and_dimensions.html;
  /usermanual/aom/aom_02_0044.html /application-operations-management/umn/user_guide/alarm_management/index.html;
  /usermanual/aom/aom_02_0045.html /application-operations-management/umn/user_guide/alarm_management/viewing_events.html;
  /usermanual/aom/aom_02_0004.html /application-operations-management/umn/user_guide/alarm_management/viewing_alarms.html;
  /usermanual/aom/aom_02_1035.html /application-operations-management/umn/user_guide/alarm_management/creating_threshold_rules.html;
  /usermanual/aom/aom_02_1101.html /application-operations-management/umn/faqs/index.html;
  /usermanual/aom/aom_02_1002.html /application-operations-management/umn/faqs/what_is_the_relationship_between_the_time_range_and_statistical_cycle.html;
  /usermanual/aom/aom_02_1012.html /application-operations-management/umn/faqs/what_can_i_do_if_resources_are_not_running_properly.html;
  /usermanual/aom/aom_02_1100.html /application-operations-management/umn/faqs/obtaining_an_ak_sk.html;
  /usermanual/aom/aom_02_1011.html /application-operations-management/umn/change_history.html;
  /usermanual/aom/aom_02_1007.html /application-operations-management/umn/introduction.html;
}
