map $request_uri $new_uri {
  default "";
  /api/swr/ /software-repository-container/api-ref/index.html;
  /api/swr/swr_02_0008.html /software-repository-container/api-ref/appendixes/index.html;
  /api/swr/swr_02_0023.html /software-repository-container/api-ref/appendixes/status_codes.html;
  /api/swr/swr_02_0024.html /software-repository-container/api-ref/appendixes/error_code.html;
  /api/swr/swr_02_0078.html /software-repository-container/api-ref/api_usage_guidelines.html;
  /api/swr/swr_02_0064.html /software-repository-container/api-ref/change_history.html;
  /api/swr/swr_02_0071.html /software-repository-container/api-ref/api/deleting_an_account_used_for_image_sharing.html;
  /api/swr/swr_02_0033.html /software-repository-container/api-ref/api/querying_the_brief_information_on_an_image_repository.html;
  /api/swr/swr_02_0011.html /software-repository-container/api-ref/api/index.html;
  /api/swr/swr_02_0035.html /software-repository-container/api-ref/api/querying_the_list_of_image_repository_tags.html;
  /api/swr/swr_02_0042.html /software-repository-container/api-ref/api/creating_organization_permissions.html;
  /api/swr/swr_02_0026.html /software-repository-container/api-ref/api/creating_an_organization.html;
  /api/swr/swr_02_0032.html /software-repository-container/api-ref/api/updating_the_brief_information_on_an_image_repository.html;
  /api/swr/swr_02_0080.html /software-repository-container/api-ref/api/querying_all_api_versions.html;
  /api/swr/swr_02_0074.html /software-repository-container/api-ref/api/obtaining_the_list_of_accounts_used_for_image_sharing.html;
  /api/swr/swr_02_0045.html /software-repository-container/api-ref/api/querying_organization_permissions.html;
  /api/swr/swr_02_0034.html /software-repository-container/api-ref/api/querying_the_image_repository_list.html;
  /api/swr/swr_02_0049.html /software-repository-container/api-ref/api/querying_image_permissions.html;
  /api/swr/swr_02_0048.html /software-repository-container/api-ref/api/updating_image_permissions.html;
  /api/swr/swr_02_0043.html /software-repository-container/api-ref/api/deleting_organization_permissions.html;
  /api/swr/swr_02_0044.html /software-repository-container/api-ref/api/updating_organization_permissions.html;
  /api/swr/swr_02_0047.html /software-repository-container/api-ref/api/deleting_image_permissions.html;
  /api/swr/swr_02_0031.html /software-repository-container/api-ref/api/deleting_an_image_repository.html;
  /api/swr/swr_02_0030.html /software-repository-container/api-ref/api/creating_an_image_repository.html;
  /api/swr/swr_02_0029.html /software-repository-container/api-ref/api/querying_the_details_of_an_organization.html;
  /api/swr/swr_02_0070.html /software-repository-container/api-ref/api/creating_an_account_used_for_image_sharing.html;
  /api/swr/swr_02_0036.html /software-repository-container/api-ref/api/deleting_the_image_with_a_specified_tag.html;
  /api/swr/swr_02_0081.html /software-repository-container/api-ref/api/querying_a_specific_api_version.html;
  /api/swr/swr_02_0075.html /software-repository-container/api-ref/api/viewing_the_list_of_shared_images.html;
  /api/swr/swr_02_0072.html /software-repository-container/api-ref/api/updating_an_account_used_for_image_sharing.html;
  /api/swr/swr_02_0027.html /software-repository-container/api-ref/api/deleting_an_organization.html;
  /api/swr/swr_02_0028.html /software-repository-container/api-ref/api/querying_the_list_of_organizations.html;
  /api/swr/swr_02_0046.html /software-repository-container/api-ref/api/creating_image_permissions.html;
  /api/swr/swr_02_0073.html /software-repository-container/api-ref/api/checking_the_existence_of_an_account_used_for_image_sharing.html;
  /usermanual/swr/ /software-repository-container/umn/index.html;
  /usermanual/swr/swr_01_0006.html /software-repository-container/umn/basics_of_the_container_engine.html;
  /usermanual/swr/swr_faq_index.html /software-repository-container/umn/faqs/index.html;
  /usermanual/swr/swr_faq_0012.html /software-repository-container/umn/faqs/general_faqs/how_do_i_create_a_container_image.html;
  /usermanual/swr/swr_faq_1001.html /software-repository-container/umn/faqs/general_faqs/index.html;
  /usermanual/swr/swr_faq_0013.html /software-repository-container/umn/faqs/general_faqs/swr_overview.html;
  /usermanual/swr/swr_faq_0004.html /software-repository-container/umn/faqs/general_faqs/how_do_i_create_an_image_package.html;
  /usermanual/swr/swr_faq_1002.html /software-repository-container/umn/faqs/image_management_faqs/index.html;
  /usermanual/swr/swr_faq_0015.html /software-repository-container/umn/faqs/image_management_faqs/what_are_the_differences_between_long-term_valid_login_commands_and_temporary_login_commands.html;
  /usermanual/swr/swr_faq_0035.html /software-repository-container/umn/faqs/image_management_faqs/can_i_pull_container_images_on_the_swr_console_to_a_local_pc.html;
  /usermanual/swr/swr_faq_0005.html /software-repository-container/umn/faqs/image_management_faqs/why_is_an_image_uploaded_through_the_client_to_swr_different_in_size_from_one_uploaded_through_the_swr_console.html;
  /usermanual/swr/swr_faq_2000.html /software-repository-container/umn/faqs/troubleshooting/index.html;
  /usermanual/swr/swr_faq_0016.html /software-repository-container/umn/faqs/troubleshooting/why_does_the_login_command_fail_to_be_executed.html;
  /usermanual/swr/swr_faq_0033.html /software-repository-container/umn/faqs/troubleshooting/why_does_the_docker_pull_command_fail_to_be_executed.html;
  /usermanual/swr/swr_faq_0006.html /software-repository-container/umn/faqs/troubleshooting/why_does_an_image_fail_to_be_uploaded_through_a_container_engine_client.html;
  /usermanual/swr/swr_pd_index.html /software-repository-container/umn/service_overview/index.html;
  /usermanual/swr/swr_03_0002.html /software-repository-container/umn/service_overview/advantages.html;
  /usermanual/swr/swr_03_0001.html /software-repository-container/umn/service_overview/introduction.html;
  /usermanual/swr/swr_03_0006.html /software-repository-container/umn/service_overview/related_services.html;
  /usermanual/swr/swr_03_0007.html /software-repository-container/umn/service_overview/notes_and_constraints.html;
  /usermanual/swr/swr_03_0003.html /software-repository-container/umn/service_overview/basic_concepts.html;
  /usermanual/swr/swr_03_0004.html /software-repository-container/umn/service_overview/application_scenarios.html;
  /usermanual/swr/swr_change_index.html /software-repository-container/umn/change_history.html;
  /usermanual/swr/swr_01_0009.html /software-repository-container/umn/introduction.html;
  /usermanual/swr/swr_01_0026.html /software-repository-container/umn/image_management/sharing_private_images.html;
  /usermanual/swr/swr_01_0028.html /software-repository-container/umn/image_management/index.html;
  /usermanual/swr/swr_01_1000.html /software-repository-container/umn/image_management/obtaining_a_long-term_valid_login_command.html;
  /usermanual/swr/swr_01_0017.html /software-repository-container/umn/image_management/pulling_an_image.html;
  /usermanual/swr/swr_01_0016.html /software-repository-container/umn/image_management/setting_image_attributes.html;
  /usermanual/swr/swr_01_0011.html /software-repository-container/umn/image_management/uploading_an_image_through_the_client.html;
  /usermanual/swr/swr_01_0015.html /software-repository-container/umn/user_permissions.html;
  /usermanual/swr/swr_01_0014.html /software-repository-container/umn/organization_management.html;
}
