map $request_uri $new_uri {
  default "";
  /api/natgw/ /nat-gateway/api-ref/index.html;
  /api/natgw/nat_api_0036.html /nat-gateway/api-ref/common_parameters/index.html;
  /api/natgw/nat_api_0038.html /nat-gateway/api-ref/common_parameters/status_codes.html;
  /api/natgw/nat_api_0040.html /nat-gateway/api-ref/common_parameters/error_code_description_v2.html;
  /api/natgw/nat_api_0042.html /nat-gateway/api-ref/common_parameters/resource_status_description.html;
  /api/natgw/nat_api_0027.html /nat-gateway/api-ref/permissions_policies_and_supported_actions/index.html;
  /api/natgw/nat_api_0033.html /nat-gateway/api-ref/permissions_policies_and_supported_actions/snat_rule_v2.html;
  /api/natgw/nat_api_0034.html /nat-gateway/api-ref/permissions_policies_and_supported_actions/dnat_rule_v2.html;
  /api/natgw/nat_api_0032.html /nat-gateway/api-ref/permissions_policies_and_supported_actions/nat_gateway_v2.html;
  /api/natgw/nat_api_0047.html /nat-gateway/api-ref/api_usage_guidelines.html;
  /api/natgw/nat_api_0046.html /nat-gateway/api-ref/change_history.html;
  /api/natgw/nat_api_0000.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0003.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0001.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0004.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0062.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0061.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0002.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0010.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0014.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0013.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0011.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0012.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0005.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0007.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0009.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0006.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0008.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0024.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0025.html /nat-gateway/api-ref/api_v2.html;
  /api/natgw/nat_api_0026.html /nat-gateway/api-ref/api_v2.html;
  /usermanual/natgw/nat_gls_0000.html /nat-gateway/umn/glossary.html;
  /usermanual/natgw/ /nat-gateway/umn/index.html;
  /usermanual/natgw/nat_dnat_0000.html /nat-gateway/umn/managing_dnat_rules/index.html;
  /usermanual/natgw/en-us_topic_0127489530.html /nat-gateway/umn/managing_dnat_rules/adding_a_dnat_rule.html;
  /usermanual/natgw/nat_dnat_0003.html /nat-gateway/umn/managing_dnat_rules/deleting_a_dnat_rule.html;
  /usermanual/natgw/nat_dnat_0001.html /nat-gateway/umn/managing_dnat_rules/viewing_a_dnat_rule.html;
  /usermanual/natgw/nat_pro_0000.html /nat-gateway/umn/overview/index.html;
  /usermanual/natgw/en-us_topic_0086739762.html /nat-gateway/umn/overview/what_is_nat_gateway.html;
  /usermanual/natgw/nat_pro_0001.html /nat-gateway/umn/overview/product_advantages.html;
  /usermanual/natgw/en-us_topic_0086739763.html /nat-gateway/umn/overview/nat_gateway_types.html;
  /usermanual/natgw/en-us_topic_0086739750.html /nat-gateway/umn/overview/notes_and_constraints.html;
  /usermanual/natgw/nat_az_0000.html /nat-gateway/umn/overview/region_and_az.html;
  /usermanual/natgw/nat_pro_0004.html /nat-gateway/umn/overview/basic_concepts.html;
  /usermanual/natgw/nat_pro_0002.html /nat-gateway/umn/overview/application_scenarios.html;
  /usermanual/natgw/nat_nat_0000.html /nat-gateway/umn/managing_nat_gateways/index.html;
  /usermanual/natgw/nat_nat_0002.html /nat-gateway/umn/managing_nat_gateways/deleting_a_nat_gateway.html;
  /usermanual/natgw/en-us_topic_0150270259.html /nat-gateway/umn/managing_nat_gateways/creating_a_nat_gateway.html;
  /usermanual/natgw/nat_nat_0001.html /nat-gateway/umn/managing_nat_gateways/viewing_a_nat_gateway.html;
  /usermanual/natgw/nat_01_0001.html /nat-gateway/umn/managing_nat_gateways/modifying_a_nat_gateway.html;
  /usermanual/natgw/nat_faq_0000.html /nat-gateway/umn/faqs/index.html;
  /usermanual/natgw/nat_faq_0200.html /nat-gateway/umn/faqs/snat/index.html;
  /usermanual/natgw/nat_faq_001.html /nat-gateway/umn/faqs/snat/why_is_snat_used.html;
  /usermanual/natgw/nat_faq_0002.html /nat-gateway/umn/faqs/snat/what_are_snat_connections.html;
  /usermanual/natgw/nat_faq_0100.html /nat-gateway/umn/faqs/nat_gateway/index.html;
  /usermanual/natgw/nat_faq_0004.html /nat-gateway/umn/faqs/nat_gateway/how_does_a_nat_gateway_offer_high_availability.html;
  /usermanual/natgw/nat_faq_0003.html /nat-gateway/umn/faqs/nat_gateway/what_is_the_relationship_between_a_vpc,_nat_gateway,_eip_bandwidth,_and_ecs.html;
  /usermanual/natgw/nat_faq_0013.html /nat-gateway/umn/faqs/nat_gateway/what_are_the_differences_between_using_a_nat_gateway_and_using_an_eip_for_an_ecs.html;
  /usermanual/natgw/nat_faq_0010.html /nat-gateway/umn/faqs/nat_gateway/what_is_the_quota_of_the_nat_gateway.html;
  /usermanual/natgw/nat_faq_0005.html /nat-gateway/umn/faqs/nat_gateway/do_the_nat_gateway_and_snat_rule_support_the_update_operation.html;
  /usermanual/natgw/nat_faq_0300.html /nat-gateway/umn/faqs/dnat/index.html;
  /usermanual/natgw/nat_faq_0007.html /nat-gateway/umn/faqs/dnat/can_i_modify_dnat_rules.html;
  /usermanual/natgw/nat_faq_0006.html /nat-gateway/umn/faqs/dnat/why_is_dnat_used.html;
  /usermanual/natgw/nat_tag_0000.html /nat-gateway/umn/managing_nat_gateway_tags.html;
  /usermanual/natgw/nat_his_0001.html /nat-gateway/umn/change_history.html;
  /usermanual/natgw/nat_snat_0000.html /nat-gateway/umn/managing_snat_rules/index.html;
  /usermanual/natgw/nat_snat_0001.html /nat-gateway/umn/managing_snat_rules/viewing_an_snat_rule.html;
  /usermanual/natgw/en-us_topic_0127489529.html /nat-gateway/umn/managing_snat_rules/adding_an_snat_rule.html;
  /usermanual/natgw/nat_snat_0003.html /nat-gateway/umn/managing_snat_rules/deleting_an_snat_rule.html;
  /usermanual/natgw/nat_ces_0001.html /nat-gateway/umn/monitoring_management/index.html;
  /usermanual/natgw/nat_ces_0002.html /nat-gateway/umn/monitoring_management/supported_metrics.html;
  /usermanual/natgw/nat_ces_0003.html /nat-gateway/umn/monitoring_management/viewing_metrics.html;
  /usermanual/natgw/en-us_topic_0113772081.html /nat-gateway/umn/monitoring_management/creating_alarm_rules.html;
  /usermanual/natgw/nat_qs_0000.html /nat-gateway/umn/getting_started/index.html;
  /usermanual/natgw/nat_qs_0006.html /nat-gateway/umn/getting_started/using_dnat_to_provide_services_accessible_from_the_internet/index.html;
  /usermanual/natgw/nat_qs_0007.html /nat-gateway/umn/getting_started/using_dnat_to_provide_services_accessible_from_the_internet/overview.html;
  /usermanual/natgw/nat_qs_0008.html /nat-gateway/umn/getting_started/using_dnat_to_provide_services_accessible_from_the_internet/step_1_assign_an_eip.html;
  /usermanual/natgw/nat_qs_0010.html /nat-gateway/umn/getting_started/using_dnat_to_provide_services_accessible_from_the_internet/step_3_add_a_dnat_rule.html;
  /usermanual/natgw/nat_qs_0011.html /nat-gateway/umn/getting_started/using_dnat_to_provide_services_accessible_from_the_internet/step_4_verify_the_result.html;
  /usermanual/natgw/nat_qs_0009.html /nat-gateway/umn/getting_started/using_dnat_to_provide_services_accessible_from_the_internet/step_2_create_a_nat_gateway.html;
  /usermanual/natgw/nat_qs_0012.html /nat-gateway/umn/getting_started/using_snat_and_dnat_rules_to_allow_on-premises_servers_to_communicate_over_the_internet/index.html;
  /usermanual/natgw/nat_qs_0017.html /nat-gateway/umn/getting_started/using_snat_and_dnat_rules_to_allow_on-premises_servers_to_communicate_over_the_internet/step_4_add_an_snat_rule.html;
  /usermanual/natgw/nat_qs_0013.html /nat-gateway/umn/getting_started/using_snat_and_dnat_rules_to_allow_on-premises_servers_to_communicate_over_the_internet/overview.html;
  /usermanual/natgw/nat_qs_0016.html /nat-gateway/umn/getting_started/using_snat_and_dnat_rules_to_allow_on-premises_servers_to_communicate_over_the_internet/step_3_create_a_nat_gateway.html;
  /usermanual/natgw/nat_qs_0018.html /nat-gateway/umn/getting_started/using_snat_and_dnat_rules_to_allow_on-premises_servers_to_communicate_over_the_internet/step_5_add_a_dnat_rule.html;
  /usermanual/natgw/nat_qs_0014.html /nat-gateway/umn/getting_started/using_snat_and_dnat_rules_to_allow_on-premises_servers_to_communicate_over_the_internet/step_1_create_a_direct_connect_connection.html;
  /usermanual/natgw/nat_qs_0015.html /nat-gateway/umn/getting_started/using_snat_and_dnat_rules_to_allow_on-premises_servers_to_communicate_over_the_internet/step_2_assign_an_eip.html;
  /usermanual/natgw/nat_qs_0001.html /nat-gateway/umn/getting_started/using_snat_to_access_the_internet/index.html;
  /usermanual/natgw/en-us_topic_0087895790.html /nat-gateway/umn/getting_started/using_snat_to_access_the_internet/overview.html;
  /usermanual/natgw/nat_qs_0002.html /nat-gateway/umn/getting_started/using_snat_to_access_the_internet/step_1_assign_an_eip.html;
  /usermanual/natgw/nat_qs_0005.html /nat-gateway/umn/getting_started/using_snat_to_access_the_internet/step_4_verify_the_result.html;
  /usermanual/natgw/nat_qs_0004.html /nat-gateway/umn/getting_started/using_snat_to_access_the_internet/step_3_add_an_snat_rule.html;
  /usermanual/natgw/nat_qs_0003.html /nat-gateway/umn/getting_started/using_snat_to_access_the_internet/step_2_create_a_nat_gateway.html;
}
