map $request_uri $new_uri {
  default "";
  /api/opengauss/opengauss_api_0030.html /gaussdb-opengauss/api-ref/appendix/index.html;
  /api/opengauss/opengauss_api_0032.html /gaussdb-opengauss/api-ref/appendix/status_codes.html;
  /api/opengauss/opengauss_api_0037.html /gaussdb-opengauss/api-ref/appendix/db_instance_class.html;
  /api/opengauss/opengauss_api_0034.html /gaussdb-opengauss/api-ref/appendix/obtaining_a_project_id.html;
  /api/opengauss/opengauss_api_0031.html /gaussdb-opengauss/api-ref/appendix/abnormal_request_results.html;
  /api/opengauss/opengauss_api_0033.html /gaussdb-opengauss/api-ref/appendix/error_codes.html;
  /api/opengauss/opengauss_api_0036.html /gaussdb-opengauss/api-ref/appendix/replication_mode_table.html;
  /api/opengauss/ /gaussdb-opengauss/api-ref/index.html;
  /api/opengauss/opengauss_api_0012.html /gaussdb-opengauss/api-ref/using_apis.html;
  /api/opengauss/opengauss_api_0038.html /gaussdb-opengauss/api-ref/change_history.html;
  /api/opengauss/opengauss_api_0007.html /gaussdb-opengauss/api-ref/api_overview.html;
  /api/opengauss/opengauss_api_0001.html /gaussdb-opengauss/api-ref/before_you_start/index.html;
  /api/opengauss/opengauss_api_0005.html /gaussdb-opengauss/api-ref/before_you_start/constraints.html;
  /api/opengauss/opengauss_api_0004.html /gaussdb-opengauss/api-ref/before_you_start/endpoints.html;
  /api/opengauss/opengauss_api_0002.html /gaussdb-opengauss/api-ref/before_you_start/overview.html;
  /api/opengauss/opengauss_api_0006.html /gaussdb-opengauss/api-ref/before_you_start/concepts.html;
  /api/opengauss/opengauss_api_0003.html /gaussdb-opengauss/api-ref/before_you_start/api_calling.html;
  /api/opengauss/opengauss_api_0013.html /gaussdb-opengauss/api-ref/api/index.html;
  /api/opengauss/opengauss_api_0023.html /gaussdb-opengauss/api-ref/api/parameter_configuration/index.html;
  /api/opengauss/opengauss_api_0024.html /gaussdb-opengauss/api-ref/api/parameter_configuration/modifying_parameters_of_a_specified_db_instance.html;
  /api/opengauss/opengauss_api_0014.html /gaussdb-opengauss/api-ref/api/db_instance_management/index.html;
  /api/opengauss/opengauss_api_0022.html /gaussdb-opengauss/api-ref/api/db_instance_management/modifying_a_db_instance_name.html;
  /api/opengauss/opengauss_api_0016.html /gaussdb-opengauss/api-ref/api/db_instance_management/scaling_up_storage_space_of_a_db_instance.html;
  /api/opengauss/opengauss_api_0015.html /gaussdb-opengauss/api-ref/api/db_instance_management/creating_a_db_instance.html;
  /api/opengauss/opengauss_api_0020.html /gaussdb-opengauss/api-ref/api/db_instance_management/adding_shards.html;
  /api/opengauss/opengauss_api_0017.html /gaussdb-opengauss/api-ref/api/db_instance_management/deleting_a_db_instance.html;
  /api/opengauss/opengauss_api_0021.html /gaussdb-opengauss/api-ref/api/db_instance_management/resetting_a_database_password.html;
  /api/opengauss/opengauss_api_0019.html /gaussdb-opengauss/api-ref/api/db_instance_management/adding_cns.html;
  /api/opengauss/opengauss_api_0018.html /gaussdb-opengauss/api-ref/api/db_instance_management/querying_details_about_db_instances.html;
  /api/opengauss/opengauss_api_0025.html /gaussdb-opengauss/api-ref/api/backup_management/index.html;
  /api/opengauss/opengauss_api_0026.html /gaussdb-opengauss/api-ref/api/backup_management/setting_an_automated_backup_policy.html;
  /usermanual/opengauss/ /gaussdb-opengauss/umn/index.html;
  /usermanual/opengauss/opengauss_01_0089.html /gaussdb-opengauss/umn/change_history.html;
  /usermanual/opengauss/opengauss_01_0014.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/index.html;
  /usermanual/opengauss/opengauss_01_0016.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_through_das/index.html;
  /usermanual/opengauss/opengauss_01_0019.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_through_das/step_2_connect_to_a_gaussdbopengauss_db_instance_through_das.html;
  /usermanual/opengauss/opengauss_01_0017.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_through_das/introduction.html;
  /usermanual/opengauss/opengauss_01_0018.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_through_das/step_1_create_a_db_instance.html;
  /usermanual/opengauss/opengauss_01_0028.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_public_network/step_3_bind_an_eip.html;
  /usermanual/opengauss/opengauss_01_0025.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_public_network/index.html;
  /usermanual/opengauss/opengauss_01_0026.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_public_network/overview.html;
  /usermanual/opengauss/opengauss_01_0030.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_public_network/step_4_connect_to_a_db_instance_through_gsql.html;
  /usermanual/opengauss/opengauss_01_0027.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_public_network/step_1_create_a_db_instance.html;
  /usermanual/opengauss/opengauss_01_0029.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_public_network/step_3_configure_security_group_rules.html;
  /usermanual/opengauss/opengauss_01_0024.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_private_network/step_3_connect_to_a_db_instance_through_gsql.html;
  /usermanual/opengauss/opengauss_01_0020.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_private_network/index.html;
  /usermanual/opengauss/opengauss_01_0021.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_private_network/overview.html;
  /usermanual/opengauss/opengauss_01_0023.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_private_network/step_2_configure_security_group_rules.html;
  /usermanual/opengauss/opengauss_01_0022.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance_over_a_private_network/step_1_create_a_db_instance.html;
  /usermanual/opengauss/opengauss_01_0015.html /gaussdb-opengauss/umn/getting_started_with_gaussdbopengauss/connecting_to_a_db_instance.html;
  /usermanual/opengauss/opengauss_01_0001.html /gaussdb-opengauss/umn/introduction/index.html;
  /usermanual/opengauss/opengauss_01_0013.html /gaussdb-opengauss/umn/introduction/constraints.html;
  /usermanual/opengauss/opengauss_01_0004.html /gaussdb-opengauss/umn/introduction/advantages.html;
  /usermanual/opengauss/opengauss_01_0012.html /gaussdb-opengauss/umn/introduction/related_services.html;
  /usermanual/opengauss/opengauss_01_0002.html /gaussdb-opengauss/umn/introduction/what_is_gaussdbopengauss.html;
  /usermanual/opengauss/opengauss_01_0003.html /gaussdb-opengauss/umn/introduction/basic_concepts.html;
  /usermanual/opengauss/opengauss_01_0005.html /gaussdb-opengauss/umn/introduction/db_instance_description/index.html;
  /usermanual/opengauss/opengauss_01_0007.html /gaussdb-opengauss/umn/introduction/db_instance_description/db_instance_classes.html;
  /usermanual/opengauss/opengauss_01_0090.html /gaussdb-opengauss/umn/introduction/db_instance_description/db_instance_storage_types.html;
  /usermanual/opengauss/opengauss_01_0006.html /gaussdb-opengauss/umn/introduction/db_instance_description/db_instance_statuses.html;
  /usermanual/opengauss/opengauss_01_0008.html /gaussdb-opengauss/umn/introduction/db_instance_description/db_instance_versions.html;
  /usermanual/opengauss/opengauss_01_0009.html /gaussdb-opengauss/umn/introduction/permissions_management.html;
  /usermanual/opengauss/opengauss_01_0031.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/index.html;
  /usermanual/opengauss/opengauss_01_0062.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/backup_and_restoration/index.html;
  /usermanual/opengauss/opengauss_01_0068.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/backup_and_restoration/restoring_a_backup.html;
  /usermanual/opengauss/opengauss_01_0066.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/backup_and_restoration/restoring_db_instances_to_a_specific_point_in_time.html;
  /usermanual/opengauss/opengauss_01_0069.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/backup_and_restoration/deleting_a_manual_backup.html;
  /usermanual/opengauss/opengauss_01_0063.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/backup_and_restoration/working_with_backups.html;
  /usermanual/opengauss/opengauss_01_0065.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/backup_and_restoration/creating_a_manual_backup.html;
  /usermanual/opengauss/opengauss_01_0064.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/backup_and_restoration/configuring_an_automated_backup_policy.html;
  /usermanual/opengauss/opengauss_01_0070.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/monitoring_and_alarming/index.html;
  /usermanual/opengauss/opengauss_01_0073.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/monitoring_and_alarming/viewing_monitoring_metrics.html;
  /usermanual/opengauss/opengauss_01_0071.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/monitoring_and_alarming/metrics.html;
  /usermanual/opengauss/opengauss_01_0032.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/index.html;
  /usermanual/opengauss/opengauss_01_0044.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/exporting_db_instance_information.html;
  /usermanual/opengauss/opengauss_01_0036.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/resetting_the_administrator_password.html;
  /usermanual/opengauss/opengauss_01_0035.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/deleting_a_db_instance.html;
  /usermanual/opengauss/opengauss_01_0041.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/scaling_up_storage_space.html;
  /usermanual/opengauss/opengauss_01_0034.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/rebooting_a_db_instance.html;
  /usermanual/opengauss/opengauss_01_0039.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/adding_nodes.html;
  /usermanual/opengauss/opengauss_01_0042.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/viewing_and_modifying_instance_parameters.html;
  /usermanual/opengauss/opengauss_01_0037.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/binding_and_unbinding_an_eip.html;
  /usermanual/opengauss/opengauss_01_0045.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/instance_management/changing_failover_priority.html;
  /usermanual/opengauss/opengauss_01_0046.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/index.html;
  /usermanual/opengauss/opengauss_01_0049.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/exporting_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0047.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/creating_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0052.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/replicating_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0048.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/modifying_parameters_in_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0057.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/deleting_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0055.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/viewing_application_records_of_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0053.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/resetting_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0051.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/viewing_parameter_change_history.html;
  /usermanual/opengauss/opengauss_01_0050.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/comparing_parameter_templates.html;
  /usermanual/opengauss/opengauss_01_0054.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/applying_a_parameter_template.html;
  /usermanual/opengauss/opengauss_01_0056.html /gaussdb-opengauss/umn/working_with_gaussdbopengauss/parameter_template_management/modifying_a_parameter_template_description.html;
}
