map $request_uri $new_uri {
  default "";
  /api/ma/ /modelarts/api-ref/index.html;
  /api/ma/modelarts_03_0093.html /modelarts/api-ref/common_parameters/index.html;
  /api/ma/modelarts_03_0247.html /modelarts/api-ref/common_parameters/obtaining_a_project_name.html;
  /api/ma/modelarts_03_0147.html /modelarts/api-ref/common_parameters/obtaining_a_project_id.html;
  /api/ma/modelarts_03_0095.html /modelarts/api-ref/common_parameters/error_codes.html;
  /api/ma/modelarts_03_0094.html /modelarts/api-ref/common_parameters/status_code.html;
  /api/ma/modelarts_03_0006.html /modelarts/api-ref/common_parameters/obtaining_a_username_and_id.html;
  /api/ma/modelarts_03_0148.html /modelarts/api-ref/common_parameters/obtaining_an_account_name_and_id.html;
  /api/ma/modelarts_03_0114.html /modelarts/api-ref/devenviron/deleting_a_development_environment_instance.html;
  /api/ma/modelarts_03_0108.html /modelarts/api-ref/devenviron/index.html;
  /api/ma/modelarts_03_0110.html /modelarts/api-ref/devenviron/creating_a_development_environment_instance.html;
  /api/ma/modelarts_03_0115.html /modelarts/api-ref/devenviron/managing_a_development_environment_instance.html;
  /api/ma/modelarts_03_0111.html /modelarts/api-ref/devenviron/querying_a_list_of_development_environment_instances.html;
  /api/ma/modelarts_03_0112.html /modelarts/api-ref/devenviron/querying_details_about_a_development_environment_instance.html;
  /api/ma/modelarts_03_0113.html /modelarts/api-ref/devenviron/modifying_the_description_of_a_development_environment_instance.html;
  /api/ma/authorization.html /modelarts/api-ref/authorization_management/index.html;
  /api/ma/CreateModelArtsAgency.html /modelarts/api-ref/authorization_management/creating_a_modelarts_agency.html;
  /api/ma/DeleteAuthorizations.html /modelarts/api-ref/authorization_management/deleting_authorization.html;
  /api/ma/GetAuthorizations.html /modelarts/api-ref/authorization_management/viewing_an_authorization_list.html;
  /api/ma/CreateAuthorization.html /modelarts/api-ref/authorization_management/configuring_authorization.html;
  /api/ma/modelarts_03_0138.html /modelarts/api-ref/permissions_policies_and_supported_actions/index.html;
  /api/ma/modelarts_03_0165.html /modelarts/api-ref/permissions_policies_and_supported_actions/service_management_permissions.html;
  /api/ma/modelarts_03_0162.html /modelarts/api-ref/permissions_policies_and_supported_actions/devenviron_permissions.html;
  /api/ma/modelarts_03_0146.html /modelarts/api-ref/permissions_policies_and_supported_actions/introduction.html;
  /api/ma/modelarts_03_0234.html /modelarts/api-ref/permissions_policies_and_supported_actions/exeml_permissions.html;
  /api/ma/modelarts_03_0164.html /modelarts/api-ref/permissions_policies_and_supported_actions/model_management_permissions.html;
  /api/ma/modelarts_03_0161.html /modelarts/api-ref/permissions_policies_and_supported_actions/data_management_permissions.html;
  /api/ma/modelarts_03_0163.html /modelarts/api-ref/permissions_policies_and_supported_actions/training_job_permissions.html;
  /api/ma/modelarts_03_0144.html /modelarts/api-ref/calling_apis/index.html;
  /api/ma/modelarts_03_0003.html /modelarts/api-ref/calling_apis/response.html;
  /api/ma/modelarts_03_0005.html /modelarts/api-ref/calling_apis/making_an_api_request.html;
  /api/ma/modelarts_03_0004.html /modelarts/api-ref/calling_apis/authentication.html;
  /api/ma/modelarts_03_0097.html /modelarts/api-ref/change_history.html;
  /api/ma/modelarts_03_0081.html /modelarts/api-ref/service_management/index.html;
  /api/ma/modelarts_03_0155.html /modelarts/api-ref/service_management/querying_service_event_logs.html;
  /api/ma/modelarts_03_0088.html /modelarts/api-ref/service_management/querying_service_update_logs.html;
  /api/ma/modelarts_03_0086.html /modelarts/api-ref/service_management/updating_service_configurations.html;
  /api/ma/modelarts_03_0201.html /modelarts/api-ref/service_management/querying_dedicated_resource_pools.html;
  /api/ma/modelarts_03_0084.html /modelarts/api-ref/service_management/querying_the_details_about_a_service.html;
  /api/ma/modelarts_03_0083.html /modelarts/api-ref/service_management/querying_a_service_list.html;
  /api/ma/modelarts_03_0087.html /modelarts/api-ref/service_management/querying_service_monitoring_information.html;
  /api/ma/modelarts_03_0082.html /modelarts/api-ref/service_management/deploying_a_model_as_a_service.html;
  /api/ma/modelarts_03_0089.html /modelarts/api-ref/service_management/deleting_a_service.html;
  /api/ma/modelarts_03_0200.html /modelarts/api-ref/service_management/querying_supported_service_deployment_specifications.html;
  /api/ma/modelarts_03_0002.html /modelarts/api-ref/api_overview.html;
  /api/ma/modelarts_03_0139.html /modelarts/api-ref/before_you_start/index.html;
  /api/ma/modelarts_03_0141.html /modelarts/api-ref/before_you_start/endpoints.html;
  /api/ma/modelarts_03_0001.html /modelarts/api-ref/before_you_start/overview.html;
  /api/ma/modelarts_03_0143.html /modelarts/api-ref/before_you_start/basic_concepts.html;
  /api/ma/modelarts_03_0140.html /modelarts/api-ref/before_you_start/api_calling.html;
  /api/ma/modelarts_03_0202.html /modelarts/api-ref/data_management/index.html;
  /api/ma/manual_annotation_management.html /modelarts/api-ref/data_management/manual_labeling/index.html;
  /api/ma/UpdateSamples.html /modelarts/api-ref/data_management/manual_labeling/updating_sample_labels_in_batches.html;
  /api/ma/sample_management.html /modelarts/api-ref/data_management/sample_management/index.html;
  /api/ma/UploadSamplesJson.html /modelarts/api-ref/data_management/sample_management/adding_samples_in_batches.html;
  /api/ma/ListSamples.html /modelarts/api-ref/data_management/sample_management/querying_the_sample_list.html;
  /api/ma/ListSearch.html /modelarts/api-ref/data_management/sample_management/obtaining_sample_search_condition.html;
  /api/ma/DeleteSamples.html /modelarts/api-ref/data_management/sample_management/deleting_samples_in_batches.html;
  /api/ma/DescribeSample.html /modelarts/api-ref/data_management/sample_management/querying_details_about_a_sample.html;
  /api/ma/ExportTask.html /modelarts/api-ref/data_management/data_export_task/creating_a_dataset_export_task.html;
  /api/ma/data_export.html /modelarts/api-ref/data_management/data_export_task/index.html;
  /api/ma/GetExportTaskStatusOfDataset.html /modelarts/api-ref/data_management/data_export_task/querying_the_status_of_a_dataset_export_task.html;
  /api/ma/GetExportTasksStatusOfDataset.html /modelarts/api-ref/data_management/data_export_task/querying_the_dataset_export_task_list.html;
  /api/ma/data_import.html /modelarts/api-ref/data_management/data_import_task/index.html;
  /api/ma/ImportTask.html /modelarts/api-ref/data_management/data_import_task/creating_an_import_task.html;
  /api/ma/DescImportTask.html /modelarts/api-ref/data_management/data_import_task/querying_details_about_a_dataset_import_task.html;
  /api/ma/ListImportTasks.html /modelarts/api-ref/data_management/data_import_task/querying_the_dataset_import_task_list.html;
  /api/ma/dataset_management.html /modelarts/api-ref/data_management/dataset_management/index.html;
  /api/ma/DescDataset.html /modelarts/api-ref/data_management/dataset_management/querying_details_about_a_dataset.html;
  /api/ma/ListStats.html /modelarts/api-ref/data_management/dataset_management/querying_dataset_statistics.html;
  /api/ma/GetDatasetMetrics.html /modelarts/api-ref/data_management/dataset_management/querying_the_monitoring_data_of_a_dataset.html;
  /api/ma/CreateDataset.html /modelarts/api-ref/data_management/dataset_management/creating_a_dataset.html;
  /api/ma/DeleteDataset.html /modelarts/api-ref/data_management/dataset_management/deleting_a_dataset.html;
  /api/ma/ListDatasets.html /modelarts/api-ref/data_management/dataset_management/response_body_for_querying_the_dataset_list.html;
  /api/ma/UpdateDataset.html /modelarts/api-ref/data_management/dataset_management/modifying_a_dataset.html;
  /api/ma/data_sync.html /modelarts/api-ref/data_management/data_synchronization_task/index.html;
  /api/ma/SyncDataSource.html /modelarts/api-ref/data_management/data_synchronization_task/synchronizing_a_dataset.html;
  /api/ma/SyncDataSourceState.html /modelarts/api-ref/data_management/data_synchronization_task/querying_the_status_of_a_dataset_synchronization_task.html;
  /api/ma/dataset_version_management.html /modelarts/api-ref/data_management/dataset_version_management/index.html;
  /api/ma/CreateDatasetVersion.html /modelarts/api-ref/data_management/dataset_version_management/creating_a_dataset_labeling_version.html;
  /api/ma/DeleteDatasetVersion.html /modelarts/api-ref/data_management/dataset_version_management/deleting_a_dataset_labeling_version.html;
  /api/ma/DescribeDatasetVersion.html /modelarts/api-ref/data_management/dataset_version_management/querying_details_about_a_dataset_version.html;
  /api/ma/ListDatasetVersions.html /modelarts/api-ref/data_management/dataset_version_management/querying_the_dataset_version_list.html;
  /api/ma/topic_300000012.html /modelarts/api-ref/data_management/label_management/index.html;
  /api/ma/DeleteLabels.html /modelarts/api-ref/data_management/label_management/deleting_labels_in_batches.html;
  /api/ma/CreateLabels.html /modelarts/api-ref/data_management/label_management/creating_a_dataset_label.html;
  /api/ma/UpdateLabels.html /modelarts/api-ref/data_management/label_management/modifying_labels_in_batches.html;
  /api/ma/DeleteLabelAndSamples.html /modelarts/api-ref/data_management/label_management/deleting_a_label_and_the_files_that_only_contain_the_label.html;
  /api/ma/UpdateLabel.html /modelarts/api-ref/data_management/label_management/updating_a_label_by_label_names.html;
  /api/ma/ListLabels.html /modelarts/api-ref/data_management/label_management/querying_the_dataset_label_list.html;
  /api/ma/modelarts_03_0299.html /modelarts/api-ref/data_management/data_management_apis.html;
  /api/ma/modelarts_03_0043.html /modelarts/api-ref/training_management/index.html;
  /api/ma/modelarts_03_0044.html /modelarts/api-ref/training_management/training_jobs/index.html;
  /api/ma/modelarts_03_0054.html /modelarts/api-ref/training_management/training_jobs/obtaining_the_name_of_a_training_job_log_file.html;
  /api/ma/modelarts_03_0051.html /modelarts/api-ref/training_management/training_jobs/stopping_a_training_job.html;
  /api/ma/modelarts_03_0048.html /modelarts/api-ref/training_management/training_jobs/deleting_a_version_of_a_training_job.html;
  /api/ma/modelarts_03_0050.html /modelarts/api-ref/training_management/training_jobs/creating_a_version_of_a_training_job.html;
  /api/ma/modelarts_03_0046.html /modelarts/api-ref/training_management/training_jobs/querying_a_training_job_list.html;
  /api/ma/modelarts_03_0049.html /modelarts/api-ref/training_management/training_jobs/querying_a_list_of_training_job_versions.html;
  /api/ma/modelarts_03_0047.html /modelarts/api-ref/training_management/training_jobs/querying_the_details_about_a_training_job_version.html;
  /api/ma/modelarts_03_0052.html /modelarts/api-ref/training_management/training_jobs/modifying_the_description_of_a_training_job.html;
  /api/ma/modelarts_03_0053.html /modelarts/api-ref/training_management/training_jobs/deleting_a_training_job.html;
  /api/ma/modelarts_03_0056.html /modelarts/api-ref/training_management/training_jobs/querying_a_built-in_algorithm.html;
  /api/ma/modelarts_03_0045.html /modelarts/api-ref/training_management/training_jobs/creating_a_training_job.html;
  /api/ma/modelarts_03_0149.html /modelarts/api-ref/training_management/training_jobs/querying_training_job_logs.html;
  /api/ma/modelarts_03_0071.html /modelarts/api-ref/training_management/resource_and_engine_specifications/index.html;
  /api/ma/modelarts_03_0073.html /modelarts/api-ref/training_management/resource_and_engine_specifications/querying_job_engine_specifications.html;
  /api/ma/modelarts_03_0072.html /modelarts/api-ref/training_management/resource_and_engine_specifications/querying_job_resource_specifications.html;
  /api/ma/modelarts_03_0074.html /modelarts/api-ref/training_management/job_statuses.html;
  /api/ma/modelarts_03_0063.html /modelarts/api-ref/training_management/visualization_jobs/index.html;
  /api/ma/modelarts_03_0067.html /modelarts/api-ref/training_management/visualization_jobs/modifying_the_description_of_a_visualization_job.html;
  /api/ma/modelarts_03_0064.html /modelarts/api-ref/training_management/visualization_jobs/creating_a_visualization_job.html;
  /api/ma/modelarts_03_0070.html /modelarts/api-ref/training_management/visualization_jobs/restarting_a_visualization_job.html;
  /api/ma/modelarts_03_0065.html /modelarts/api-ref/training_management/visualization_jobs/querying_a_visualization_job_list.html;
  /api/ma/modelarts_03_0068.html /modelarts/api-ref/training_management/visualization_jobs/deleting_a_visualization_job.html;
  /api/ma/modelarts_03_0066.html /modelarts/api-ref/training_management/visualization_jobs/querying_the_details_about_a_visualization_job.html;
  /api/ma/modelarts_03_0069.html /modelarts/api-ref/training_management/visualization_jobs/stopping_a_visualization_job.html;
  /api/ma/modelarts_03_0061.html /modelarts/api-ref/training_management/training_job_parameter_configuration/deleting_a_training_job_configuration.html;
  /api/ma/modelarts_03_0057.html /modelarts/api-ref/training_management/training_job_parameter_configuration/index.html;
  /api/ma/modelarts_03_0062.html /modelarts/api-ref/training_management/training_job_parameter_configuration/querying_the_details_about_a_training_job_configuration.html;
  /api/ma/modelarts_03_0059.html /modelarts/api-ref/training_management/training_job_parameter_configuration/querying_a_list_of_training_job_configurations.html;
  /api/ma/modelarts_03_0058.html /modelarts/api-ref/training_management/training_job_parameter_configuration/creating_a_training_job_configuration.html;
  /api/ma/modelarts_03_0060.html /modelarts/api-ref/training_management/training_job_parameter_configuration/modifying_a_training_job_configuration.html;
  /api/ma/modelarts_03_0400.html /modelarts/api-ref/application_cases/index.html;
  /api/ma/modelarts_03_0401.html /modelarts/api-ref/application_cases/creating_a_training_job_using_the_tensorflow_framework.html;
  /api/ma/modelarts_03_0075.html /modelarts/api-ref/model_management/index.html;
  /api/ma/modelarts_03_0076.html /modelarts/api-ref/model_management/importing_a_model.html;
  /api/ma/modelarts_03_0078.html /modelarts/api-ref/model_management/querying_the_details_about_a_model.html;
  /api/ma/modelarts_03_0079.html /modelarts/api-ref/model_management/deleting_a_model.html;
  /api/ma/modelarts_03_0077.html /modelarts/api-ref/model_management/querying_a_model_list.html;
  /usermanual/ma/ /modelarts/umn/index.html;
  /usermanual/ma/modelarts_23_0186.html /modelarts/umn/monitoring/index.html;
  /usermanual/ma/modelarts_23_0189.html /modelarts/umn/monitoring/viewing_monitoring_metrics.html;
  /usermanual/ma/modelarts_23_0187.html /modelarts/umn/monitoring/modelarts_metrics.html;
  /usermanual/ma/modelarts_23_0188.html /modelarts/umn/monitoring/setting_alarm_rules.html;
  /usermanual/ma/modelarts_23_0076.html /modelarts/umn/resource_pools.html;
  /usermanual/ma/modelarts_08_0000.html /modelarts/umn/preparations/index.html;
  /usermanual/ma/modelarts_08_0003.html /modelarts/umn/preparations/creating_an_obs_bucket.html;
  /usermanual/ma/modelarts_08_0006.html /modelarts/umn/preparations/configuring_access_authorization_global_configuration/index.html;
  /usermanual/ma/modelarts_08_0005.html /modelarts/umn/preparations/configuring_access_authorization_global_configuration/overview.html;
  /usermanual/ma/modelarts_08_0007.html /modelarts/umn/preparations/configuring_access_authorization_global_configuration/configuring_agency_authorization_recommended.html;
  /usermanual/ma/modelarts_08_0002.html /modelarts/umn/preparations/configuring_access_authorization_global_configuration/configuring_access_key_authorization.html;
  /usermanual/ma/modelarts_23_0090.html /modelarts/umn/model_package_specifications/index.html;
  /usermanual/ma/modelarts_23_0093.html /modelarts/umn/model_package_specifications/specifications_for_compiling_model_inference_code.html;
  /usermanual/ma/modelarts_23_0091.html /modelarts/umn/model_package_specifications/model_package_specifications.html;
  /usermanual/ma/modelarts_23_0092.html /modelarts/umn/model_package_specifications/specifications_for_compiling_the_model_configuration_file.html;
  /usermanual/ma/modelarts_21_0000.html /modelarts/umn/exeml/index.html;
  /usermanual/ma/modelarts_21_0008.html /modelarts/umn/exeml/object_detection/index.html;
  /usermanual/ma/modelarts_21_0010.html /modelarts/umn/exeml/object_detection/creating_a_project.html;
  /usermanual/ma/modelarts_21_0011.html /modelarts/umn/exeml/object_detection/labeling_data.html;
  /usermanual/ma/modelarts_21_0013.html /modelarts/umn/exeml/object_detection/deploying_a_model_as_a_service.html;
  /usermanual/ma/modelarts_21_0009.html /modelarts/umn/exeml/object_detection/preparing_data.html;
  /usermanual/ma/modelarts_21_0012.html /modelarts/umn/exeml/object_detection/training_a_model.html;
  /usermanual/ma/modelarts_21_0030.html /modelarts/umn/exeml/tips/index.html;
  /usermanual/ma/modelarts_21_0032.html /modelarts/umn/exeml/tips/how_do_i_view_the_added_data_in_an_exeml_project.html;
  /usermanual/ma/modelarts_21_0033.html /modelarts/umn/exeml/tips/how_do_i_perform_incremental_training_in_an_exeml_project.html;
  /usermanual/ma/modelarts_21_0031.html /modelarts/umn/exeml/tips/how_do_i_quickly_create_an_obs_bucket_and_a_folder_when_creating_a_project.html;
  /usermanual/ma/modelarts_21_0034.html /modelarts/umn/exeml/tips/where_are_models_generated_by_exeml_stored_what_other_operations_are_supported.html;
  /usermanual/ma/modelarts_21_0001.html /modelarts/umn/exeml/introduction_to_exeml.html;
  /usermanual/ma/en-us_topic_0000001297767637.html /modelarts/umn/exeml/predictive_analytics/index.html;
  /usermanual/ma/modelarts_21_0016.html /modelarts/umn/exeml/predictive_analytics/creating_a_project.html;
  /usermanual/ma/modelarts_21_0017.html /modelarts/umn/exeml/predictive_analytics/selecting_a_label_column.html;
  /usermanual/ma/modelarts_21_0019.html /modelarts/umn/exeml/predictive_analytics/deploying_a_model_as_a_service.html;
  /usermanual/ma/modelarts_21_0015.html /modelarts/umn/exeml/predictive_analytics/preparing_data.html;
  /usermanual/ma/modelarts_21_0018.html /modelarts/umn/exeml/predictive_analytics/training_a_model.html;
  /usermanual/ma/modelarts_21_0002.html /modelarts/umn/exeml/image_classification/index.html;
  /usermanual/ma/modelarts_21_0004.html /modelarts/umn/exeml/image_classification/creating_a_project.html;
  /usermanual/ma/modelarts_21_0005.html /modelarts/umn/exeml/image_classification/labeling_data.html;
  /usermanual/ma/modelarts_21_0007.html /modelarts/umn/exeml/image_classification/deploying_a_model_as_a_service.html;
  /usermanual/ma/modelarts_21_0003.html /modelarts/umn/exeml/image_classification/preparing_data.html;
  /usermanual/ma/modelarts_21_0006.html /modelarts/umn/exeml/image_classification/training_a_model.html;
  /usermanual/ma/modelarts_23_0249.html /modelarts/umn/audit_logs/index.html;
  /usermanual/ma/modelarts_23_0250.html /modelarts/umn/audit_logs/key_operations_recorded_by_cts.html;
  /usermanual/ma/modelarts_23_0251.html /modelarts/umn/audit_logs/viewing_audit_logs.html;
  /usermanual/ma/modelarts_05_0000.html /modelarts/umn/faqs/index.html;
  /usermanual/ma/modelarts_05_0030.html /modelarts/umn/faqs/training_jobs/index.html;
  /usermanual/ma/modelarts_05_0090.html /modelarts/umn/faqs/training_jobs/what_are_sizes_of_the__cache_directories_for_different_resource_specifications_in_the_training_environment.html;
  /usermanual/ma/modelarts_21_0080.html /modelarts/umn/faqs/training_jobs/how_do_i_obtain_training_job_parameters_from_the_boot_file_of_the_training_job.html;
  /usermanual/ma/modelarts_21_0077.html /modelarts/umn/faqs/training_jobs/what_should_i_know_when_setting_training_parameters.html;
  /usermanual/ma/modelarts_21_0078.html /modelarts/umn/faqs/training_jobs/how_do_i_check_resource_usage_of_a_training_job.html;
  /usermanual/ma/modelarts_21_0079.html /modelarts/umn/faqs/training_jobs/how_do_i_check_whether_folder_copy_is_complete_during_job_training.html;
  /usermanual/ma/modelarts_05_0032.html /modelarts/umn/faqs/training_jobs/what_can_i_do_if_no_such_file_or_directory_is_displayed_in_the_training_job_log.html;
  /usermanual/ma/modelarts_21_0084.html /modelarts/umn/faqs/training_jobs/why_cant_i_use_os.html;
  /usermanual/ma/modelarts_05_0031.html /modelarts/umn/faqs/training_jobs/what_can_i_do_if_the_message_object_directory_size_quantity_exceeds_the_limit_is_displayed_when_i_create_a_training_job.html;
  /usermanual/ma/modelarts_21_0081.html /modelarts/umn/faqs/training_jobs/how_do_i_access_the_background_of_a_training_job.html;
  /usermanual/ma/modelarts_21_0085.html /modelarts/umn/faqs/training_jobs/how_do_i_invoke_a_shell_script_in_a_training_job_to_execute_the_.html;
  /usermanual/ma/modelarts_05_0063.html /modelarts/umn/faqs/training_jobs/how_do_i_create_a_training_job_when_a_dependency_package_is_referenced_in_a_model.html;
  /usermanual/ma/modelarts_21_0082.html /modelarts/umn/faqs/training_jobs/is_there_any_conflict_when_models_of_two_training_jobs_are_saved_in_the_same_directory_of_a_container.html;
  /usermanual/ma/modelarts_21_0083.html /modelarts/umn/faqs/training_jobs/only_three_valid_digits_are_retained_in_a_training_output_log.html;
  /usermanual/ma/modelarts_05_0015.html /modelarts/umn/faqs/exeml/index.html;
  /usermanual/ma/modelarts_21_0062.html /modelarts/umn/faqs/exeml/what_are_the_requirements_for_training_data_when_you_create_a_predictive_analytics_project_in_exeml.html;
  /usermanual/ma/modelarts_21_0060.html /modelarts/umn/faqs/exeml/how_do_i_perform_incremental_training_in_an_exeml_project.html;
  /usermanual/ma/modelarts_21_0061.html /modelarts/umn/faqs/exeml/can_i_download_a_model_after_it_is_automatically_trained.html;
  /usermanual/ma/modelarts_05_0010.html /modelarts/umn/faqs/exeml/what_formats_of_images_are_supported_by_object_detection_or_image_classification_projects.html;
  /usermanual/ma/modelarts_05_0018.html /modelarts/umn/faqs/exeml/what_are_image_classification_and_object_detection.html;
  /usermanual/ma/modelarts_05_0002.html /modelarts/umn/faqs/exeml/what_is_exeml.html;
  /usermanual/ma/modelarts_05_0005.html /modelarts/umn/faqs/exeml/what_should_i_do_when_the_train_button_is_unavailable_after_i_create_an_image_classification_project_and_label_the_images.html;
  /usermanual/ma/modelarts_05_0008.html /modelarts/umn/faqs/exeml/what_type_of_service_is_deployed_in_exeml.html;
  /usermanual/ma/modelarts_05_0006.html /modelarts/umn/faqs/exeml/can_i_add_multiple_labels_to_an_image_for_an_object_detection_project.html;
  /usermanual/ma/modelarts_05_0014.html /modelarts/umn/faqs/general_issues/index.html;
  /usermanual/ma/modelarts_05_0128.html /modelarts/umn/faqs/general_issues/which_ai_frameworks_does_modelarts_support.html;
  /usermanual/ma/modelarts_21_0057.html /modelarts/umn/faqs/general_issues/does_modelarts_support_multiple_projects.html;
  /usermanual/ma/modelarts_05_0013.html /modelarts/umn/faqs/general_issues/how_do_i_upload_data_to_obs.html;
  /usermanual/ma/modelarts_21_0058.html /modelarts/umn/faqs/general_issues/how_do_i_view_all_files_in_an_obs_directory_on_modelarts.html;
  /usermanual/ma/modelarts_05_0001.html /modelarts/umn/faqs/general_issues/what_is_modelarts.html;
  /usermanual/ma/modelarts_21_0055.html /modelarts/umn/faqs/general_issues/how_do_i_use_modelarts_to_train_models_based_on_structured_data.html;
  /usermanual/ma/modelarts_21_0059.html /modelarts/umn/faqs/general_issues/does_modelarts_support_encrypted_files_stored_in_obs.html;
  /usermanual/ma/modelarts_05_0003.html /modelarts/umn/faqs/general_issues/what_are_the_relationships_between_modelarts_and_other_services.html;
  /usermanual/ma/modelarts_05_0004.html /modelarts/umn/faqs/general_issues/how_do_i_obtain_access_keys.html;
  /usermanual/ma/modelarts_05_0067.html /modelarts/umn/faqs/notebook/index.html;
  /usermanual/ma/modelarts_05_0071.html /modelarts/umn/faqs/notebook/how_do_i_enable_the_terminal_function_in_devenviron_of_modelarts.html;
  /usermanual/ma/modelarts_05_0024.html /modelarts/umn/faqs/notebook/how_do_i_upload_a_file_from_a_notebook_instance_to_obs_or_download_a_file_from_obs_to_a_notebook_instance.html;
  /usermanual/ma/modelarts_21_0072.html /modelarts/umn/faqs/notebook/how_do_i_view_gpu_usage_on_the_notebook.html;
  /usermanual/ma/modelarts_21_0065.html /modelarts/umn/faqs/notebook/is_the_keras_engine_supported.html;
  /usermanual/ma/modelarts_21_0070.html /modelarts/umn/faqs/notebook/what_do_i_do_if_a_notebook_instance_fails_to_execute_code.html;
  /usermanual/ma/modelarts_21_0067.html /modelarts/umn/faqs/notebook/what_should_i_do_when_the_system_displays_an_error_message_indicating_that_no_space_left_after_i_run_the_pip_install_command.html;
  /usermanual/ma/modelarts_21_0071.html /modelarts/umn/faqs/notebook/does_modelarts_devenviron_support_apt-get.html;
  /usermanual/ma/modelarts_05_0080.html /modelarts/umn/faqs/notebook/do_files_in__cache_still_exist_after_a_notebook_instance_is_stopped_or_restarted_how_do_i_avoid_a_restart.html;
  /usermanual/ma/modelarts_21_0074.html /modelarts/umn/faqs/notebook/does_modelarts_support_the_caffe_engine.html;
  /usermanual/ma/modelarts_21_0068.html /modelarts/umn/faqs/notebook/how_do_i_upload_local_files_to_a_notebook_instance.html;
  /usermanual/ma/modelarts_05_0045.html /modelarts/umn/faqs/notebook/where_will_the_data_be_uploaded_to.html;
  /usermanual/ma/modelarts_05_0022.html /modelarts/umn/faqs/notebook/how_do_i_install_external_libraries_in_a_notebook_instance.html;
  /usermanual/ma/modelarts_21_0066.html /modelarts/umn/faqs/notebook/how_do_i_use_training_code_in_training_jobs_after_debugging_the_code_in_a_notebook_instance.html;
  /usermanual/ma/modelarts_05_0081.html /modelarts/umn/faqs/notebook/where_is_data_stored_after_the_sync_obs_function_is_used.html;
  /usermanual/ma/modelarts_21_0073.html /modelarts/umn/faqs/notebook/what_python_development_environments_does_notebook_support.html;
  /usermanual/ma/modelarts_21_0075.html /modelarts/umn/faqs/notebook/is_sudo_privilege_escalation_supported.html;
  /usermanual/ma/modelarts_21_0069.html /modelarts/umn/faqs/notebook/should_i_access_the_python_environment_same_as_the_notebook_kernel_of_the_current_instance_in_the_terminal.html;
  /usermanual/ma/modelarts_05_0101.html /modelarts/umn/faqs/data_management/index.html;
  /usermanual/ma/modelarts_21_0063.html /modelarts/umn/faqs/data_management/are_there_size_limits_for_images_to_be_uploaded.html;
  /usermanual/ma/modelarts_05_0103.html /modelarts/umn/faqs/data_management/why_does_data_fail_to_be_imported_using_the_manifest_file.html;
  /usermanual/ma/modelarts_05_0017.html /modelarts/umn/faqs/service_deployment/index.html;
  /usermanual/ma/modelarts_05_0012.html /modelarts/umn/faqs/service_deployment/what_types_of_services_can_models_be_deployed_as_on_modelarts.html;
  /usermanual/ma/modelarts_05_0100.html /modelarts/umn/faqs/service_deployment/what_should_i_do_if_a_conflict_occurs_when_deploying_a_model_as_a_real-time_service.html;
  /usermanual/ma/modelarts_05_0124.html /modelarts/umn/faqs/model_management/how_do_i_import_a_model_downloaded_from_obs_to_modelarts.html;
  /usermanual/ma/modelarts_05_0016.html /modelarts/umn/faqs/model_management/index.html;
  /usermanual/ma/modelarts_21_0086.html /modelarts/umn/faqs/model_management/how_do_i_import_the_.html;
  /usermanual/ma/modelarts_23_0097.html /modelarts/umn/model_templates/index.html;
  /usermanual/ma/modelarts_23_0099.html /modelarts/umn/model_templates/input_and_output_modes/index.html;
  /usermanual/ma/modelarts_23_0102.html /modelarts/umn/model_templates/input_and_output_modes/built-in_predictive_analytics_mode.html;
  /usermanual/ma/modelarts_23_0101.html /modelarts/umn/model_templates/input_and_output_modes/built-in_image_processing_mode.html;
  /usermanual/ma/modelarts_23_0103.html /modelarts/umn/model_templates/input_and_output_modes/undefined_mode.html;
  /usermanual/ma/modelarts_23_0100.html /modelarts/umn/model_templates/input_and_output_modes/built-in_object_detection_mode.html;
  /usermanual/ma/modelarts_23_0098.html /modelarts/umn/model_templates/introduction_to_model_templates.html;
  /usermanual/ma/modelarts_23_0118.html /modelarts/umn/model_templates/template_description/index.html;
  /usermanual/ma/modelarts_23_0164.html /modelarts/umn/model_templates/template_description/mxnet-py37_general_template.html;
  /usermanual/ma/modelarts_23_0168.html /modelarts/umn/model_templates/template_description/caffe-gpu-py27_general_template.html;
  /usermanual/ma/modelarts_23_0161.html /modelarts/umn/model_templates/template_description/tensorflow-py27_general_template.html;
  /usermanual/ma/modelarts_23_0162.html /modelarts/umn/model_templates/template_description/tensorflow-py36_general_template.html;
  /usermanual/ma/modelarts_23_0167.html /modelarts/umn/model_templates/template_description/caffe-cpu-py27_general_template.html;
  /usermanual/ma/modelarts_23_0163.html /modelarts/umn/model_templates/template_description/mxnet-py27_general_template.html;
  /usermanual/ma/modelarts_23_0165.html /modelarts/umn/model_templates/template_description/pytorch-py27_general_template.html;
  /usermanual/ma/modelarts_23_0166.html /modelarts/umn/model_templates/template_description/pytorch-py37_general_template.html;
  /usermanual/ma/modelarts_23_0169.html /modelarts/umn/model_templates/template_description/caffe-cpu-py37_general_template.html;
  /usermanual/ma/modelarts_23_0170.html /modelarts/umn/model_templates/template_description/caffe-gpu-py37_general_template.html;
  /usermanual/ma/modelarts_01_0000.html /modelarts/umn/service_overview/index.html;
  /usermanual/ma/modelarts_01_0009.html /modelarts/umn/service_overview/basic_knowledge/index.html;
  /usermanual/ma/modelarts_01_0010.html /modelarts/umn/service_overview/basic_knowledge/introduction_to_the_ai_development_lifecycle.html;
  /usermanual/ma/modelarts_01_0013.html /modelarts/umn/service_overview/basic_knowledge/devenviron.html;
  /usermanual/ma/modelarts_01_0012.html /modelarts/umn/service_overview/basic_knowledge/data_management.html;
  /usermanual/ma/modelarts_01_0016.html /modelarts/umn/service_overview/basic_knowledge/exeml.html;
  /usermanual/ma/modelarts_01_0014.html /modelarts/umn/service_overview/basic_knowledge/model_training.html;
  /usermanual/ma/modelarts_01_0015.html /modelarts/umn/service_overview/basic_knowledge/model_deployment.html;
  /usermanual/ma/modelarts_01_0005.html /modelarts/umn/service_overview/basic_knowledge/common_concepts_of_modelarts.html;
  /usermanual/ma/modelarts_01_0011.html /modelarts/umn/service_overview/basic_knowledge/basic_concepts_of_ai_development.html;
  /usermanual/ma/modelarts_01_0003.html /modelarts/umn/service_overview/functions.html;
  /usermanual/ma/modelarts_01_0006.html /modelarts/umn/service_overview/related_services.html;
  /usermanual/ma/modelarts_01_0001.html /modelarts/umn/service_overview/what_is_modelarts.html;
  /usermanual/ma/modelarts_21_0035.html /modelarts/umn/service_overview/how_do_i_access_modelarts.html;
  /usermanual/ma/modelarts_01_0017.html /modelarts/umn/service_overview/permissions_management.html;
  /usermanual/ma/modelarts_23_0172.html /modelarts/umn/examples_of_custom_scripts/index.html;
  /usermanual/ma/modelarts_23_0176.html /modelarts/umn/examples_of_custom_scripts/caffe.html;
  /usermanual/ma/modelarts_23_0178.html /modelarts/umn/examples_of_custom_scripts/pyspark.html;
  /usermanual/ma/modelarts_23_0173.html /modelarts/umn/examples_of_custom_scripts/tensorflow.html;
  /usermanual/ma/modelarts_23_0177.html /modelarts/umn/examples_of_custom_scripts/xgboost.html;
  /usermanual/ma/modelarts_23_0179.html /modelarts/umn/examples_of_custom_scripts/scikit_learn.html;
  /usermanual/ma/modelarts_23_0175.html /modelarts/umn/examples_of_custom_scripts/pytorch.html;
  /usermanual/ma/modelarts_04_0099.html /modelarts/umn/change_history.html;
  /usermanual/ma/modelarts_21_0037.html /modelarts/umn/quick_start/index.html;
  /usermanual/ma/modelarts_21_0038.html /modelarts/umn/quick_start/using_tensorflow_for_handwritten_digit_recognition.html;
  /usermanual/ma/modelarts_23_0057.html /modelarts/umn/model_deployment/index.html;
  /usermanual/ma/modelarts_23_0072.html /modelarts/umn/model_deployment/starting_or_stopping_a_service.html;
  /usermanual/ma/modelarts_23_0065.html /modelarts/umn/model_deployment/batch_services/index.html;
  /usermanual/ma/modelarts_23_0066.html /modelarts/umn/model_deployment/batch_services/deploying_a_model_as_a_batch_service.html;
  /usermanual/ma/modelarts_23_0067.html /modelarts/umn/model_deployment/batch_services/viewing_the_batch_service_prediction_result.html;
  /usermanual/ma/modelarts_23_0058.html /modelarts/umn/model_deployment/introduction_to_model_deployment.html;
  /usermanual/ma/modelarts_23_0071.html /modelarts/umn/model_deployment/modifying_a_service.html;
  /usermanual/ma/modelarts_23_0073.html /modelarts/umn/model_deployment/deleting_a_service.html;
  /usermanual/ma/modelarts_23_0059.html /modelarts/umn/model_deployment/real-time_services/index.html;
  /usermanual/ma/modelarts_23_0063.html /modelarts/umn/model_deployment/real-time_services/accessing_a_real-time_service_token-based_authentication.html;
  /usermanual/ma/modelarts_23_0061.html /modelarts/umn/model_deployment/real-time_services/viewing_service_details.html;
  /usermanual/ma/modelarts_23_0060.html /modelarts/umn/model_deployment/real-time_services/deploying_a_model_as_a_real-time_service.html;
  /usermanual/ma/modelarts_23_0062.html /modelarts/umn/model_deployment/real-time_services/testing_a_service.html;
  /usermanual/ma/modelarts_23_0083.html /modelarts/umn/custom_images/index.html;
  /usermanual/ma/modelarts_23_0218.html /modelarts/umn/custom_images/for_importing_models/index.html;
  /usermanual/ma/modelarts_23_0219.html /modelarts/umn/custom_images/for_importing_models/specifications_for_custom_images_used_for_importing_models.html;
  /usermanual/ma/modelarts_23_0086.html /modelarts/umn/custom_images/for_importing_models/importing_a_model_using_a_custom_image.html;
  /usermanual/ma/modelarts_23_0084.html /modelarts/umn/custom_images/introduction_to_custom_images.html;
  /usermanual/ma/modelarts_23_0216.html /modelarts/umn/custom_images/for_training_models/index.html;
  /usermanual/ma/modelarts_23_0217.html /modelarts/umn/custom_images/for_training_models/specifications_for_custom_images_used_for_training_jobs.html;
  /usermanual/ma/modelarts_23_0087.html /modelarts/umn/custom_images/for_training_models/creating_a_training_job_using_a_custom_image_gpu.html;
  /usermanual/ma/modelarts_23_0085.html /modelarts/umn/custom_images/creating_and_uploading_a_custom_image.html;
  /usermanual/ma/modelarts_23_0002.html /modelarts/umn/data_management/index.html;
  /usermanual/ma/modelarts_23_0018.html /modelarts/umn/data_management/publishing_a_dataset.html;
  /usermanual/ma/modelarts_23_0012.html /modelarts/umn/data_management/labeling_data/object_detection.html;
  /usermanual/ma/modelarts_23_0014.html /modelarts/umn/data_management/labeling_data/named_entity_recognition.html;
  /usermanual/ma/modelarts_23_0010.html /modelarts/umn/data_management/labeling_data/index.html;
  /usermanual/ma/modelarts_23_0017.html /modelarts/umn/data_management/labeling_data/speech_paragraph_labeling.html;
  /usermanual/ma/modelarts_23_0211.html /modelarts/umn/data_management/labeling_data/text_triplet.html;
  /usermanual/ma/modelarts_23_0015.html /modelarts/umn/data_management/labeling_data/sound_classification.html;
  /usermanual/ma/modelarts_23_0011.html /modelarts/umn/data_management/labeling_data/image_classification.html;
  /usermanual/ma/modelarts_23_0016.html /modelarts/umn/data_management/labeling_data/speech_labeling.html;
  /usermanual/ma/modelarts_23_0013.html /modelarts/umn/data_management/labeling_data/text_classification.html;
  /usermanual/ma/modelarts_23_0180.html /modelarts/umn/data_management/team_labeling/index.html;
  /usermanual/ma/modelarts_23_0183.html /modelarts/umn/data_management/team_labeling/member_management.html;
  /usermanual/ma/modelarts_23_0182.html /modelarts/umn/data_management/team_labeling/team_management.html;
  /usermanual/ma/modelarts_23_0181.html /modelarts/umn/data_management/team_labeling/introduction_to_team_labeling.html;
  /usermanual/ma/modelarts_23_0210.html /modelarts/umn/data_management/team_labeling/managing_team_labeling_tasks.html;
  /usermanual/ma/modelarts_23_0019.html /modelarts/umn/data_management/managing_dataset_versions.html;
  /usermanual/ma/modelarts_23_0004.html /modelarts/umn/data_management/creating_a_dataset.html;
  /usermanual/ma/modelarts_23_0003.html /modelarts/umn/data_management/introduction_to_data_management.html;
  /usermanual/ma/modelarts_23_0021.html /modelarts/umn/data_management/deleting_a_dataset.html;
  /usermanual/ma/modelarts_23_0005.html /modelarts/umn/data_management/importing_data/index.html;
  /usermanual/ma/modelarts_23_0009.html /modelarts/umn/data_management/importing_data/specifications_for_importing_the_manifest_file.html;
  /usermanual/ma/modelarts_23_0006.html /modelarts/umn/data_management/importing_data/import_operation.html;
  /usermanual/ma/modelarts_23_0008.html /modelarts/umn/data_management/importing_data/specifications_for_importing_data_from_an_obs_directory.html;
  /usermanual/ma/modelarts_23_0020.html /modelarts/umn/data_management/modifying_a_dataset.html;
  /usermanual/ma/modelarts_23_0214.html /modelarts/umn/data_management/exporting_data.html;
  /usermanual/ma/modelarts_23_0043.html /modelarts/umn/training_management/index.html;
  /usermanual/ma/modelarts_23_0047.html /modelarts/umn/training_management/managing_training_job_versions.html;
  /usermanual/ma/modelarts_23_0156.html /modelarts/umn/training_management/built-in_algorithms/index.html;
  /usermanual/ma/modelarts_23_0045.html /modelarts/umn/training_management/built-in_algorithms/introduction_to_built-in_algorithms.html;
  /usermanual/ma/modelarts_23_0157.html /modelarts/umn/training_management/built-in_algorithms/requirements_on_datasets.html;
  /usermanual/ma/modelarts_23_0158.html /modelarts/umn/training_management/built-in_algorithms/algorithms_and_their_running_parameters.html;
  /usermanual/ma/modelarts_23_0235.html /modelarts/umn/training_management/creating_a_training_job/index.html;
  /usermanual/ma/modelarts_23_0237.html /modelarts/umn/training_management/creating_a_training_job/using_built-in_algorithms_to_train_models.html;
  /usermanual/ma/modelarts_23_0239.html /modelarts/umn/training_management/creating_a_training_job/using_custom_images_to_train_models.html;
  /usermanual/ma/modelarts_23_0046.html /modelarts/umn/training_management/creating_a_training_job/introduction_to_training_jobs.html;
  /usermanual/ma/modelarts_23_0238.html /modelarts/umn/training_management/creating_a_training_job/using_frequently-used_frameworks_to_train_models.html;
  /usermanual/ma/modelarts_23_0048.html /modelarts/umn/training_management/viewing_job_details.html;
  /usermanual/ma/modelarts_23_0050.html /modelarts/umn/training_management/managing_visualization_jobs.html;
  /usermanual/ma/modelarts_23_0049.html /modelarts/umn/training_management/managing_job_parameters.html;
  /usermanual/ma/modelarts_23_0044.html /modelarts/umn/training_management/introduction_to_model_training.html;
  /usermanual/ma/modelarts_23_0159.html /modelarts/umn/training_management/stopping_or_deleting_a_job.html;
  /usermanual/ma/modelarts_23_0077.html /modelarts/umn/permissions_management/index.html;
  /usermanual/ma/modelarts_23_0079.html /modelarts/umn/permissions_management/creating_a_user_and_granting_permissions.html;
  /usermanual/ma/modelarts_23_0078.html /modelarts/umn/permissions_management/basic_concepts.html;
  /usermanual/ma/modelarts_23_0080.html /modelarts/umn/permissions_management/creating_a_custom_policy.html;
  /usermanual/ma/modelarts_21_0036.html /modelarts/umn/getting_started_with_modelarts.html;
  /usermanual/ma/modelarts_23_0032.html /modelarts/umn/devenviron_notebook/index.html;
  /usermanual/ma/modelarts_23_0330.html /modelarts/umn/devenviron_notebook/using_jupyterlab/index.html;
  /usermanual/ma/modelarts_23_0331.html /modelarts/umn/devenviron_notebook/using_jupyterlab/uploading_and_downloading_data/index.html;
  /usermanual/ma/modelarts_23_0333.html /modelarts/umn/devenviron_notebook/using_jupyterlab/uploading_and_downloading_data/downloading_a_file_from_jupyterlab.html;
  /usermanual/ma/modelarts_23_0332.html /modelarts/umn/devenviron_notebook/using_jupyterlab/uploading_and_downloading_data/uploading_data_to_jupyterlab.html;
  /usermanual/ma/modelarts_23_0209.html /modelarts/umn/devenviron_notebook/using_jupyterlab/introduction_to_jupyterlab_and_common_operations.html;
  /usermanual/ma/modelarts_23_0335.html /modelarts/umn/devenviron_notebook/using_jupyterlab/using_modelarts_sdks.html;
  /usermanual/ma/modelarts_23_0336.html /modelarts/umn/devenviron_notebook/using_jupyterlab/synchronizing_files_with_obs.html;
  /usermanual/ma/modelarts_23_0033.html /modelarts/umn/devenviron_notebook/introduction_to_notebook.html;
  /usermanual/ma/modelarts_23_0111.html /modelarts/umn/devenviron_notebook/managing_notebook_instances/index.html;
  /usermanual/ma/modelarts_23_0041.html /modelarts/umn/devenviron_notebook/managing_notebook_instances/starting_or_stopping_a_notebook_instance.html;
  /usermanual/ma/modelarts_23_0042.html /modelarts/umn/devenviron_notebook/managing_notebook_instances/deleting_a_notebook_instance.html;
  /usermanual/ma/modelarts_23_0034.html /modelarts/umn/devenviron_notebook/managing_notebook_instances/creating_a_notebook_instance.html;
  /usermanual/ma/modelarts_23_0325.html /modelarts/umn/devenviron_notebook/managing_notebook_instances/opening_a_notebook_instance.html;
  /usermanual/ma/modelarts_23_0035.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/index.html;
  /usermanual/ma/modelarts_23_0120.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/common_operations_on_jupyter_notebook.html;
  /usermanual/ma/modelarts_23_0039.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/using_modelarts_sdks.html;
  /usermanual/ma/modelarts_23_0327.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/configuring_the_jupyter_notebook_environment/index.html;
  /usermanual/ma/modelarts_23_0280.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/configuring_the_jupyter_notebook_environment/switching_the_cuda_version_on_the_terminal_page_of_a_gpu-based_notebook_instance.html;
  /usermanual/ma/modelarts_23_0040.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/configuring_the_jupyter_notebook_environment/installing_external_libraries_and_kernels_in_notebook_instances.html;
  /usermanual/ma/modelarts_23_0117.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/configuring_the_jupyter_notebook_environment/using_the_notebook_terminal_function.html;
  /usermanual/ma/modelarts_23_0326.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/introduction_to_jupyter_notebook.html;
  /usermanual/ma/modelarts_23_0037.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/using_the_convert_to_python_file_function.html;
  /usermanual/ma/modelarts_23_0038.html /modelarts/umn/devenviron_notebook/using_jupyter_notebook/synchronizing_files_with_obs.html;
  /usermanual/ma/modelarts_23_0051.html /modelarts/umn/model_management/index.html;
  /usermanual/ma/modelarts_23_0052.html /modelarts/umn/model_management/introduction_to_model_management.html;
  /usermanual/ma/modelarts_23_0055.html /modelarts/umn/model_management/managing_model_versions.html;
  /usermanual/ma/modelarts_23_0204.html /modelarts/umn/model_management/importing_a_model/index.html;
  /usermanual/ma/modelarts_23_0207.html /modelarts/umn/model_management/importing_a_model/importing_a_meta_model_from_obs.html;
  /usermanual/ma/modelarts_23_0054.html /modelarts/umn/model_management/importing_a_model/importing_a_meta_model_from_a_training_job.html;
  /usermanual/ma/modelarts_23_0206.html /modelarts/umn/model_management/importing_a_model/importing_a_meta_model_from_a_container_image.html;
  /usermanual/ma/modelarts_23_0205.html /modelarts/umn/model_management/importing_a_model/importing_a_meta_model_from_a_template.html;
}
