map $request_uri $new_uri {
  default "";
  /api/rts/ /resource-template-service/api-ref/index.html;
  /api/rts/rts_03_0005.html /resource-template-service/api-ref/common_parameters/index.html;
  /api/rts/rts_03_0015.html /resource-template-service/api-ref/common_parameters/return_code.html;
  /api/rts/en-us_topic_0082242144.html /resource-template-service/api-ref/api_usage_guidelines.html;
  /api/rts/en-us_topic_0130737188.html /resource-template-service/api-ref/change_history.html;
  /api/rts/en-us_topic_0126459261.html /resource-template-service/api-ref/apis/index.html;
  /api/rts/rts_03_0037.html /resource-template-service/api-ref/apis/stack_event_management/index.html;
  /api/rts/rts_03_0041.html /resource-template-service/api-ref/apis/stack_event_management/querying_details_of_a_stack_resource_event.html;
  /api/rts/rts_03_0040.html /resource-template-service/api-ref/apis/stack_event_management/querying_events_of_a_stack_resource.html;
  /api/rts/rts_03_0038.html /resource-template-service/api-ref/apis/stack_event_management/querying_events_of_a_stack.html;
  /api/rts/rts_03_0019.html /resource-template-service/api-ref/apis/stack_management/index.html;
  /api/rts/rts_03_0022.html /resource-template-service/api-ref/apis/stack_management/previewing_a_stack.html;
  /api/rts/rts_03_0021.html /resource-template-service/api-ref/apis/stack_management/creating_a_stack.html;
  /api/rts/rts_03_0020.html /resource-template-service/api-ref/apis/stack_management/querying_the_stacks.html;
  /api/rts/rts_03_0027.html /resource-template-service/api-ref/apis/stack_management/deleting_a_stack.html;
  /api/rts/rts_03_0025.html /resource-template-service/api-ref/apis/stack_management/querying_details_of_a_stack.html;
  /api/rts/rts_03_0026.html /resource-template-service/api-ref/apis/stack_management/updating_a_stack.html;
  /api/rts/rts_03_0048.html /resource-template-service/api-ref/apis/building_information/index.html;
  /api/rts/rts_03_0049.html /resource-template-service/api-ref/apis/building_information/querying_the_building_information.html;
  /api/rts/rts_03_0034.html /resource-template-service/api-ref/apis/stack_action_management/index.html;
  /api/rts/rts_03_0036.html /resource-template-service/api-ref/apis/stack_action_management/checking_a_stack.html;
  /api/rts/rts_03_0035.html /resource-template-service/api-ref/apis/stack_action_management/canceling_stack_updates.html;
  /api/rts/rts_03_0014.html /resource-template-service/api-ref/apis/general_information/index.html;
  /api/rts/rts_03_0016.html /resource-template-service/api-ref/apis/general_information/redirection_description.html;
  /api/rts/rts_03_0028.html /resource-template-service/api-ref/apis/stack_resource_management/index.html;
  /api/rts/rts_03_0032.html /resource-template-service/api-ref/apis/stack_resource_management/sending_a_signal_to_a_stack_resource.html;
  /api/rts/rts_03_0033.html /resource-template-service/api-ref/apis/stack_resource_management/marking_a_resource_as_unhealthy.html;
  /api/rts/rts_03_0029.html /resource-template-service/api-ref/apis/stack_resource_management/querying_resources_of_a_stack.html;
  /api/rts/rts_03_0030.html /resource-template-service/api-ref/apis/stack_resource_management/querying_details_of_a_stack_resource.html;
  /api/rts/rts_03_0031.html /resource-template-service/api-ref/apis/stack_resource_management/querying_metadata_of_a_stack_resource.html;
  /api/rts/rts_03_0018.html /resource-template-service/api-ref/apis/api_version_management/querying_api_versions.html;
  /api/rts/rts_03_0017.html /resource-template-service/api-ref/apis/api_version_management/index.html;
  /api/rts/rts_03_0042.html /resource-template-service/api-ref/apis/template_management/index.html;
  /api/rts/rts_03_0043.html /resource-template-service/api-ref/apis/template_management/querying_a_stack_template.html;
  /api/rts/rts_03_0044.html /resource-template-service/api-ref/apis/template_management/validating_a_template.html;
  /api/rts/rts_03_0062.html /resource-template-service/api-ref/apis/resource_type_management/index.html;
  /api/rts/rts_03_0047.html /resource-template-service/api-ref/apis/resource_type_management/querying_resource_types.html;
  /api/rts/rts_03_0045.html /resource-template-service/api-ref/apis/resource_type_management/querying_the_template_of_a_resource_type.html;
  /api/rts/rts_03_0046.html /resource-template-service/api-ref/apis/resource_type_management/querying_the_type_of_a_resource.html;
  /api/rts/rts_03_0050.html /resource-template-service/api-ref/apis/software_configuration_management/index.html;
  /api/rts/rts_03_0055.html /resource-template-service/api-ref/apis/software_configuration_management/creating_one_or_more_software_deployments.html;
  /api/rts/rts_03_0053.html /resource-template-service/api-ref/apis/software_configuration_management/querying_details_of_a_software_configuration.html;
  /api/rts/rts_03_0051.html /resource-template-service/api-ref/apis/software_configuration_management/creating_one_or_more_software_configurations.html;
  /api/rts/rts_03_0057.html /resource-template-service/api-ref/apis/software_configuration_management/querying_details_of_a_software_deployment.html;
  /api/rts/rts_03_0054.html /resource-template-service/api-ref/apis/software_configuration_management/deleting_a_software_configuration.html;
  /api/rts/rts_03_0060.html /resource-template-service/api-ref/apis/software_configuration_management/viewing_metadata_configured_on_a_server.html;
  /api/rts/rts_03_0052.html /resource-template-service/api-ref/apis/software_configuration_management/querying_software_configurations.html;
  /api/rts/rts_03_0058.html /resource-template-service/api-ref/apis/software_configuration_management/updating_a_software_deployment.html;
  /api/rts/rts_03_0056.html /resource-template-service/api-ref/apis/software_configuration_management/querying_software_deployments.html;
  /api/rts/rts_03_0059.html /resource-template-service/api-ref/apis/software_configuration_management/deleting_a_software_deployment.html;
  /usermanual/rts/en-us_topic_0162985073.html /resource-template-service/umn/operation_guide.html;
  /usermanual/rts/ /resource-template-service/umn/index.html;
  /usermanual/rts/rts_02_0008.html /resource-template-service/umn/template_syntax/index.html;
  /usermanual/rts/rts_02_0016.html /resource-template-service/umn/template_syntax/internal_function.html;
  /usermanual/rts/rts_02_0009.html /resource-template-service/umn/template_syntax/template_structure.html;
  /usermanual/rts/rts_02_0010.html /resource-template-service/umn/template_syntax/template_version.html;
  /usermanual/rts/rts_02_0012.html /resource-template-service/umn/template_syntax/parameters.html;
  /usermanual/rts/rts_02_0011.html /resource-template-service/umn/template_syntax/template_description.html;
  /usermanual/rts/rts_02_0015.html /resource-template-service/umn/template_syntax/conditions.html;
  /usermanual/rts/rts_02_0013.html /resource-template-service/umn/template_syntax/resources.html;
  /usermanual/rts/rts_02_0014.html /resource-template-service/umn/template_syntax/outputs.html;
  /usermanual/rts/rts_02_0108_0.html /resource-template-service/umn/example_templates/creating_an_ecs.html;
  /usermanual/rts/rts_02_0037.html /resource-template-service/umn/example_templates/index.html;
  /usermanual/rts/rts_02_0112.html /resource-template-service/umn/example_templates/creating_an_ecs_in_a_specified_security_group.html;
  /usermanual/rts/rts_02_0115.html /resource-template-service/umn/example_templates/creating_network_resources.html;
  /usermanual/rts/rts_02_0114.html /resource-template-service/umn/example_templates/creating_a_load_balancer.html;
  /usermanual/rts/rts_02_0110.html /resource-template-service/umn/example_templates/creating_an_ecs_with_evs_disks_mounted.html;
  /usermanual/rts/rts_02_0109_0.html /resource-template-service/umn/example_templates/creating_an_ecs_and_binding_an_eip_to_the_ecs.html;
  /usermanual/rts/rts_02_0113.html /resource-template-service/umn/example_templates/creating_an_as_group.html;
  /usermanual/rts/rts_02_0111.html /resource-template-service/umn/example_templates/creating_an_ecs_group.html;
  /usermanual/rts/rts_02_0017.html /resource-template-service/umn/stack_management/index.html;
  /usermanual/rts/en-us_topic_0068576463.html /resource-template-service/umn/stack_management/preparing_a_template_or_a_template_package/index.html;
  /usermanual/rts/rts_02_0022.html /resource-template-service/umn/stack_management/preparing_a_template_or_a_template_package/example_template_packages.html;
  /usermanual/rts/rts_02_0021.html /resource-template-service/umn/stack_management/preparing_a_template_or_a_template_package/template_file_packaging.html;
  /usermanual/rts/rts_02_0018.html /resource-template-service/umn/stack_management/preparing_a_template_or_a_template_package/scenarios.html;
  /usermanual/rts/rts_02_0020.html /resource-template-service/umn/stack_management/preparing_a_template_or_a_template_package/template_package_structure.html;
  /usermanual/rts/rts_02_0023.html /resource-template-service/umn/stack_management/creating_a_stack.html;
  /usermanual/rts/rts_02_0029.html /resource-template-service/umn/stack_management/viewing_details_of_a_stack.html;
  /usermanual/rts/rts_02_0035.html /resource-template-service/umn/stack_management/deleting_a_stack.html;
  /usermanual/rts/rts_02_0030.html /resource-template-service/umn/stack_management/updating_a_stack.html;
  /usermanual/rts/rts_01_0001.html /resource-template-service/umn/service_overview/index.html;
  /usermanual/rts/rts_01_0006.html /resource-template-service/umn/service_overview/constraints.html;
  /usermanual/rts/rts_01_0003.html /resource-template-service/umn/service_overview/advantages.html;
  /usermanual/rts/rts_01_0008.html /resource-template-service/umn/service_overview/user_permissions.html;
  /usermanual/rts/en-us_topic_0039055697.html /resource-template-service/umn/service_overview/rts.html;
  /usermanual/rts/rts_01_0007.html /resource-template-service/umn/service_overview/heat_client.html;
  /usermanual/rts/rts_01_0004.html /resource-template-service/umn/service_overview/supported_resources.html;
  /usermanual/rts/en-us_topic_0130750896.html /resource-template-service/umn/change_history.html;
  /usermanual/rts/rts_02_0001.html /resource-template-service/umn/getting_started/index.html;
  /usermanual/rts/rts_02_0007.html /resource-template-service/umn/getting_started/creating_resources_using_a_template_using_the_console.html;
  /usermanual/rts/rts_02_0002.html /resource-template-service/umn/getting_started/creating_resources_using_a_template_using_the_heat_client.html;
  /usermanual/rts/rts_02_0063.html /resource-template-service/umn/resource_type_reference/osneutronfloatingip.html;
  /usermanual/rts/rts_02_0055.html /resource-template-service/umn/resource_type_reference/osheatsoftwareconfig.html;
  /usermanual/rts/rts_02_0051.html /resource-template-service/umn/resource_type_reference/osheatrandomstring.html;
  /usermanual/rts/rts_02_0036.html /resource-template-service/umn/resource_type_reference/index.html;
  /usermanual/rts/rts_02_0064.html /resource-template-service/umn/resource_type_reference/osneutronfloatingipassociation.html;
  /usermanual/rts/rts_02_0077.html /resource-template-service/umn/resource_type_reference/oseasscalingpolicy.html;
  /usermanual/rts/rts_02_0090.html /resource-template-service/umn/resource_type_reference/osevpcvpc.html;
  /usermanual/rts/rts_02_0065.html /resource-template-service/umn/resource_type_reference/osneutronnet.html;
  /usermanual/rts/rts_02_0062.html /resource-template-service/umn/resource_type_reference/osheatwaitconditionhandle.html;
  /usermanual/rts/rts_02_0079.html /resource-template-service/umn/resource_type_reference/oseelbloadbalancer.html;
  /usermanual/rts/rts_02_0058.html /resource-template-service/umn/resource_type_reference/osheatstructuredconfig.html;
  /usermanual/rts/rts_02_0056.html /resource-template-service/umn/resource_type_reference/osheatsoftwaredeployment.html;
  /usermanual/rts/rts_02_0069.html /resource-template-service/umn/resource_type_reference/osneutronrouterinterface.html;
  /usermanual/rts/rts_02_0088.html /resource-template-service/umn/resource_type_reference/osneutronlbaaspoolmember.html;
  /usermanual/rts/rts_02_0061.html /resource-template-service/umn/resource_type_reference/osheatwaitcondition.html;
  /usermanual/rts/rts_02_0080.html /resource-template-service/umn/resource_type_reference/oseelblistener.html;
  /usermanual/rts/rts_02_0054.html /resource-template-service/umn/resource_type_reference/osheatsoftwarecomponent.html;
  /usermanual/rts/rts_02_0082.html /resource-template-service/umn/resource_type_reference/oseelbmember.html;
  /usermanual/rts/rts_02_0066.html /resource-template-service/umn/resource_type_reference/osneutronport.html;
  /usermanual/rts/rts_02_0093.html /resource-template-service/umn/resource_type_reference/osesfsshareaccessrule.html;
  /usermanual/rts/rts_02_0048.html /resource-template-service/umn/resource_type_reference/osheatautoscalinggroup.html;
  /usermanual/rts/rts_02_0070.html /resource-template-service/umn/resource_type_reference/osneutronsecuritygroup.html;
  /usermanual/rts/rts_02_0067.html /resource-template-service/umn/resource_type_reference/osneutronrouter.html;
  /usermanual/rts/rts_02_0075.html /resource-template-service/umn/resource_type_reference/oseasscalingconfig.html;
  /usermanual/rts/rts_02_0074.html /resource-template-service/umn/resource_type_reference/osnovaservergroup.html;
  /usermanual/rts/rts_02_0089.html /resource-template-service/umn/resource_type_reference/oserdsinstance.html;
  /usermanual/rts/rts_02_0046.html /resource-template-service/umn/resource_type_reference/oscindervolume.html;
  /usermanual/rts/rts_02_0087.html /resource-template-service/umn/resource_type_reference/osneutronlbaaspool.html;
  /usermanual/rts/rts_02_0072.html /resource-template-service/umn/resource_type_reference/osnovakeypair.html;
  /usermanual/rts/rts_02_0073.html /resource-template-service/umn/resource_type_reference/osnovaserver.html;
  /usermanual/rts/rts_02_0049.html /resource-template-service/umn/resource_type_reference/osheatcloudconfig.html;
  /usermanual/rts/rts_02_0086.html /resource-template-service/umn/resource_type_reference/osneutronlbaasloadbalancer.html;
  /usermanual/rts/rts_02_0050.html /resource-template-service/umn/resource_type_reference/osheatmultipartmime.html;
  /usermanual/rts/rts_02_0052.html /resource-template-service/umn/resource_type_reference/osheatresourcegroup.html;
  /usermanual/rts/rts_02_0091.html /resource-template-service/umn/resource_type_reference/osevpcsubnet.html;
  /usermanual/rts/rts_02_0047.html /resource-template-service/umn/resource_type_reference/oscindervolumeattachment.html;
  /usermanual/rts/rts_02_0053.html /resource-template-service/umn/resource_type_reference/osheatscalingpolicy.html;
  /usermanual/rts/rts_02_0081.html /resource-template-service/umn/resource_type_reference/oseelbhealthcheck.html;
  /usermanual/rts/rts_02_0071.html /resource-template-service/umn/resource_type_reference/osneutronsubnet.html;
  /usermanual/rts/rts_02_0084.html /resource-template-service/umn/resource_type_reference/osneutronlbaashealthmonitor.html;
  /usermanual/rts/rts_02_0083.html /resource-template-service/umn/resource_type_reference/oseelbcertificate.html;
  /usermanual/rts/rts_02_0092.html /resource-template-service/umn/resource_type_reference/osesfsshare.html;
  /usermanual/rts/rts_02_0076.html /resource-template-service/umn/resource_type_reference/oseasscalinggroup.html;
  /usermanual/rts/rts_02_0085.html /resource-template-service/umn/resource_type_reference/osneutronlbaaslistener.html;
  /usermanual/rts/rts_02_0078.html /resource-template-service/umn/resource_type_reference/osecesalarm.html;
  /usermanual/rts/en-us_topic_0110305013.html /resource-template-service/umn/auditing/index.html;
  /usermanual/rts/en-us_topic_0110305015.html /resource-template-service/umn/auditing/viewing_cts_traces.html;
  /usermanual/rts/en-us_topic_0110305014.html /resource-template-service/umn/auditing/key_operations_recorded_by_cts.html;
  /usermanual/rts/rts_faq_0003.html /resource-template-service/umn/faq/whats_the_reason_for_the_failure_to_delete_the_stack.html;
  /usermanual/rts/en-us_topic_0078604095.html /resource-template-service/umn/faq/index.html;
  /usermanual/rts/rts_faq_0004.html /resource-template-service/umn/faq/how_to_obtain_the_flavor_value_of_resource_oserdsinstance.html;
  /usermanual/rts/rts_faq_0002.html /resource-template-service/umn/faq/how_are_router_resources_in_the_native_openstack_mapped_to_vpc_resources_on_the_network_console.html;
}
