apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

configMapGenerator:
  - name: cpn-vault-config
    files:
      - vault-agent.hcl

images:
  - name: "quay.io/opentelekomcloud/circle-partner-navigator-backend"
    newTag: "change_11_latest"
  - name: "quay.io/opentelekomcloud/circle-partner-navigator-frontend"
    newTag: "change_11_latest"