[DEFAULT]
bind_ip = {{ swift_replication_ip }}
bind_port = {{ swift_object_server_port }}
workers = 2
log_statsd_host = {{ swift_statsd_host }}
log_statsd_port = 8125
log_statsd_default_sample_rate = 1.0
log_statsd_sample_rate_factor = 1.0
log_statsd_metric_prefix = swift.{{ inventory_hostname.split('.', 1)[0] }}

[pipeline:main]
pipeline = object-server

[app:object-server]
use = egg:swift#object
replication_server = True

[object-replicator]
