common_userdata: |
  #cloud-config
  disk_setup:
    /dev/vdb:
      table_type: 'mbr'
      layout:
        - 100
    /dev/vdc:
      table_type: 'mbr'
      layout:
        - 100
  fs_setup:
    - label: var
      filesystem: ext4
      device: '/dev/vdb1'
    - label: home
      filesystem: ext4
      device: '/dev/vdc1'
  mounts:
    - [ "LABEL=home", "/home", "auto", "defaults", "0", "2" ]
  groups:
    - automation
  users:
    - default
    - name: automation
      primary_group: automation
      ssh_authorized_keys:
        - "{{ bastion_public_key }}"
      sudo: ALL=(ALL) NOPASSWD:ALL
  runcmd:
    - mkdir /mnt/vdb && mount /dev/vdb1 /mnt/vdb
    - cp -a /var/* /mnt/vdb/
    - umount /mnt/vdb && rmdir /mnt/vdb
    - echo "LABEL=var   /var   auto   defaults,comment=cloudconfig  0 2" >> /etc/fstab
    - mount /var
database_users:
  domain2_apimon_apimon_apimon:
    dba: domain2_apimon
    username: apimon
    db: apimon
    priv: ALL
    comment: APImon user
  domain2_infra_matrix_matrix:
    dba: domain2_infra
    username: synapse
    db: synapse
    priv: ALL
    comment: Matrix user
  domain2_infra_maubot_maubot:
    dba: domain2_infra
    username: maubot
    db: maubot
    priv: ALL
    comment: Maubot user
  domain2_database_grafana-eco_grafana-eco:
    dba: domain2_database
    username: grafana-eco
    db: grafana-eco
    priv: ALL
    comment: Grafana-eco user
  domain2_gitea_gitea_gitea:
    dba: domain2_gitea
    username: gitea
    db: gitea
    priv: ALL
    comment: Gitea user
haproxy_image_stable: quay.io/opentelekomcloud/haproxy:2.5.5-alpine
haproxy_image_latest: quay.io/opentelekomcloud/haproxy:2.5.5-alpine
alerta_image_stable: quay.io/opentelekomcloud/alerta:9.0.4
alerta_image_latest: quay.io/opentelekomcloud/alerta:9.0.4
statsd_image_stable: quay.io/opentelekomcloud/statsd:v0.9.0
statsd_image_latest: quay.io/opentelekomcloud/statsd:v0.9.0
carbonapi_image_stable: quay.io/opentelekomcloud/carbonapi:v0.15.4
carbonapi_image_latest: quay.io/opentelekomcloud/carbonapi:v0.15.4
promtail_image_stable: quay.io/opentelekomcloud/promtail:2.7.0
promtail_image_latest: quay.io/opentelekomcloud/promtail:2.7.0
graphite_image_stable: quay.io/opentelekomcloud/graphite-statsd:latest
graphite_image_latest: quay.io/opentelekomcloud/graphite-statsd:latest
grafana_image_stable: quay.io/opentelekomcloud/grafana:10.1.0
grafana_image_latest: quay.io/opentelekomcloud/grafana:10.1.0
grafana_renderer_image_stable: quay.io/opentelekomcloud/grafana-image-renderer:3.7.1
grafana_renderer_image_latest: quay.io/opentelekomcloud/grafana-image-renderer:3.7.1
apimon_image_stable: quay.io/stackmon/apimon:change_65_latest
apimon_image_latest: quay.io/stackmon/apimon:change_51_latest
cloudmon_metrics_image: quay.io/opentelekomcloud/cloudmon-metrics:change_4_latest
cloudmon_plugin_smtp_image: quay.io/opentelekomcloud/cloudmon-plugin-smtp:change_6_latest
cloudmon_plugin_smtp_init_image: quay.io/opentelekomcloud/cloudmon-plugin-smtp-init:change_6_latest
cloudmon_plugin_loadbalancer_image: quay.io/opentelekomcloud/cloudmon-plugin-loadbalancer:change_4_latest
cloudmon_plugin_loadbalancer_init_image: quay.io/opentelekomcloud/cloudmon-plugin-loadbalancer-init:change_4_latest
memcached_image_stable: quay.io/opentelekomcloud/memcached:1.6.10-alpine
memcached_image_latest: quay.io/opentelekomcloud/memcached:1.6.10-alpine
matrix_image_stable: quay.io/opentelekomcloud/synapse:v1.70.0
matrix_image_latest: quay.io/opentelekomcloud/synapse:v1.70.0
maubot_image_stable: dock.mau.dev/maubot/maubot:latest
maubot_image_latest: dock.mau.dev/maubot/maubot:latest
octavia_proxy_image_stable: quay.io/opentelekomcloud/octavia-proxy:change_111_latest
octavia_proxy_image_latest: quay.io/opentelekomcloud/octavia-proxy:change_111_latest
document_hosting_image_stable: quay.io/opentelekomcloud/nginx-unprivileged:1.21.6-alpine
document_hosting_image_latest: quay.io/opentelekomcloud/nginx-unprivileged:1.21.6-alpine
telegraf_image_stable: quay.io/opentelekomcloud/telegraf:1.24.4-alpine
telegraf_image_latest: quay.io/opentelekomcloud/telegraf:1.24.4-alpine
vault_image_stable: quay.io/opentelekomcloud/vault:change_668_latest
vault_image_latest: quay.io/opentelekomcloud/vault:change_668_latest
influxdb_image_stable: quay.io/opentelekomcloud/influxdb:2.1.1
keycloak_image_stable: quay.io/keycloak/keycloak:26.2.5
keycloak_image_latest: quay.io/keycloak/keycloak:26.2.5
keycloak_postgres_image_stable: quay.io/opentelekomcloud/postgres:15.12
keycloak_postgres_image_latest: quay.io/opentelekomcloud/postgres:15.12
go_neb_image_stable: quay.io/opentelekomcloud/go-neb:master-2022-04-13
go_neb_image_latest: quay.io/opentelekomcloud/go-neb:master-2022-04-13
