ansible_roles:
  - cloud-launcher

cloud_projects:
  # Zuul projects
  - name: "eu-de_zuul_acc"
    cloud: "otc-tests-admin"
  - name: "eu-de_zuul_otce"
    cloud: "otc-tests-admin"
  - name: "eu-de_zuul_go"
    cloud: "otc-tests-admin"
  - name: "eu-de_zuul_rancher"
    cloud: "otc-tests-admin"
  - name: "eu-de_zuul_tf"
    cloud: "otc-tests-admin"
  # Infra projects
  - name: "eu-de_apimon"
    cloud: "otcinfra-domain2-admin"
  - name: "eu-de_apimon2"
    cloud: "otcinfra-domain2-admin"
  - name: "eu-de_eco_infra"
    cloud: "otcinfra-domain3-admin"
    domain: "{{ clouds.otcinfra_domain3_admin.auth.domain_id }}"
    parent_project: "eu-de"
    description: "Infrastructure of the Ecosystem Squad"
  - name: "eu-nl_eco_infra"
    cloud: "otcinfra-domain3-admin"
    parent_project: "eu-nl"
    domain: "{{ clouds.otcinfra_domain3_admin.auth.domain_id }}"
    description: "Infrastructure of the Ecosystem Squad"
  - name: "eu-de_eco_infra"
    cloud: "otcinfra-domain2-admin"
    domain: "{{ clouds.otcinfra_domain2_admin.auth.domain_id }}"
    parent_project: "eu-de"
    description: "Infrastructure of the Ecosystem Squad"
  - name: "eu-de_database"
    cloud: "otcinfra-domain2-admin"
    domain: "{{ clouds.otcinfra_domain2_admin.auth.domain_id }}"
    parent_project: "eu-de"
    description: "Database cluster project"
  # APImon projects
  - name: "eu-de_apimon_probes1"
    cloud: "otc-tests-admin"
  - name: "eu-de_apimon_probes2"
    cloud: "otc-tests-admin"
  - name: "eu-de_apimon_probes3"
    cloud: "otc-tests-admin"
  - name: "eu-de_apimon_probes4"
    cloud: "otc-tests-admin"
  - name: "eu-nl_apimon_probes1"
    cloud: "otc-tests-admin"
  - name: "eu-nl_apimon_probes2"
    cloud: "otc-tests-admin"
  - name: "eu-nl_apimon_probes3"
    cloud: "otc-tests-admin"
  - name: "eu-nl_apimon_probes4"
    cloud: "otc-tests-admin"

cloud_user_groups:
  # Infra group
  - name: "eco_infra"
    cloud: "otcinfra-domain2-admin"
  - name: "eco_infra"
    cloud: "otcinfra-domain3-admin"
  # Zuul groups
  - name: "zuul_functional"
    cloud: "otc-tests-admin"
  - name: "zuul_acc"
    cloud: "otc-tests-admin"
  - name: "zuul_otce"
    cloud: "otc-tests-admin"
  - name: "zuul_go"
    cloud: "otc-tests-admin"
  - name: "zuul_rancher"
    cloud: "otc-tests-admin"
  - name: "zuul_tf"
    cloud: "otc-tests-admin"
  # APImon groups
  - name: "apimon"
    cloud: "otc-tests-admin"
  - name: "apimon"
    cloud: "otcinfra-domain3-admin"

cloud_user_group_assignments:
  # Infra
  - cloud: "otcinfra-domain2-admin"
    group: "eco_infra"
    users:
      - "{{ clouds.otcinfra_domain2.auth.username }}"
  - cloud: "otcinfra-domain3-admin"
    group: "eco_infra"
    users:
      - "{{ clouds.otcinfra_domain3.auth.username }}"
  - cloud: "otcinfra-domain2-admin"
    group: "apimon"
    users:
      - "apimon"
  # Zuul group user mapping
  - cloud: "otc-tests-admin"
    group: "zuul_functional"
    users:
      - "zuul_functional"
      - "zuul_rancher"
  # APImon group user mapiing
  - cloud: "otc-tests-admin"
    group: "apimon"
    users:
      - "apimon_probes1"
      - "apimon_probes2"
      - "apimon_probes3"
      - "apimon_probes4"
      - "apimon_probes5"
      - "apimon_probes6"
      - "apimon_probes7"
      - "apimon_probes8"

cloud_role_assignments:
  # Infra
  # domain2 group/role/projects
  - cloud: "otcinfra-domain2-admin"
    role: "te_admin"
    projects:
      - "eu-de_eco_infra"
      - "eu-de_database"
    groups:
      - "eco_infra"
  - cloud: "otcinfra-domain2-admin"
    role: "server_adm"
    projects:
      - "eu-de_eco_infra"
      - "eu-de_database"
    groups:
      - "eco_infra"
  # domain3 group/role/projects
  - cloud: "otcinfra-domain3-admin"
    role: "te_admin"
    projects:
      - "eu-de_eco_infra"
      - "eu-nl_eco_infra"
    groups:
      - "eco_infra"
  - cloud: "otcinfra-domain3-admin"
    role: "server_adm"
    projects:
      - "eu-de_eco_infra"
      - "eu-nl_eco_infra"
    groups:
      - "eco_infra"
  # apimon infra
  - cloud: "otcinfra-domain2-admin"
    role: "te_admin"
    projects:
      - "eu-de_apimon"
      - "eu-de_apimon2"
    groups:
      - "apimon"
  - cloud: "otcinfra-domain2-admin"
    role: "server_adm"
    projects:
      - "eu-de_apimon"
      - "eu-de_apimon2"
    groups:
      - "apimon"
  # Zuul role assignments
  - cloud: "otc-tests-admin"
    role: "te_admin"
    projects:
      - "eu-de_zuul_acc"
      - "eu-de_zuul_otce"
      - "eu-de_zuul_go"
      - "eu-de_zuul_rancher"
      - "eu-de_zuul_tf"
    groups:
      - "zuul_functional"
  # APImon role assignments
  - cloud: "otc-tests-admin"
    role: "server_adm"
    projects:
      - "eu-de_apimon_probes1"
      - "eu-de_apimon_probes2"
      - "eu-de_apimon_probes3"
      - "eu-de_apimon_probes4"
      - "eu-nl_apimon_probes1"
      - "eu-nl_apimon_probes2"
      - "eu-nl_apimon_probes3"
      - "eu-nl_apimon_probes4"
    groups:
      - "apimon"
  - cloud: "otc-tests-admin"
    role: "te_admin"
    projects:
      - "eu-de_apimon_probes1"
      - "eu-de_apimon_probes2"
      - "eu-de_apimon_probes3"
      - "eu-de_apimon_probes4"
      - "eu-nl_apimon_probes1"
      - "eu-nl_apimon_probes2"
      - "eu-nl_apimon_probes3"
      - "eu-nl_apimon_probes4"
    groups:
      - "apimon"

cloud_nets:
  # main infra
  # domain2
  - cloud: "otcinfra-domain2-infra-de"
    router: "eco-infra"
    nets:
      - name: "infra-net"
        subnets:
          - name: "infra-subnet"
            cidr: "192.168.170.0/24"
            dns_nameservers: ['100.125.4.25', '8.8.8.8']
  # domain3
  - cloud: "otcinfra-domain3-infra-de"
    router: "apimon-infra"
    # enable_snat: true
    nets:
      - name: "apimon-infra-net"
        subnets:
          - name: "apimon-infra-subnet"
            cidr: "192.168.150.0/24"
            dns_nameservers: ['100.125.4.25', '8.8.4.4']
  - cloud: "otcinfra-domain3-infra-nl"
    router: "apimon-infra"
    # enable_snat: true
    nets:
      - name: "apimon-infra-net"
        subnets:
          - name: "apimon-infra-subnet"
            cidr: "192.168.151.0/24"
            dns_nameservers: ['100.125.4.25', '8.8.4.4']
  # apimon infra
  - cloud: "otcapimon-pool2"
    router: "apimon-infra"
    # enable_snat: true
    nets:
      - name: "apimon-infra-net"
        subnets:
          - name: "apimon-infra-subnet"
            cidr: "192.168.111.0/24"
            dns_nameservers: ['100.125.4.25', '8.8.4.4']

cloud_nat_gws:
  # main infra
  # # domain2
  - cloud: "otcinfra-domain2-infra-de"
    name: "otcinfra"
    description: "main NAT GW for the infra"
    router: "eco-infra"
    internal_network: "infra-net"
    spec: 1
  # domain3
  - cloud: "otcinfra-domain3-infra-de"
    name: "otcinfra"
    description: "main NAT GW for the infra"
    router: "apimon-infra"
    internal_network: "apimon-infra-net"
    spec: 1
  - cloud: "otcinfra-domain3-infra-nl"
    router: "apimon-infra"
    name: "otcinfra"
    description: "main NAT GW for the infra"
    internal_network: "apimon-infra-net"
    spec: 1
  # apimon infra
  - cloud: "otcapimon-pool2"
    name: "apimoninfra"
    description: "main NAT GW for the APImon infra"
    router: "apimon-infra"
    internal_network: "apimon-infra-net"
    spec: 1

cloud_peerings:
  #  - cloud: "otcapimon-pool1"
  #    name: "apimon_pool1-apimon_pool2"
  #    # how the heck should this be automated?
  #    local_router: "dashboard-otc-vpc-router"
  #    local_project: "{{ clouds.otcapimon_pool1.auth.project_name }}"
  #    remote_cloud: "otcapimon-pool2"
  #    remote_router: "apimon-infra"
  #    remote_project: "{{ clouds.otcapimon_pool2.auth.project_name }}"
  #
  - cloud: "otcinfra-domain2-database"
    name: "database-apimon_pool2"
    local_router: "database_router"
    local_project: "eu-de_database"
    local_cidr: "192.168.14.0/24"
    remote_cloud: "otcapimon-pool2"
    remote_router: "apimon-infra"
    remote_project: "{{ clouds.otcapimon_pool2.auth.project_name }}"
    remote_cidr: "192.168.111.0/24"
  - cloud: "otcinfra-domain2-database"
    name: "database-domain2_infra_de"
    local_router: "database_router"
    local_project: "eu-de_database"
    local_cidr: "192.168.14.0/24"
    remote_cloud: "otcinfra-domain2-infra-de"
    remote_router: "eco-infra"
    remote_project: "eu-de_eco_infra"
    remote_cidr: "192.168.111.0/24"
  - cloud: "otcinfra-domain2-infra-de"
    name: "bridge-domain2_infra_de"
    local_router: "eco-infra"
    local_project: "eu-de_eco_infra"
    local_cidr: "192.168.170.0/24"
    remote_cloud: "otcapimon-pool1"
    remote_router: "dashboard-otc-vpc-router"
    remote_project: "eu-de_apimon"
    remote_cidr: "192.168.110.0/24"


common_sg: &common_sg
  name: "common_sg"
  description: "Common security group"
  rules:
    - protocol: "icmp"
      port_range_min: -1
      port_range_max: -1
      remote_ip_prefix: "192.168.0.0/16"
    - protocol: "tcp"
      port_range_min: 22
      port_range_max: 22
      remote_ip_prefix: "192.168.0.0/16"

graphite_sg: &graphite_sg
  name: "graphite_sg"
  description: "Graphite security group"
  rules:
    - protocol: "icmp"
      port_range_min: -1
      port_range_max: -1
      remote_ip_prefix: "192.168.0.0/16"
      description: "ping"
    - protocol: "tcp"
      port_range_min: 80
      port_range_max: 80
      remote_ip_prefix: "0.0.0.0/0"
      description: "http"
    - protocol: "tcp"
      port_range_min: 443
      port_range_max: 443
      remote_ip_prefix: "0.0.0.0/0"
      description: "https"
    - protocol: "tcp"
      port_range_min: 2003
      port_range_max: 2003
      remote_ip_prefix: "192.168.0.0/16"
      description: "carbon plain"
    - protocol: "tcp"
      port_range_min: 2004
      port_range_max: 2004
      remote_ip_prefix: "192.168.0.0/16"
      description: "carbon pickle"
    - protocol: "tcp"
      port_range_min: 2013
      port_range_max: 2013
      remote_ip_prefix: "192.168.0.0/16"
      description: "carbon relay plain"
    - protocol: "tcp"
      port_range_min: 2014
      port_range_max: 2014
      remote_ip_prefix: "192.168.0.0/16"
      description: "carbon relay pickle"
    - protocol: "tcp"
      port_range_min: 8080
      port_range_max: 8080
      remote_ip_prefix: "192.168.0.0/16"
      description: "web clustering"
    - protocol: "tcp"
      port_range_min: 8081
      port_range_max: 8081
      remote_ip_prefix: "192.168.0.0/16"
      description: "carbonserver"
    - protocol: "tcp"
      port_range_min: 8082
      port_range_max: 8082
      remote_ip_prefix: "192.168.0.0/16"
      description: "carbonapi"
    - protocol: "tcp"
      port_range_min: 8125
      port_range_max: 8125
      remote_ip_prefix: "192.168.0.0/16"
      description: "statsd TCP"
    - protocol: "udp"
      port_range_min: 8125
      port_range_max: 8125
      remote_ip_prefix: "192.168.0.0/16"
      description: "statsd UDP"

pg_sg: &pg_sg
  name: "pg_sg"
  description: "Postgres security group"
  rules:
    - protocol: "icmp"
      port_range_min: -1
      port_range_max: -1
      remote_ip_prefix: "192.168.0.0/16"
      description: "ping"
    - protocol: "tcp"
      port_range_min: 5432
      port_range_max: 5432
      remote_ip_prefix: "192.168.0.0/16"
      description: "pg"

cloud_security_groups:
  - cloud: "otcinfra-domain2-database"
    <<: *common_sg
  - cloud: "otcinfra-domain2-database"
    <<: *graphite_sg
  - cloud: "otcinfra-domain2-infra-de"
    <<: *pg_sg
  - cloud: "otcinfra-domain3-infra-nl"
    <<: *common_sg
  - cloud: "otcinfra-domain3-infra-nl"
    <<: *graphite_sg
  - cloud: "otcapimon-pool1"
    <<: *pg_sg

cloud_load_balancers:
  - cloud: "otc-swift"
    loadbalancer:
      name: "elb-swift"
      vip_subnet: "external_subnet"
      vip_address: "192.168.81.211"
      public_ip_address: "80.158.44.22"
      listeners:
        - name: "listener-https"
          protocol: "terminated_https"
          protocol_port: 443
          ssl_cert: "cert-swift"
          tls_ciphers_policy: "tls-1-2-strict"
      pools:
        - name: "server_group-8080"
          listener: "listener-https"
          description: "Main HTTP traffic"
          lb_algorithm: "round_robin"
          protocol: "http"
      members:
        - name: "proxy_01"
          address: "192.168.80.190"
          pool: "server_group-8080"
          subnet: "management_subnet"
          protocol_port: 8080
        - name: "proxy_02"
          address: "192.168.80.129"
          pool: "server_group-8080"
          subnet: "management_subnet"
          protocol_port: 8080
        - name: "proxy_03"
          address: "192.168.80.15"
          pool: "server_group-8080"
          subnet: "management_subnet"
          protocol_port: 8080

cloud_load_balancer_certificates:
  - cloud: "otc-swift"
    name: "cert-swift"
    domain: "swift.eco.tsi-dev.otc-service.com"
    type: "server"
    ssl_cert: "swift-eco"

cloud_rds:
  - cloud: "otcinfra-domain2-infra-de"
    az: "eu-de-01,eu-de-03"
    datastore_type: "postgresql"
    datastore_version: "12"
    flavor: "rds.pg.c2.xlarge.ha"
    ha_mode: "async"
    name: "domain2-infra"
    network: "infra-net"
    port: 5432
    region: "eu-de"
    router: "eco-infra"
    security_group: "pg_sg"
    volume_type: "ultrahigh"
    volume_size: 100
    dba: "domain2_infra"
  - cloud: "otcapimon-pool1"
    az: "eu-de-01,eu-de-03"
    datastore_type: "postgresql"
    datastore_version: "11.5"
    flavor: "rds.pg.c2.xlarge.ha"
    ha_mode: "async"
    name: "domain2-apimon"
    network: "dashboard-otc-net"
    port: 5432
    region: "eu-de"
    router: "dashboard-otc-vpc-router"
    security_group: "pg_sg"
    volume_type: "ultrahigh"
    volume_size: 40
    dba: "domain2_apimon"

cloud_cce:
  - cloud: "otcinfra-domain2-infra-de"
    name: "eco-infra"
    flavor: "cce.s2.small"
    router: "eco-infra"
    network: "infra-net"
    network_mode: "overlay_l2"
    nodes:
      - name: "eco-infra-01"
        flavor: "s3.xlarge.4"
        az: "eu-de-01"
        os: "CentOS 7.7"
      - name: "eco-infra-02"
        flavor: "s3.xlarge.4"
        az: "eu-de-02"
        os: "CentOS 7.7"
      - name: "eco-infra-03"
        flavor: "s3.xlarge.4"
        az: "eu-de-03"
        os: "CentOS 7.7"
