# Grafana instances (clusters)
grafana_instances:
  ## Main dashboard
  dashboard:
    fqdn: "dashboard.tsi-dev.otc-service.com"
    grafana_cert: "grafana"
    grafana_enable_renderer: true
    grafana_grafana_host: "grafana"
    grafana_image: "{{ grafana_image_stable }}"
    grafana_plugins: ["simpod-json-datasource"]
    grafana_renderer_host: "renderer"
    grafana_renderer_image: "{{ grafana_renderer_image_stable }}"
    grafana_url: "https://dashboard.tsi-dev.otc-service.com"
    grafana_users_login_hint: "OTC LDAP account"
    grafana_users_password_hint: "OTC LDAP password"
    vault_image: "{{ vault_image_stable }}"

  # Staging env
  dashboard_stg:
    cluster_issuer: "letsencrypt-staging"
    fqdn: "dashboard.infra2.eco.tsi-dev.otc-service.com"
    grafana_enable_renderer: true
    grafana_grafana_host: "grafana"
    grafana_image: "{{ grafana_image_latest }}"
    grafana_plugins: [ ]
    grafana_renderer_host: "renderer"
    grafana_renderer_image: "{{ grafana_renderer_image_stable }}"
    grafana_url: "https://dashboard.infra2.eco.tsi-dev.otc-service.com"
    grafana_users_login_hint: "OTC LDAP account"
    grafana_users_password_hint: "OTC LDAP password"
    vault_image: "{{ vault_image_stable }}"
    metrics_enabled: "false"

  # Infra dashboard
  dashboard_infra:
    fqdn: "dashboard.eco.tsi-dev.otc-service.com"
    grafana_cert: "grafana-eco"
    grafana_enable_renderer: true
    grafana_grafana_host: "grafana"
    grafana_image: "{{ grafana_image_stable }}"
    grafana_plugins:
      - "grafana-github-datasource"
    grafana_renderer_host: "renderer"
    grafana_renderer_image: "{{ grafana_renderer_image_stable }}"
    grafana_url: "https://dashboard.eco.tsi-dev.otc-service.com"
    grafana_users_login_hint: "Username"
    grafana_users_password_hint: "Password"
    vault_image: "{{ vault_image_stable }}"

# Extra vars for k8 deployment
grafana_k8s_extra_vars:
  grafana_deployment_count: 2
  grafana_deployment_resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 100Mi
  renderer_deployment_resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 100Mi

# Grafana map of instances to K8 installations
grafana_k8s_instances:
  # Main grafana in main cluster
  - grafana_instance: "dashboard"
    instance: "prod"
    context: "otcinfra"
    namespace: "apimon"
    extra_vars: "{{ grafana_k8s_extra_vars }}"
  # Main grafana in otcinfra2 cluster
  - grafana_instance: "dashboard"
    instance: "prod2"
    context: "otcinfra2"
    namespace: "apimon"
    extra_vars: "{{ grafana_k8s_extra_vars }}"
  # Stg grafana in stg cluster
  - grafana_instance: "dashboard_stg"
    instance: "stg"
    context: "otcinfra2"
    namespace: "apimon-stg"
    extra_vars: "{{ grafana_k8s_extra_vars }}"
  # Infra grafana in main cluster
  - grafana_instance: "dashboard_infra"
    instance: "prod-eco"
    context: "otcinfra"
    namespace: "grafana-eco"
    extra_vars: "{{ grafana_k8s_extra_vars }}"
