graphite_web_instances:
  apimon:
    domain_name: "graphite.apimon.eco.tsi-dev.otc-service.com"
    graphite_cert: "graphite-apimon"
    cluster_servers:
      - 'http://192.168.191.55:8080'
      - 'http://192.168.14.159:8080'
      - 'http://192.168.151.11:8080'
    memcache_host:
      - '192.168.191.55:11211'
      - '192.168.14.159:11211'
      - '192.168.151.11:11211'

graphite_web_k8s_instances:
  - graphite_web_instance: "apimon"
    context: "otcinfra"
    instance: "apimon"
    namespace: "graphite"
  - graphite_web_instance: "apimon"
    context: "otcinfra-mirror"
    instance: "apimon"
    namespace: "graphite"

document_hosting_instances:
  stg:
    server_name: "docs.apps.osinfra-stg.eco.tsi-dev.otc-service.com"
    not_found: "The page you are requesting is not available..."
    image: "quay.io/opentelekomcloud/nginx-unprivileged:1.21-alpine"
    cluster_issuer: "letsencrypt-staging"
  main:
    server_name: "docs.otc-service.com"
    not_found: "The page you are requesting is not available..."
    image: "quay.io/opentelekomcloud/nginx-unprivileged:1.21-alpine"
    cert: "docs"

document_hosting_k8s_instances:
  - document_hosting_instance: "stg"
    context: "otcinfra-stg"
    instance: "stg"
    namespace: "document-hosting"
  - document_hosting_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "docs"

carbonapi_k8s_instances:
  - carbonapi_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "graphite"
  - carbonapi_instance: "main"
    context: "otcinfra-mirror"
    instance: "main"
    namespace: "graphite"

matrix_k8s_instances:
  - matrix_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "matrix"

maubot_k8s_instances:
  - maubot_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "matrix"

helm_chart_instances:
  otcinfra-stg_cert-manager:
    context: otcinfra-stg
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcapimon1_cert-manager:
    context: otcapimon1
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcci_cert-manager:
    context: otcci
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcinfra_cert-manager:
    context: otcinfra
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcinfra-mirror_cert-manager:
    context: otcinfra-mirror
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcinfra_nginx-ingress:
    context: otcinfra
    repo_url: https://kubernetes.github.io/ingress-nginx
    repo_name: ingress-nginx
    name: ingress-nginx
    ref: ingress-nginx/ingress-nginx
    version: 3.34.0
    namespace: default
    values_template: "templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2"
  otcci_nginx-ingress:
    context: otcci
    repo_url: https://kubernetes.github.io/ingress-nginx
    repo_name: ingress-nginx
    name: ingress-nginx
    ref: ingress-nginx/ingress-nginx
    version: 3.34.0
    namespace: default
    values_template: "templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2"
  otcinfra_promtail:
    context: otcinfra
    repo_url: https://grafana.github.io/helm-charts
    repo_name: grafana
    name: promtail
    ref: grafana/promtail
    version: 3.8.1
    namespace: promtail
    values_template: "templates/charts/promtail/promtail-values.yaml.j2"

octavia_proxy_instances:
  eu-nl:
    fqdn: "octavia-nl.eco.tsi-dev.otc-service.com"
    image: "quay.io/opentelekomcloud/octavia-proxy:change_33_latest"
    cert: "octavia_nl"
    region_name: "eu-nl"
    enabled_drivers:
      - driver: "elbv3"
        description: "The Open Telekom Cloud Dedicated LB driver"
    default_provider_driver: "elbv3"
  eu-de:
    fqdn: "octavia-de.eco.tsi-dev.otc-service.com"
    image: "quay.io/opentelekomcloud/octavia-proxy:change_33_latest"
    cert: "octavia_de"
    region_name: "eu-de"
    enabled_drivers:
      - driver: "elbv2"
        description: "The Open Telekom Cloud Shared LB driver"
    default_provider_driver: "elbv2"

octavia_proxy_k8s_instances:
  - octavia_proxy_instance: "eu-de"
    context: "otcinfra"
    instance: "eu-de"
    namespace: "octavia"
  - octavia_proxy_instance: "eu-nl"
    context: "otcinfra"
    instance: "eu-nl"
    namespace: "octavia"
