graphite_web_instances:
  apimon:
    domain_name: "graphite.apimon.eco.tsi-dev.otc-service.com"
    graphite_cert: "graphite-apimon"
    cluster_servers:
      - 'http://192.168.191.55:8080'
      - 'http://192.168.14.159:8080'
      - 'http://192.168.151.11:8080'
    memcache_host:
      - '192.168.191.55:11211'
      - '192.168.14.159:11211'
      - '192.168.151.11:11211'

graphite_web_k8s_instances:
  - graphite_web_instance: "apimon"
    context: "otcinfra"
    instance: "apimon"
    namespace: "graphite"
  - graphite_web_instance: "apimon"
    context: "otcinfra-mirror"
    instance: "apimon"
    namespace: "graphite"

document_hosting_instances:
  stg:
    server_name: "docs.apps.osinfra-stg.eco.tsi-dev.otc-service.com"
    not_found: "The page you are requesting is not available..."
    image: "{{ document_hosting_image_latest }}"
    cluster_issuer: "letsencrypt-staging"
    nginx_template: "templates/docs_hosting/nginx-public.conf.j2"
  main:
    server_name: "docs.otc-service.com"
    not_found: "The page you are requesting is not available..."
    image: "{{ document_hosting_image_stable }}"
    cert: "docs"
    nginx_template: "templates/docs_hosting/nginx-public.conf.j2"
  int:
    server_name: "docs-int.otc-service.com"
    not_found: "The page you are requesting is not available..."
    image: "{{ document_hosting_image_stable }}"
    cert: "docs-int"
    nginx_template: "templates/docs_hosting/nginx-internal.conf.j2"
    ingress_class: "ingress-intern"

document_hosting_k8s_instances:
  - document_hosting_instance: "stg"
    context: "otcinfra-stg"
    instance: "stg"
    namespace: "document-hosting"
  - document_hosting_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "docs"
  - document_hosting_instance: "int"
    context: "otcinfra"
    instance: "int"
    namespace: "docs"

carbonapi_k8s_instances:
  - carbonapi_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "graphite"
  - carbonapi_instance: "main"
    context: "otcinfra-mirror"
    instance: "main"
    namespace: "graphite"

matrix_k8s_instances:
  - matrix_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "matrix"

maubot_k8s_instances:
  - maubot_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "matrix"

helm_chart_instances:
  otcinfra-stg_cert-manager:
    context: otcinfra-stg
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcapimon1_cert-manager:
    context: otcapimon1
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcci_cert-manager:
    context: otcci
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcinfra_cert-manager:
    context: otcinfra
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcinfra-mirror_cert-manager:
    context: otcinfra-mirror
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
  otcinfra_nginx-ingress:
    context: otcinfra
    repo_url: https://kubernetes.github.io/ingress-nginx
    repo_name: ingress-nginx
    name: ingress-nginx
    ref: ingress-nginx/ingress-nginx
    version: 4.0.1
    namespace: default
    values_template: "templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2"
    is_default: true
  otcinfra_nginx-ingress-intern:
    context: otcinfra
    repo_url: https://kubernetes.github.io/ingress-nginx
    repo_name: ingress-nginx
    name: ingress-intern
    ref: ingress-nginx/ingress-nginx
    version: 4.0.1
    namespace: default
    values_template: "templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2"
    class_name: "ingress-intern"
    is_default: false
  otcci_nginx-ingress:
    context: otcci
    repo_url: https://kubernetes.github.io/ingress-nginx
    repo_name: ingress-nginx
    name: ingress-nginx
    ref: ingress-nginx/ingress-nginx
    version: 4.0.1
    namespace: default
    values_template: "templates/charts/ingress-nginx/ingress-nginx-values.yaml.j2"
    is_default: true
  otcinfra_loki:
    context: otcinfra
    repo_url: https://grafana.github.io/helm-charts
    repo_name: grafana
    name: loki
    ref: grafana/loki
    version: 2.6.0
    namespace: loki
    values_template: "templates/charts/loki/loki-values.yaml.j2"
  otcinfra_promtail:
    context: otcinfra
    repo_url: https://grafana.github.io/helm-charts
    repo_name: grafana
    name: promtail
    ref: grafana/promtail
    version: 3.8.1
    namespace: promtail
    values_template: "templates/charts/promtail/promtail-values.yaml.j2"
  otcci_promtail:
    context: otcci
    repo_url: https://grafana.github.io/helm-charts
    repo_name: grafana
    name: promtail
    ref: grafana/promtail
    version: 3.8.1
    namespace: promtail
    values_template: "templates/charts/promtail/promtail-values.yaml.j2"
  otcinfra_telegraf:
    context: otcinfra
    repo_url: https://helm.influxdata.com/
    repo_name: influxdata
    name: telegraf
    ref: influxdata/telegraf-ds
    version: 1.0.22
    namespace: telegraf
    values_template: "templates/charts/telegraf/telegraf-otcinfra-values.yaml.j2"
  otcinfra_opensearch:
    context: otcinfra
    repo_url: https://opensearch-project.github.io/helm-charts/
    repo_name: opensearch
    name: opensearch
    ref: opensearch/opensearch
    version: 1.5.4
    namespace: opensearch
    values_template: "templates/charts/opensearch/opensearch-otcinfra-values.yaml.j2"
    opensearch_tls_name: "{{ opensearch_instances.otcinfra_opensearch.opensearch_tls_name }}"
    opensearch_fqdn: "{{ opensearch_instances.otcinfra_opensearch.opensearch_fqdn }}"
    opensearch_node_tls_name: "{{ opensearch_instances.otcinfra_opensearch.opensearch_node_tls_name }}"
    opensearch_node_fqdn: "{{ opensearch_instances.otcinfra_opensearch.opensearch_node_fqdn}}"
    opensearch_admin_tls_name: "{{ opensearch_instances.otcinfra_opensearch.opensearch_admin_tls_name }}"
    opensearch_admin_fqdn: "{{ opensearch_instances.otcinfra_opensearch.opensearch_admin_fqdn }}"
    opensearch_internal_users_name: "{{ opensearch_instances.otcinfra_opensearch.opensearch_internal_users_name}}"
  otcinfra_opensearch-dashboard:
    context: otcinfra
    repo_url: https://opensearch-project.github.io/helm-charts/
    repo_name: opensearch
    name: opensearch-dashboards
    ref: opensearch/opensearch-dashboards
    version: 1.1.1
    namespace: opensearch
    values_template: "templates/charts/opensearch/opensearch-dashboard-otcinfra-values.yaml.j2"
    opensearch_dashboard_tls_name: "{{ opensearch_instances.otcinfra_opensearch.opensearch_dashboard_tls_name }}"
    opensearch_dashboard_fqdn: "{{ opensearch_instances.otcinfra_opensearch.opensearch_dashboard_fqdn }}"

octavia_proxy_instances:
  eu-nl:
    fqdn: "octavia-nl.eco.tsi-dev.otc-service.com"
    image: "{{ octavia_proxy_image_stable }}"
    cert: "octavia_nl"
    region_name: "eu-nl"
    enabled_drivers:
      - driver: "elbv3"
        description: "The Open Telekom Cloud Dedicated LB driver"
    default_provider_driver: "elbv3"
  eu-de:
    fqdn: "octavia-de.eco.tsi-dev.otc-service.com"
    image: "{{ octavia_proxy_image_stable }}"
    cert: "octavia_de"
    region_name: "eu-de"
    enabled_drivers:
      - driver: "elbv2"
        description: "The Open Telekom Cloud Shared LB driver"
    default_provider_driver: "elbv2"

octavia_proxy_k8s_instances:
  - octavia_proxy_instance: "eu-de"
    context: "otcinfra"
    instance: "eu-de"
    namespace: "octavia"
  - octavia_proxy_instance: "eu-nl"
    context: "otcinfra"
    instance: "eu-nl"
    namespace: "octavia"

loki_instances:
  prod:
    loki_cert: "loki"
    fqdn: "loki.eco.tsi-dev.otc-service.com"

loki_k8s_instances:
  - loki_instance: "prod"
    context: "otcinfra"
    instance: "prod"
    namespace: "loki"

opensearch_instances:
  otcinfra_opensearch:
    opensearch_cert: "opensearch"
    opensearch_tls_name: "opensearch-cert-tls"
    opensearch_fqdn: "opensearch.eco.tsi-dev.otc-service.com"
    opensearch_dashboard_cert: "opensearch-dashboard"
    opensearch_dashboard_tls_name: "opensearch-dashboard-cert-tls"
    opensearch_dashboard_fqdn: "opensearch-dashboard.eco.tsi-dev.otc-service.com"
    opensearch_node_tls_name: "opensearch-node-tls"
    opensearch_node_fqdn: "opensearch-node.eco.tsi-dev.otc-service.com"
    opensearch_admin_tls_name: "opensearch-admin-tls"
    opensearch_admin_fqdn: "opensearch-admin.eco.tsi-dev.otc-service.com"
    opensearch_internal_users_name: "opensearch-internal-users"

opensearch_k8s_instances:
  - opensearch_instance: "otcinfra_opensearch"
    context: "otcinfra"
    instance: "prod"
    namespace: "opensearch"

swift_proxy_instances:
  artifacts:
    fqdn: "artifacts.eco.tsi-dev.otc-service.com"
    ingress_class: "ingress-intern"
    cert: "artifacts"
  docs-int: {}

swift_proxy_k8s_instances:
  - sp_instance: "artifacts"
    context: "otcinfra"
    instance: "artifacts"
    namespace: "swift-proxy"
  - sp_instance: "docs-int"
    context: "otcinfra"
    instance: "docs-int"
    namespace: "swift-proxy"

zookeeper_instances:
  zuul: {}

zookeeper_k8s_instances:
  - zookeeper_instance: "zuul"
    context: "otcci"
    instance: "zuul"
    namespace: "zookeeper"
