graphite_web_instances:
  apimon:
    domain_name: "graphite.apimon.eco.tsi-dev.otc-service.com"
    graphite_cert: "graphite-apimon"
    cluster_servers:
      - 'http://192.168.191.55:8080'
      - 'http://192.168.14.159:8080'
      - 'http://192.168.151.11:8080'
    memcache_host:
      - '192.168.191.55:11211'
      - '192.168.14.159:11211'
      - '192.168.151.11:11211'

graphite_web_k8s_instances:
  - graphite_web_instance: "apimon"
    context: "otcinfra"
    instance: "apimon"
    namespace: "graphite"
  - graphite_web_instance: "apimon"
    context: "otcinfra-mirror"
    instance: "apimon"
    namespace: "graphite"

document_hosting_instances:
  stg:
    server_name: docs.apps.osinfra-stg.eco.tsi-dev.otc-service.com
    default_uri: hc2
    not_found: "The page you are requesting is not available..."
    image: quay.io/opentelekomcloud/nginx
    cluster_issuer: "letsencrypt-staging"
  main:
    server_name: "docs.otc-service.com"
    default_uri: "python-otcextensions"
    not_found: "The page you are requesting is not available..."
    image: "quay.io/opentelekomcloud/nginx"
    cert: "docs"

document_hosting_k8s_instances:
  - document_hosting_instance: "stg"
    context: "otcinfra-stg"
    instance: "stg"
    namespace: "document-hosting"
  - document_hosting_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "docs"

carbonapi_k8s_instances:
  - carbonapi_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "graphite"
  - carbonapi_instance: "main"
    context: "otcinfra-mirror"
    instance: "main"
    namespace: "graphite"

matrix_k8s_instances:
  - matrix_instance: "main"
    context: "otcinfra"
    instance: "main"
    namespace: "matrix"

helm_chart_instances:
  otcinfra-stg_cert-manager:
    context: otcinfra-stg
    repo_url: https://charts.jetstack.io
    repo_name: jetstack
    name: cert-manager
    ref: jetstack/cert-manager
    version: v1.3.1
    namespace: cert-manager
    values_template: "templates/charts/cert-manager/cert-manager-values.yaml.j2"
    post_config_template: "templates/charts/cert-manager/cert-manager-post-config.yaml.j2"
