apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: oauth-proxy-vault-config
    files: 
      - vault-agent.hcl

images:
  - name: oauth2-proxy
    newName: "quay.io/oauth2-proxy/oauth2-proxy"
    newTag: "v7.4.0"

resources:
  - deployment.yaml
  - service.yaml
