opensearchHosts: "http://opensearch-cluster-master:9200"
ingress:
  enabled: true
  annotations:
    "cert-manager.io/cluster-issuer" : "letsencrypt-prod"
    "kubernetes.io/ingress.class" : "nginx"
  hosts:
  - host: {{ chart.opensearch_dashboard_host }}
    paths:
      - path: /
        backend:
          serviceName: opensearch-dashboard-opensearch-dashboards
          servicePort: 5601
  tls:
    - secretName: opensearch-dashboard-tls-secret
      hosts:
        - {{ chart.opensearch_dashboard_host }}

extraEnvs:
  - name: OPENSEARCH_USERNAME
    value: '{{ chart.opensearch_username }}'
  - name: OPENSEARCH_PASSWORD
    value: '{{ chart.opensearch_password }}'

