[defaults]
# Configure remote tmp directory for Ansible when connecting to pods
# /tmp is universally writable and the kubectl plugin can create temp dirs there
remote_tmp = /tmp
# Set the default remote user to zuul (matches pod user)
remote_user = zuul
