apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: <vault:secret/data/zuul/preprod/kube#ca_cert>
    server: <vault:secret/data/zuul/preprod/kube#server>
  name: zuul-preprod-cluster
contexts:
- context:
    cluster: zuul-preprod-cluster
    user: zuul-preprod-user
  name: zuul-preprod-context
current-context: zuul-preprod-context
users:
- name: zuul-preprod-user
  user:
    token: <vault:secret/data/zuul/preprod/kube#token>
