# Kubernetes configuration for preprod nodepool
# This file will be populated by ArgoCD Vault Plugin
apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: <vault:secret/data/zuul/preprod/kube#ca_cert>
    server: <vault:secret/data/zuul/preprod/kube#server>
  name: preprod-cluster
contexts:
- context:
    cluster: preprod-cluster
    user: zuul-user
  name: preprod
current-context: preprod
users:
- name: zuul-user
  user:
    token: <vault:secret/data/zuul/preprod/kube#token>
