---
apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-config
stringData:
  oauth2-proxy.cfg: |
    # Network configuration
    http_address = "0.0.0.0:4180"

    # OIDC Provider configuration
    provider = "oidc"
    oidc_issuer_url = "https://<path:secret/data/zitadel/config#base_url>"
    skip_oidc_discovery = false

    redirect_url = "https://<path:secret/data/docsportal/helpcenter_swiss_internal/config#base_url>/oauth2/callback"
    whitelist_domains = [
        "<path:secret/data/docsportal/helpcenter_swiss_internal/config#base_url>"
    ]
    email_domains = [
        "telekom.de",
        "t-systems.com"
    ]
    upstreams = [
        "http://document-hosting.helpcenter-swiss-int.svc.cluster.local:8080"
    ]
    insecure_oidc_allow_unverified_email = true
    client_id = "<path:secret/data/docsportal/helpcenter_swiss_internal/zitadel#clientId>"
    client_secret = "<path:secret/data/docsportal/helpcenter_swiss_internal/zitadel#clientSecret>"
    cookie_secret = "<path:secret/data/docsportal/helpcenter_swiss_internal/zitadel#cookieSecret>"
    # Temporarily remove group restriction for testing
    # allowed_groups = [
    #     "/hc-swiss-internal"
    # ]
