default: &default_vars
  alerta_smtp_host: 'out-cloud.mms.t-systems-service.com:25'
  alerta_smtp_from_address: alerts@alerts.eco.tsi-dev.otc-service.com
  alerta_heartbeat_timeout: 300
  alerta_image: "quay.io/opentelekomcloud/alerta:8.4.1"
  alerta_add_host: "ldap.internal:172.0.0.1"
  alerta_auth_provider: ldap
  alerta_auth_options_str:
    LDAP_URL: "ldaps://ldap.internal:636"
    LDAP_DEFAULT_DOMAIN: "example.com"
  alerta_auth_options_non_str:
    LDAP_ALLOW_SELF_SIGNED_CERT: False
  alerta_allowed_environments: ['Prod', 'Dev']
  alerta_plugins_options:
    ZULIP_SITE: "https://zulip.internal"
    ZULIP_EMAIL: "apimon@zulip.example.com"

#alerta_instances:
#  production_stg:
#    default: *default_vars
#    alerta_columns:
#      - severity
#      - status
#      - lastReceiveTime
#      - duplicateCount
#      - environment
#      - service
#      - resource
#      - event
#      - value
#      - text
#    
#    alerta_plugins:
#      - blackout
#      - zulip
#    
#    firewalld_extra_ports_enable: ['8080/tcp']
  
alerta_instances_secrets:
  production_stg:
    alerta_db_url: "postgresql://fake"
    alerta_zulip_api_key: "apikey"
    alerta_admin_key: "adminkey"
    alerta_secret_key: "adminkey"
    alerta_api_key: "apikey"
    alerta_admin_users: "admin"
    alerta_bind_password: "password"

alerta_instance: production_stg
