apimon_epmon_config_template: "templates/apimon/epmon-config.yaml.j2"
apimon_epmon_secure_config_template: "templates/apimon/epmon-secure-config.yaml.j2"
apimon_epmon_secure_file_location: "/etc/apimon/apimon-epmon-secure.yaml"
epmon_secure_config_file_name: "apimon-epmon-secure.yaml"
service_a:
  a:
    urls:
      - "/"
  a1:

service_b:
  b:
    urls:
      - "/"
  b1:
