apimon_all_clouds:
  otcapimon_probes1:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes2:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes3:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes4:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes5:
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes6:
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes11:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes12:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes13:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes14:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn

  otcapimon_preprod:
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_hybrid_eum:
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_hybrid_sbb:
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
    vendor_hook: "otcextensions.sdk:load"
  otcapimon_stg_probes1:
    profile: fake
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
    object_store_endpoint_override: fake
  otcapimon_csm1:
    profile: fake
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
    object_store_endpoint_override: fake
  otcapimon_logs:
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
    vendor_hook: "otcextensions.sdk:load"
  otcapimon_logs_stg:
    auth:
      auth_url: url
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
    vendor_hook: "otcextensions.sdk:load"
    object_store_endpoint_override: fake
