# Necessary for fake clouds.yaml to be written
clouds:
  otcdns:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes1:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes2:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes3:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_probes4:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
    
