# Necessary for fake clouds.yaml to be written
clouds:
  otcdns:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otc_tests_admin:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otcinfra_domain3_admin:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otcinfra_domain3:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otc_swift:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_pool1:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_pool2:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn

cloud_users:
  - cloud: fake
    domain: fake
    name: fake
    password: fake
