# Necessary for fake clouds.yaml to be written
clouds:
  otcdns:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otc_tests_admin:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otcinfra_domain1_admin:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
  otcinfra_domain2_admin:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
  otcinfra_domain3_admin:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otcinfra_domain2:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otcinfra_domain3:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otcci_main:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
  otcci_pool1:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
  otcci_pool2:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
  otcci_pool3:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
  otcci_logs:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
    object_store_endpoint_override: object_store_endpoint_override

  otc_vault_448_de_cloudmon:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
  otc_vault_448_nl_cloudmon:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn

  otcinfra_docs:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
    object_store_endpoint_override: object_store_endpoint_override

  otcinfra_docs_int:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
    object_store_endpoint_override: object_store_endpoint_override
  otcinfra_docs_hc:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
      domain_name: dn
    object_store_endpoint_override: object_store_endpoint_override

  otc_swift:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_pool1:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn
  otcapimon_pool2:
    auth:
      username: username
      password: pwd
      project_name: pn
      user_domain_name: udn

cloud_users:
  user1:
    cloud: fake
    domain: fake
    name: fake
    password: fake
