gitea_internal_token: "dummy-token"
gitea_secret_key: "dummy-secret-key"
gitea_db_type: "sqlite3"
gitea_cert: "gitea"

gitea_smtp_from_address: "gitea@smtp.local"
gitea_smtp_host: "localhost"
gitea_smtp_username: "username"
gitea_smtp_password: "dummy"
