firewalld_extra_ports_enable: ['3000/tcp', '8081/tcp']
grafana_instances_secrets:
  production_vc:
    grafana_security_admin_password: foobar
    grafana_auth_github_enable: true
    grafana_auth_github_client_id: grafana
    grafana_auth_github_client_secret: secret
    grafana_auth_github_allowed_orgs: opentelekomcloud-infra
    
    grafana_auth_ldap_enable: false

grafana_instance: production_vc
