nodepool_pool1_username: user
nodepool_pool1_password: password
nodepool_pool1_project: project
nodepool_pool1_user_domain_name: udn
nodepool_pool2_username: user
nodepool_pool2_password: password
nodepool_pool2_project: project
nodepool_pool2_user_domain_name: udn
nodepool_pool3_username: user
nodepool_pool3_password: password
nodepool_pool3_project: project
nodepool_pool3_user_domain_name: udn
