apiVersion: batch/v1
kind: CronJob
metadata:
  name: eyes-on-docs-huawei
spec:
  concurrencyPolicy: Forbid
  schedule: "30 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccount: "eyes-on-docs"
          restartPolicy: OnFailure
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          containers:
            - name: eyes-on-docs-huawei
              image: quay.io/opentelekomcloud/eyes_on_docs
              imagePullPolicy: IfNotPresent
              command:
              - "/bin/sh"
              - "-c"
              args:
              - "python3 main.py --eod10"
              envFrom:
              - secretRef:
                  name: eyes-on-docs-credentials
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                  - ALL
                readOnlyRootFilesystem: false
                runAsNonRoot: true
                runAsUser: 1000
              resources:
                limits:
                  cpu: "500m"
                  memory: "512Mi"
                requests:
                  cpu: "100m"
                  memory: "128Mi"
