{
   "graphiteHost": "{{ statsd_graphite_host }}",
   "graphitePort": {{ statsd_graphite_port }},
   "graphitePicklePort": {{ statsd_graphite_port_pickle }},
   "graphiteProtocol": "{{ statsd_graphite_protocol }}",
   "graphite": {
     "legacyNamespace": {{ statsd_legacy_namespace }},
   },
   # "port": 8125,
   "flushInterval": 10000,
   "servers": [{
     "server": "{{ statsd_server }}",
     "address": "0.0.0.0",
     "port": 8125
   }],
   deleteTimers: {{ statsd_delete_timers }},
   deleteGauges: {{ statsd_delete_gauges }},
   deleteCounters: {{ statsd_delete_counters }},
   deleteSets: {{ statsd_delete_sets }},
}
