[Unit]
Description=StatsD container
Wants=syslog.service

[Service]
Type=simple
Restart=always
TimeoutSec=30s

ExecStartPre=-{{ container_runtime }} system migrate
ExecStartPre=-{{ container_runtime }} rm "statsd"

ExecStart={{ container_runtime }} run \
  --network host \
  --name "statsd" \
  --log-opt=path=/dev/null \
  -v {{ statsd_config_location }}/config.js:/usr/src/app/config.js:ro \
  {{ statsd_image }}

ExecReload=-{{ container_runtime }} stop "statsd"
ExecReload=-{{ container_runtime }} rm "statsd"

ExecStop={{ container_runtime }} stop -t 10 "statsd"

[Install]
WantedBy=multi-user.target
