apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: "loki"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "system-config"
data:
  auth: "{{ loki.loki_basic_auth_credentials | string | b64encode }}"
