- hosts: cloud-launcher:!disabled
  name: "Manage cloud Identity stuff"
  become: true
  tasks:
    - name: Manage projects
      openstack.cloud.project:
        cloud: "{{ item.cloud }}"
        name: "{{ item.name }}"
        description: "{{ item.description | default(omit) }}"
        domain_id: "{{ item.domain | default(omit) }}"
      loop: "{{ cloud_projects }}"

    - name: Manage user groups
      openstack.cloud.identity_group:
        cloud: "{{ item.cloud }}"
        name: "{{ item.name }}"
      loop: "{{ cloud_user_groups }}"

    - name: Create users
      #no_log: true
      ignore_errors: true
      openstack.cloud.identity_user:
        cloud: "{{ item.value.cloud | mandatory }}"
        domain: "{{ item.value.domain }}"
        name: "{{ item.value.username }}"
        password: "{{ item.value.password }}"
        email: "{{ item.value.email | default(omit) }}"
        description: "{{ item.value.description | default(omit) }}"
        update_password: "{{ item.value.update_password | default(omit) }}"
        default_project: "{{ item.value.default_project | default(omit) }}"
        enabled: "{{ item.value.enabled | default(omit) }}"
      loop: "{{ cloud_users | dict2items }}"
      when: "item.value.cloud is defined and item.value.cloud"

    - name: Manage user groups assignments
      cloud_user_group_assignment:
        cloud: "{{ item.cloud }}"
        group: "{{ item.group }}"
        users: "{{ item.users }}"
      loop: "{{ cloud_user_group_assignments }}"

    - name: Manage role assignments
      cloud_role_assignment:
        cloud: "{{ item.cloud }}"
        role: "{{ item.role }}"
        projects: "{{ item.projects }}"
        groups: "{{ item.groups }}"
        state: "{{ item.state | default('present') }}"
      loop: "{{ cloud_role_assignments }}"

    - name: Manage IAM custom policies
      opentelekomcloud.cloud.identity_policy:
        cloud: "{{ item.cloud }}"
        name: "{{ item.name }}"
        description: "{{ item.description | default(omit) }}"
        type: "{{ item.policy_type }}"
        policy: "{{ item.policy_document | to_json }}"
        state: present
      loop: "{{ cloud_iam_policies | default([]) }}"
      when: cloud_iam_policies is defined

    - name: Attach IAM policies to users
      opentelekomcloud.cloud.identity_role_assignment:
        cloud: "{{ item.cloud }}"
        project: "{{ item.project }}"
        user: "{{ user_item }}"
        role: "{{ item.policy_name }}"
        state: present
      loop: "{{ cloud_iam_policy_attachments | default([]) }}"
      loop_control:
        loop_var: item
      with_subelements:
        - "{{ cloud_iam_policy_attachments | default([]) }}"
        - users
      loop_control:
        loop_var: user_item
      when: cloud_iam_policy_attachments is defined
