apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dependencytrack
  namespace: argocd
spec:
  destination:
    namespace: dependencytrack
    server: https://kubernetes.default.svc
  project: system-config
  source:
    path: kubernetes/kustomize/dep-track/overlays/prod
    repoURL: https://github.com/opentelekomcloud-infra/system-config
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - PruneLast=true
