---
# Nodepool openstacksdk configuration for preprod
# This file is deployed to nodepool launcher and builder hosts
# and is used there to authenticate nodepool operations to clouds.
# ArgoCD Vault Plugin will replace vault references with actual values
#
cache:
  expiration:
    server: 5
    port: 5
    floating-ip: 5
clouds:
  otcci-pool1:
    auth:
      auth_url: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool1#auth_url>
      user_domain_name: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool1#user_domain_name>
      username: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool1#username>
      password: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool1#password>
      project_name: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool1#project_name>
    private: true
  otcci-pool2:
    auth:
      auth_url: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool2#auth_url>
      user_domain_name: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool2#user_domain_name>
      username: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool2#username>
      password: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool2#password>
      project_name: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool2#project_name>
    private: true
  otcci-pool3:
    auth:
      auth_url: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool3#auth_url>
      user_domain_name: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool3#user_domain_name>
      username: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool3#username>
      password: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool3#password>
      project_name: <vault:secret/data/zuul/preprod/clouds/otcci_nodepool_pool3#project_name>
    private: true
