---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: zuul

components:
  - ../../components/zuul-client
  - ../../components/zuul-merger
  - ../../components/nodepool-builder
  - ../../components/restarter

configMapGenerator:
  - name: "zuul-instance-config"
    literals:
      - ZUUL_CONFIG_REPO=https://github.com/opentelekomcloud-infra/zuul-config/
      - ZUUL_CONFIG_BRANCH=preprod
  - name: "nodepool-config-yaml"
    files:
      - "configs/nodepool.yaml"

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/instance: zuul-preprod
      app.kubernetes.io/environment: preprod

images:
  - name: "busybox"
    newName: "quay.io/opentelekomcloud/busybox"
    newTag: "1.36.0-musl"

  - name: "zuul/zuul-executor"
    newName: "quay.io/opentelekomcloud/zuul-executor"
    newTag: "change_774_change_859940"

  - name: "zuul/zuul-merger"
    newName: "quay.io/opentelekomcloud/zuul-merger"
    newTag: "change_774_change_859940"

  - name: "zuul/zuul-scheduler"
    newName: "quay.io/opentelekomcloud/zuul-scheduler"
    newTag: "change_774_change_859940"

  - name: "zuul/zuul-web"
    newName: "quay.io/opentelekomcloud/zuul-web"
    newTag: "change_774_change_859940"

  - name: "zuul/nodepool-builder"
    newName: "quay.io/opentelekomcloud/nodepool-builder"
    newTag: "8.2.0"

  - name: "zuul/nodepool-launcher"
    newName: "quay.io/opentelekomcloud/nodepool-launcher"
    newTag: "8.2.0"

resources:
  - zuul-config-pv.yaml
  - crb.yaml
  - crb_admin.yaml

bases:
  - ../../base

patches:
  - path: zuul-config-pvc.yaml
    target:
      kind: PersistentVolumeClaim
      name: zuul-config
  - path: zuul-config-deployment.yaml
  - path: zookeeper-statefulset.yaml
  - path: zookeeper-cert-patch.yaml
  - path: zuul-executor-statefulset.yaml
  - path: zuul-scheduler-deployment.yaml
  - path: zuul-web-ingress.yaml
  - path: zuul-volumes-patch.yaml
  - path: zuul-executor-volumes-patch.yaml
  - path: zuul-merger-volumes-patch.yaml
  - path: zuul-web-volumes-patch.yaml
  - path: nodepool-builder-patch.yaml

secretGenerator:
  - name: zuul-config
    behavior: replace
    options:
      disableNameSuffixHash: true
    files:
      - configs/zuul.conf
  - name: nodepool-config
    behavior: replace
    options:
      disableNameSuffixHash: true
    files:
      - configs/openstack/clouds.yaml
  - name: zuul-ssh-keys
    type: Opaque
    options:
      disableNameSuffixHash: true
    literals:
      - github.key=<path:secret/data/zuul/connections/github#app_key>
      - gitlab.key=<path:secret/data/zuul/connections/gitlab#ssh_key>
      - executor-ssh.key=<path:secret/data/zuul/sshkey#private_key>
