---
apiVersion: batch/v1
kind: Job
metadata:
  name: swift-configure-staticweb
  namespace: swift-proxy
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: configure-staticweb
          image: python:3.11-slim
          command:
            - /bin/bash
            - -c
            - |
              pip install python-swiftclient python-keystoneclient
              swift post zuul-preprod-logs \
                -H "X-Container-Meta-Web-Index: index.html" \
                -H "X-Container-Meta-Web-Listings: true" \
                -H "X-Container-Read: .r:*,.rlistings"
          env:
            - name: OS_AUTH_TYPE
              value: "none"
            - name: OS_ENDPOINT
              value: "http://swift-proxy-preprod.swift-proxy.svc.cluster.local:8080/v1/AUTH_zuul-preprod-logs"
