---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zookeeper
spec:
  replicas: 3
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        storageClassName: csi-disk
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi
