---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: zuul-config-sfs-turbo
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  mountOptions:
    - vers=3
    - nolock
    - noresvport
  nfs:
    path: /
    server: 192.168.150.233
