---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zuul-config
spec:
  template:
    spec:
      initContainers:
        - name: git-fetcher
          args:
            - "cd /data && (test -d .git || git clone -b $ZUUL_CONFIG_BRANCH $ZUUL_CONFIG_REPO .)"
          env:
            - name: ZUUL_CONFIG_BRANCH
              valueFrom:
                configMapKeyRef:
                  name: zuul-instance-config
                  key: ZUUL_CONFIG_BRANCH
      containers:
        - name: git-syncer
          args:
            - "while :; do cd /data && (test -d .git && (git fetch && git checkout $ZUUL_CONFIG_BRANCH && git pull) || git clone -b $ZUUL_CONFIG_BRANCH $ZUUL_CONFIG_REPO .); sleep 60; done"
          env:
            - name: ZUUL_CONFIG_BRANCH
              valueFrom:
                configMapKeyRef:
                  name: zuul-instance-config
                  key: ZUUL_CONFIG_BRANCH
