---
# Mount SSH keys for executors and shared NFS for builds
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zuul-executor
spec:
  template:
    spec:
      volumes:
        - name: zuul-ssh-keys
          secret:
            secretName: zuul-ssh-keys
            defaultMode: 0600
        - name: zuul-builds-shared
          persistentVolumeClaim:
            claimName: zuul-config
      containers:
        - name: zuul
          volumeMounts:
            - name: zuul-ssh-keys
              mountPath: /var/lib/zuul-ssh
              readOnly: true
            - name: zuul-builds-shared
              mountPath: /var/lib/zuul/builds
              subPath: builds
