---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zuul-executor
spec:
  template:
    spec:
      containers:
        - name: executor
          resources:
            limits:
              memory: "16G"
              cpu: "4"
            requests:
              cpu: "2"
              memory: "16G"
