---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zuul-executor
spec:
  template:
    spec:
      containers:
        - name: zuul
          resources:
            limits:
              memory: "8G"
              cpu: "2"
            requests:
              cpu: "1"
              memory: "8G"
