apiVersion: v1
kind: Service
metadata:
  name: gitea-webhook-translator
  labels:
    app: gitea-webhook-translator
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: gitea-webhook-translator
