apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    app.kubernetes.io/name: "opensearch"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "system-config"
  annotations:
    kubernetes.io/ingress.class: nginx
    # add an annotation indicating the issuer to use.
{% if opensearch.cluster_issuer is defined %}
    cert-manager.io/cluster-issuer: "{{ opensearch.cluster_issuer }}"
{% endif %}
spec:
  rules:
  - host: "{{ opensearch.opensearch_fqdn }}"
    http:
      paths:
      - backend:
          service:
            name: "{{ opensearch_service_name }}"
            port: 
              number: 9200
        path: /
        pathType: Prefix
  tls: 
  - hosts:
    - "{{ opensearch.opensearch_fqdn }}"
    secretName: "{{ opensearch_tls_name }}"
