---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - serviceaccount.yaml
  - secret.yaml
  - poddisruptionbudget.yaml
  - ingress.yaml

images:
  - name: oauth2-proxy
    newName: "quay.io/oauth2-proxy/oauth2-proxy"
    newTag: "v7.13.0"
