{% if k8s_17 == True %}
apiVersion: networking.k8s.io/v1beta1
{% else %}
apiVersion: networking.k8s.io/v1
{% endif %}
kind: Ingress
metadata:
  labels:
    app.kubernetes.io/name: "grafana"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "system-config"
  annotations:
    # add an annotation indicating the issuer to use.
    route.openshift.io/termination: "edge"
{% if grafana.cluster_issuer is defined %}
    cert-manager.io/cluster-issuer: "{{ grafana.cluster_issuer }}"
{% endif %}
spec:
  rules:
  - host: "{{ grafana.fqdn }}"
    http:
      paths:
      - backend:
{% if k8s_17 == True %}
            serviceName: "{{ grafana_service_name }}"
            servicePort: 3000
{% else %}
          service:
            name: "{{ grafana_service_name }}"
            port: 
              number: 3000
{% endif %}
        path: /
        pathType: Prefix
  tls: 
  - hosts:
    - "{{ grafana.fqdn }}"
    secretName: "{{ grafana_ssl_cert_name }}"
